[2020-01-15 15:32] teolemon commented on #321
Here are some complementary screenshots of the Android implementation
![image](https://user-images.githubusercontent.com/1689815/72446808-84361800-37b4-11ea-8691-23487e6afe7a.png)
![image](https://user-images.githubusercontent.com/1689815/72446828-8c8e5300-37b4-11ea-83b4-a74bc4aa3fb6.png)
![image](https://user-images.githubusercontent.com/1689815/72446851-9748e800-37b4-11ea-9c9c-cb76769e9dd6.png)

[2020-01-16 18:41] jmtome commented on #421
Has this been done already? if not, I could help.

[2020-01-17 09:04] aleene commented on #421
Please go ahead.

[2020-01-17 19:41] jmtome commented on #421
Hasn’t @pacocd done this already? What’s the issue with his pull request ?

[2020-01-18 09:15] aleene commented on #421
Indeed I do not know what the issue is. Just a merge issue? Has is been finished? Does it work?

If you could investigate, it would be great.

[2020-01-26 14:42] teolemon commented on #321
Reopening

[2020-01-28 09:49] aleene opened #559 "Loop of analysis logos"
![IMG_1164](https://user-images.githubusercontent.com/1329905/73252843-b899d300-41bb-11ea-8bcd-7d7c66f0098f.png)
Is in latest master.

[2020-01-28 09:54] philippeauriach commented on #559
Its beautiful :)
Do you have any steps to reproduce ? Or is it on this product in particular ?

[2020-01-28 09:56] aleene commented on #559
Pull down the product page.

[2020-01-28 09:57] philippeauriach commented on #559
It is a recylcing cell issue, I forgot to empty it before adding the new ones. fixing that right away

[2020-01-28 10:04] #559 closed

[2020-01-29 11:13] teolemon commented on #321
- The nag (when no ingredients are available) is not shown
- the app crashes on barcode 3267031040086

[2020-02-01 21:27] bredowmax opened #562 "Taking images with OFF in sub-ideal light conditions results in unsharp focus. Does optical stabilisation not work?"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**
Optical stabilisation seems to be deactivated in OFF. As soon as it gets a bit da

[2020-02-01 21:33] bredowmax opened #563 "Support for Code 128 Barcodes"
**Summary:**
Some products (mostly freshly packaged products with varying weight or price) have Code 128 barcodes that the OFF app does not currently support. The Scandit app does find it

**Screenshots:**
<img width="1050" alt="Screenshot 2020-02-01 at 16 08 58" src="https://user-images.githubusercontent.com/30573532/73599344-6553b780-4510-11ea-8278-eb07fa76d4e2.png">

**What is Code 128?**
https

[2020-02-01 21:36] bredowmax commented on #501
+1

Often, it would just spin forever. Also, once I clicked ‘save’, the only way to escape this menu is ‘cancel’. That’s counterintuitive because it makes me think I don’t want to save my edits.

**Suggestion**
Once all edits are done and ‘save’ is pressed, ‘save’ could turn into ‘done’

More on this: https://openfoodfacts.slack.com/archives/C02SSQ02N/p1578757506005700

[2020-02-01 21:41] bredowmax opened #564 "Feature request: Quickly jump/skip to next/last input field"
**Summary:**
When adding a new product, I’d love if I could jump up and down fields like Chrome and Safari often offer me to with these arrows

**Expected behavior:**
I would like to quickly skip/jump to other fields
![Image from iOS](https://user-images.githubusercontent.com/30573532/73599439-6f29ea80-4511-11ea-9648-78800dfc2ac9.png)

**Observed behavior:**
![Image from iOS (1)](https://user-imag

[2020-02-01 21:46] bredowmax opened #565 "Feature request: Support for DataBars & PLU (Price Look-Up code)"
**Summary:**
In US, these are quite a lot more popular than in Germany. I've seen them at
- TraderJoes
- H-Mart
- Roche Bros.
- Whole Foods
- Tesco
- Aldi US
- Star Market

So far, I haven't seen any US retailer that does not use them.

**Screenshots:**
![Image from iOS (1)](https://user-images.githubusercontent.com/30573532/73599478-f4ad9a80-4511-11ea-9c8d-f9cb70512614.jpg)

More available on htt

[2020-02-01 21:52] bredowmax commented on #563
Another example, this time in Germany: https://world.openfoodfacts.org/product/2312251310191757006523

[2020-02-01 22:49] bredowmax opened #566 "Feature Request: (Optional) Geolocation for faster tagging, more relevant results, support for internal barcode ranges"
**Summary**
Allow the iOS app to collect geolocation of the user when scanning a product. This may make tagging more convenient (e.g. serve suggestions for Hunger Games for country, city, retailer), and it may result in more relevant search results when scanning ambiguous barcodes.

**Problem**
Being in US, I came across quite a few product scans within the RCN-range that resulted in completely di

[2020-02-01 23:05] bredowmax opened #567 "When scanning an unknown product, allow user to opt out of adding it to the database"
**Problem**
Feature #15 immediately asks the user to add a product when scanning an unknown product. I argue forcing this is a bad user experience, and the open-new-product-procedure should be entirely optional.

**Context**
Here in US, typically not more than 10% of products are listed on OFF. This makes OFF unusable to use while shopping, since every single time I'm asked to provide as much info

[2020-02-01 23:09] bredowmax commented on #567
This is a recording of my screen in a US supermarket (Whole Foods) trying to scan products
https://vimeo.com/388744981

[2020-02-02 10:10] aleene commented on #563
This is a "feature" of the barcodescanner that OFF uses. Or does is this not seen as a valid code? My app does recognizes this code.

[2020-02-02 10:18] aleene commented on #562
This might also depend on the library used. The basic Swift library does not allow the user to change any settings. Guess it will require a big change to support this.

[2020-02-02 10:42] aleene commented on #565
The stacked GS1 databar is not a standard supported code of ios.

[2020-02-02 10:54] aleene commented on #565
I am not able to track down any GS1 barcode reader support for GS1 on Github.

[2020-02-02 11:12] bredowmax commented on #565
I know that Scandit supports it

On Sun, Feb 2, 2020 at 05:54 Arnaud Leene <notifications@github.com> wrote:

--
_______________________________
*Max Bredow*
Mobile +49 170 706 11 74
Skype: max_bredow
Book a meeting easily here <https://calendly.com/bredowmax>

[2020-02-02 11:18] bredowmax commented on #562
https://developer.apple.com/documentation/avfoundation/avcapturephotosettings/1648710-autostillimagestabilizationenabl

Apple says image stabilization is on by default unless the output is raw or
flash is active

On Sun, Feb 2, 2020 at 05:18 Arnaud Leene <notifications@github.com> wrote:

--
_______________________________
*Max Bredow*
Mobile +49 170 706 11 74
Skype: max_bredow
Book a meeting easi

[2020-02-02 11:33] aleene commented on #564
Checkout keyboard accessory on Github.

[2020-02-02 11:38] aleene commented on #565
I think we rather have a non-commercial implementation.

[2020-02-02 11:42] bredowmax commented on #563
![F474BEC8-2BFD-43F6-B3A1-35FE81E59BAF](https://user-images.githubusercontent.com/30573532/73607673-17c66180-4587-11ea-872f-f0be915c78a9.png)

If I wanted to add the product manually to OFF - what is the correct code? The 16 digits?

[2020-02-02 11:43] bredowmax commented on #565
![BC6E40A6-2C52-43C9-8554-A919B756A3A1](https://user-images.githubusercontent.com/30573532/73607685-4c3a1d80-4587-11ea-923a-b6bbafd5c570.png)

If I wanted to manually add this product to OFF. Would I simply use that 16 digit code?

[2020-02-02 12:17] aleene commented on #565
I'll ask on Slack

[2020-02-02 12:24] aleene commented on #562
Depends on the library used. They offer a simple implementation outside their AV library. Need to investigate this.

[2020-02-02 13:01] bredowmax commented on #563
True, the Edeka example works on my iOS OFF. The WholeFoods one, however, does not get recognised by OFF (Scandit says both codes are a Code 128 code)

[2020-02-02 13:02] bredowmax commented on #563
The Edeka example has 22 digits, but the Whole Foods example has 27 digits

[2020-02-02 13:07] aleene commented on #563
Maybe there is a number of digits check.

[2020-02-03 12:47] aleene opened #568 "Crash on barcode 3267031040086"
Submitted by @teolemon
https://barcode.tec-it.com/en/EAN13?data=3267031040086

[2020-02-03 12:54] aleene commented on #568
Can not reproduce it, neither by scanning, nor by searching. Works ok.

There was a crash on an iPhone 5s, but the report was not very helpful.

[2020-02-03 13:21] aleene opened #569 "Floating ingredient analysis icons appear when no barcode is detected"
**Summary:**
ingredient analysis are shown, when no barcode is detected. Is this the correct placement of the icons? They also appear on a positive scan result.
![IMG_1174](https://user-images.githubusercontent.com/1329905/73656403-54ca4b00-4690-11ea-8d6d-019b72eb3391.png)

**Steps to reproduce:**
In scanner-mode, just wait and they appear if no barcode has been found. It seems to show the icons f

[2020-02-04 09:35] philippeauriach commented on #535
Having a bit of experience with this kind of features, I suggest the following :
- having some kind of "decision tree" to ask only user actively using the app, or at least having used a specific feature (such as scanned a product or contributing), to avoid bad reviews from people not using the app deeply enough
- using directly the skstorereviewcontroller provided by apple : Apple decide if the po

[2020-02-04 10:12] teolemon commented on #535
Thanks for the input @philippeauriach
I was thinking we could use the fact that the user is logged in as a proxy for happiness and engagement.

[2020-02-04 12:46] teolemon opened #573 "Add a link to the webversion for power users"
[code]

be able to go to the web product page from the app's product page. This would allow you to see the dates of addition and modification, nutritional averages or the authors of the photos.

[2020-02-04 18:50] anubhavsingh16 commented on #535
@teolemon According to apple guideline we use only recommended API for rating iOS apps?

[2020-02-04 20:54] teolemon opened #574 "Layout issue on the additive analysis on an IPhone 5S"
![image](https://user-images.githubusercontent.com/1689815/73786049-d0afba80-4798-11ea-9a7f-4198c4f8b3cb.png)

[2020-02-04 20:57] teolemon opened #575 "Nag for ingredients when photo added but ingredients not extracted"
![image](https://user-images.githubusercontent.com/1689815/73787527-c93de080-479b-11ea-95e5-3d36a428402d.png)

Nag for ingredients when photo added but ingredients not extracted

[2020-02-04 20:57] teolemon commented on #575
3270160861880

[2020-02-04 20:58] teolemon opened #576 "Clipped ingredient analysis text on small phone (5S)"
![image](https://user-images.githubusercontent.com/1689815/73786382-7105df00-4799-11ea-9c0e-86906a418a9c.png)
Clipped ingredient analysis text on small phone (5S). Is there a better way to handle this ?

[2020-02-04 21:00] teolemon opened #577 "Product addition blocked"
![image](https://user-images.githubusercontent.com/1689815/73786453-a0b4e700-4799-11ea-95fc-a0a612843109.png)
Hitting save on a blocked photo upload blocks you in the addition view. I would expect the photos to upload in the background.

[2020-02-04 21:08] aleene commented on #574
The text should be multiline and scalable for accessibility.

[2020-02-04 21:10] aleene commented on #575
What is exactly the issue?

[2020-02-04 21:10] aleene commented on #576
Multiline i guess.

[2020-02-04 21:14] teolemon opened #579 "Nag for photos of ingredients not showing"
![image](https://user-images.githubusercontent.com/1689815/73787441-972c7e80-479b-11ea-9ab9-500708d17bc4.png)
Nag for photos of ingredients not showing
5942325000066

[2020-02-04 21:16] teolemon commented on #575
Normally, we should have grey boxes that, when clicked, suggest you to add the ingredients

[2020-02-05 08:28] aleene commented on #573
This should be part of the share button. #61 and #64.

[2020-02-05 17:08] anubhavsingh16 commented on #535
@teolemon Can I do with Storekit framework?

[2020-02-05 18:06] aleene commented on #574
The constraints might need some work. And the fonts should change to
`UIFont(descriptor: UIFontDescriptor.preferredFontDescriptor(withTextStyle: UIFont.TextStyle.body), size: UIFontDescriptor.preferredFontDescriptor(withTextStyle: UIFont.TextStyle.body).pointSize)`

[2020-02-05 18:21] aleene commented on #574
BLTNPageItem does not work on the iPad. It does not adapt itself to multi-application circumstances. It works only on full screen. In other circumstances it is off screen.

[2020-02-05 22:30] teolemon commented on #575
fixed in trunk, but not in the testflight release. sorry for the noise

[2020-02-05 22:30] #575 closed

[2020-02-05 22:31] teolemon commented on #579
fixed in trunk but not in testflight release. sorry for the noise. closing

[2020-02-05 22:31] #579 closed

[2020-02-05 22:49] teolemon opened #580 "Can't exit product edition"
Happens when coming from ingredient analysis, but possibly in other scenarii.
Steps to reproduce in this video:
https://photos.app.goo.gl/VArjpock2VEJ3riQ9

[2020-02-05 22:54] teolemon opened #581 "Can't go back to ingredient analysis nag or product edition after login"
Can't go back to ingredient analysis nag or product edition after login
Step 1 to reproduce: https://photos.app.goo.gl/GwF4oH7kaSAybQFaA
Step 2 to reproduce: https://photos.app.goo.gl/9y4QybYd58QHbzJUA

[2020-02-06 16:00] teolemon commented on #567
![image](https://user-images.githubusercontent.com/1689815/73954506-366b8600-4902-11ea-8de9-0291c4d8dc20.png)

[2020-02-06 16:09] teolemon commented on #565
https://developer.apple.com/documentation/vision/vnbarcodesymbology ?

[2020-02-06 16:09] teolemon commented on #563
https://developer.apple.com/documentation/vision/vnbarcodesymbology ?

[2020-02-07 10:31] bredowmax commented on #567
This is great! I’d like to add the barcode though that the app just read, and and that point trigger an animation.

Imagine I scanned two unknown barcodes after another. This way, the user could see that the app did in fact read the second one

[2020-02-07 10:38] bredowmax commented on #565
Hmm thanks @teolemon for this link - if I read this right, the standard iOS package doesn’t support it. (Scandit does, but I understand you won’t use it)

[2020-02-07 10:41] bredowmax commented on #563
Thanks @teolemon for the link. Yes, Code128 is on this list! As @aleene pointed out, Code128 is indeed supported - but apparently they can vary in length. A code with 27 digits was unsupported, so it could be a failed checking number test?

[2020-02-07 15:57] teolemon commented on #81
Found a code sample on GitHub: https://github.com/benprieur/PublicArtwork/blob/master/PublicArt/ViewController.swift

[2020-02-09 17:39] aleene commented on #563
Just checked: Code128 is supported in the IOS app and the Pastrami code is correctly read.

It is also shown in the history.

So for me there is no issue.

[2020-02-09 18:16] philippeauriach commented on #580
the "save" button in the upper right is only to save, it does not dismiss the view (same as if you clicked on a "save" button inside the form). To quit the form the button "cancel" works for me, does it for you ? Maybe we should rename it to "back" or "done"

[2020-02-09 18:17] teolemon commented on #580
The expected behaviour (I guess?) is to autosave on close.

[2020-02-09 18:28] philippeauriach commented on #580
Ok so save and close when tapping on save ?

[2020-02-09 18:31] philippeauriach commented on #580
Do we wait for the save to complete or we quit right away ?

[2020-02-09 18:33] teolemon commented on #580
if we can quit right away and complete the save in the background, all the better, but that would require a refresh ?

[2020-02-09 18:35] philippeauriach commented on #580
a refresh ?

[2020-02-09 18:36] teolemon commented on #580
in those cases, the user expects a result (vegan status, nutriscore…)
So if he/she hits save and see nothing, this is disappointing

[2020-02-09 18:39] philippeauriach commented on #580
Yes understood. We could launch a notification from the background when the update is done, and if the product is still displayed, then we reload. Coding that

[2020-02-10 11:00] #580 closed

[2020-02-10 11:00] #581 closed

[2020-02-10 15:11] teolemon opened #583 "Explain vegan-unknown when ingredients are completed (on the model of NOT-vegan)"
![image](https://user-images.githubusercontent.com/1689815/74164010-7775da00-4c23-11ea-9247-63801216888f.png)

https://world.openfoodfacts.org/api/v0/product/20573195.json
When we have a status that is unknown, we should try to explain why it's unknown, very much like the way we explain when it's not (vegan, vegetarian…)

*-status-unknown >> look for * property that has value "maybe" in "ingredien

[2020-02-10 15:21] teolemon opened #584 "Ingredient analysis not properly cleaned on barcode unknown"
Ingredient analysis not properly cleaned on barcode unknown
![image](https://user-images.githubusercontent.com/1689815/74162603-5318fe00-4c21-11ea-924c-5ceb2a3c582c.png)

[2020-02-10 15:30] teolemon opened #585 "Improve the layout of ingredient analysis"
![image](https://user-images.githubusercontent.com/1689815/74163496-c3744f00-4c22-11ea-8ec4-72bd20d8b30e.png)

Propositions to improve the layout of ingredient analysis

[2020-02-10 16:08] #545 closed

[2020-02-10 16:18] aleene commented on #585
Is this an issue of library as well?

[2020-02-15 09:05] #583 closed

[2020-02-15 09:05] #576 closed

[2020-02-15 09:05] #584 closed

[2020-02-15 09:20] #456 closed

[2020-02-15 09:21] teolemon commented on #536
Upping this one to very high priority.
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=4037400431758

[2020-02-15 09:23] teolemon commented on #536
I closed the previous one, that's exactly the same issue. People adding German (for instance) product get English as main language, and an additional English locale.
As the result, they don't get NOVA analysis, or they feel their data has disappeared.

[2020-02-15 13:12] aleene commented on #536
See also #456.

[2020-02-15 13:46] aleene commented on #536
Not sure this an issue. If you have your system set to dutch, it assumes you will also want to **create** products in dutch. What other language should it use? Should we detect the geographical location?

However if you **edit** an existing product in greek, it could assume that you are reading the package and are copying from greek. But then what language should be used for labels, categories, et

[2020-02-15 14:42] teolemon commented on #536
There, a German person created a German product in German with the app in German.
And the app set the main language as English. It should only add one language at a time, which is not the case here.

[2020-02-15 14:43] teolemon commented on #536
![Screenshot_20200215-154240](https://user-images.githubusercontent.com/1689815/74589902-e8453980-5009-11ea-8811-a6bf8efe622a.png)

[2020-02-15 17:59] aleene commented on #536
What product was that?

[2020-02-15 18:01] teolemon commented on #536
the one linked above

[2020-02-15 18:06] aleene commented on #536
So main language was set to english and then he continued to fill in in german.

[2020-02-15 18:08] teolemon commented on #536
The images were uploaded in German, and my theory is that we're not honoring the device language properly for the product name

[2020-02-15 18:11] aleene commented on #536
When I create a new product by barcode, it is set to the device language.

But when I save it, it converts to english

[2020-02-15 18:15] teolemon commented on #536
Below packaging, we have a language field which should be at the very top. (Languages - French). We should honor the currently selected language at create or edit. (If it says French, we do French, if the user selects another language, we refresh and show what we have for the other language)
Or better yet, we use a tabbed interface like for the website

[2020-02-15 18:17] teolemon commented on #536
https://github.com/openfoodfacts/openfoodfacts-ios/issues/271

[2020-02-15 18:17] teolemon commented on #536
https://github.com/openfoodfacts/openfoodfacts-ios/issues/540

[2020-02-15 18:17] teolemon commented on #536
https://github.com/openfoodfacts/openfoodfacts-ios/issues/357

[2020-02-15 18:24] aleene commented on #536
Let's first find out what is happening exactly.

[2020-02-15 18:55] aleene commented on #536
As far as I can see the product language is never set for new products and thus defaults always to english. Other info on the screen is just recovering from 'never set'.

[2020-02-16 13:58] teolemon opened #591 "Crash for product 4902121239467"
Scanning https://barcode.tec-it.com/en/EAN13?data=4902121239467 on iPhone 5S crashes. On a newer iPhone, it shows:
![image](https://user-images.githubusercontent.com/1689815/74605959-c3fe6100-50cc-11ea-8217-a534a91b1228.png)

[2020-02-16 14:40] aleene commented on #591
Can not confirm it on my iPad.

[2020-02-16 14:42] aleene commented on #591
Which build did you use?

[2020-02-16 14:43] teolemon commented on #591
42. (It's the answer to everything ;-) )

[2020-02-16 14:45] aleene commented on #591
No crash reported just yet. Didn't you have a crash earlier? I see one reported that is related to the BLTN library we use.

[2020-02-16 14:49] aleene commented on #591
Crash was here:
[code]

[2020-02-16 16:20] teolemon opened #593 "HTML characters in the product name"
It seems that in some cases, there are some HTML characters in the product name. The app is not digesting it well.
ean13-8717163809570
off-8717163809570

![image](https://user-images.githubusercontent.com/1689815/74608345-7b50a300-50e0-11ea-9a1a-20ccaed5bb47.png)

[2020-02-16 16:22] teolemon commented on #593
cc @stephanegigandet

[2020-02-16 16:33] aleene commented on #593
I think the &quot; is also in the json.

[2020-02-16 17:12] teolemon commented on #593
![image](https://user-images.githubusercontent.com/1689815/74609175-da65e600-50e7-11ea-8f89-53433022a925.png)
![image](https://user-images.githubusercontent.com/1689815/74609177-e2258a80-50e7-11ea-96dd-bf1c5cbce33d.png)
The behaviour is barely better in Android…

[2020-02-19 12:33] teolemon commented on #180
still relevant. We could show a button to open edition mode

[2020-02-19 12:35] #537 closed

[2020-02-20 08:03] chaubss commented on #553
Hi, I would like to work on this issue.

[2020-02-20 10:53] punss commented on #593
Is anybody actively working on this or would it be alright for me to go ahead and fix it?

[2020-02-20 11:08] teolemon commented on #593
I just assigned the issue to you @punss 👍

[2020-02-20 11:09] teolemon commented on #553
Hi @chaubss I just assiged the issue to you 👍

[2020-02-20 12:02] chaubss commented on #553
Thanks, I have made a pull request which fixes this. Could you please review it?

[2020-02-20 13:58] teolemon commented on #585
No, just some padding missing in the layout I think.
cc @philippeauriach

[2020-02-21 13:38] teolemon commented on #569
@aleene is this fixed ?

[2020-02-21 13:38] #548 closed

[2020-02-21 14:12] teolemon commented on #574
![image](https://user-images.githubusercontent.com/1689815/75041291-95153000-54bc-11ea-9603-eccb3d7a1d24.png)

[2020-02-21 17:54] aleene commented on #569
What part? The icons are ok, the placement stays the same.

[2020-02-22 08:27] #533 closed

[2020-02-22 08:27] #527 closed

[2020-02-22 08:27] #521 closed

[2020-02-22 08:30] #520 closed

[2020-02-22 08:31] #519 closed

[2020-02-22 08:31] #517 closed

[2020-02-22 08:31] #516 closed

[2020-02-22 08:31] #515 closed

[2020-02-22 08:32] #509 closed

[2020-02-22 08:32] #508 closed

[2020-02-22 08:32] #507 closed

[2020-02-22 08:33] #429 closed

[2020-02-22 08:34] #448 closed

[2020-02-22 08:49] #443 closed

[2020-02-22 08:50] #442 closed

[2020-02-22 08:50] #467 closed

[2020-02-22 08:50] #445 closed

[2020-02-22 08:50] #466 closed

[2020-02-22 08:51] #500 closed

[2020-02-22 08:51] #498 closed

[2020-02-22 08:52] #491 closed

[2020-02-22 08:52] #446 closed

[2020-02-22 08:53] #444 closed

[2020-02-22 08:53] #496 closed

[2020-02-22 08:53] #486 closed

[2020-02-22 08:53] #392 closed

[2020-02-22 08:54] #245 closed

[2020-02-22 08:54] #226 closed

[2020-02-22 08:54] #220 closed

[2020-02-22 08:54] #219 closed

[2020-02-22 08:57] #184 closed

[2020-02-22 08:58] #178 closed

[2020-02-22 08:59] #142 closed

[2020-02-22 08:59] #141 closed

[2020-02-22 08:59] #140 closed

[2020-02-22 08:59] #136 closed

[2020-02-22 08:59] #66 closed

[2020-02-22 09:00] #59 closed

[2020-02-22 09:00] #61 closed

[2020-02-22 12:25] #553 closed

[2020-02-22 19:49] #272 closed

[2020-02-23 19:40] teolemon opened #601 "Units not appearing in edit mode"
Clicking on it works, so it seems to be a dark mode issue. Product: 3560070846788
![image](https://user-images.githubusercontent.com/1689815/75118718-c3da0480-567c-11ea-9a35-6f13d446e0f1.png)

[2020-02-23 19:41] teolemon commented on #601
Clicking on it works, so it seems to be a dark mode issue

[2020-02-23 19:43] teolemon opened #602 "Problems with some non clickable links"
[code]

[2020-02-23 20:05] teolemon opened #603 "Dark mode issue for questions"
![image](https://user-images.githubusercontent.com/1689815/75119088-21bc1b80-5680-11ea-8d2c-92a16c81cff0.png)

[2020-02-23 20:24] teolemon opened #604 "Impossible to open products from history"
![ezgif-3-29e8dd2003cd](https://user-images.githubusercontent.com/1689815/75119402-e242fe80-5682-11ea-819b-7daa60459991.gif)

[2020-02-23 21:17] aleene commented on #603
What is the issue. the colour .blue stays blue in dark mode.

[2020-02-23 21:18] aleene commented on #602
Yes, we have to change the colours or add the links.

[2020-02-23 21:20] aleene commented on #601
Seems I can not confirm this.

[2020-02-24 06:46] teolemon commented on #603
You can't see the Yes/No/Maybe text below the 3 icons.

[2020-02-24 08:42] aleene commented on #604
Annoying. The app progresses to the pushDetail, but then nothing happens.

[2020-02-24 10:43] aleene commented on #604
It seems it happens in the String extension, which gets rid of the html encoding:

``
    var htmlDecoded: String {
        let decoded: String? = nil
            //try? NSAttributedString(data: Data(utf8), options: [
            //.documentType: NSAttributedString.DocumentType.html,
            //.characterEncoding: String.Encoding.utf8.rawValue
        //], documentAttributes: nil).string

[2020-02-24 11:05] aleene commented on #603
The culprit:
`
button.titleLabel?.textColor = UIColor.black
`

[2020-02-24 11:09] aleene commented on #603
Solution:
`            if #available(iOS 13.0, *) {
                button.titleLabel?.textColor = UIColor.label
                button.backgroundColor = UIColor.systemFill
            } else {
                button.titleLabel?.textColor = UIColor.black
                button.backgroundColor = UIColor.darkGray
            }
`

[2020-02-24 16:40] aleene commented on #593
The solution adopted hangs the app #605

[2020-02-24 16:42] aleene opened #607 "Uploading images and cropping"
**Summary:**
Hello,
After the update to the new iOS version the app isn't working anymore:
Editing of product, foto of the ingredients, you can't crop it anymore ( and it would be good if it work for all product fotos) and after upload the Foto vanishes so you are not able to add the ingredient list of the product!

Best, xxx

[2020-02-24 18:34] aleene commented on #602
Things get stuck in
`getRealm().object(ofType: Allergen.self, forPrimaryKey: code)`.

Nothing is returned here, so in the end nu URL is built.

[2020-02-24 18:47] aleene commented on #602
After deleting the app and reinstalling things are ok. I guess the stored taxonomies are wrong.

We should force a new reload.

[2020-02-25 09:11] philippeauriach commented on #585
Some padding and also compression resistance of the label, currently fixing this

[2020-02-25 15:05] aleene commented on #607
When adding a new product I can select which kind of image I want to take. Does this actually work? It does not seem to be supported in the code.

[2020-02-25 15:07] aleene commented on #607
When taking a picture I do not get any feedback it was successful during upload. But also afterwards the interface is not updated.

[2020-02-25 15:09] aleene commented on #607
And indeed the crop is only implemented for the ingredients.

[2020-02-25 16:21] aleene commented on #591
Most of the crashes we get in release 3.2 comes from here.

Can we import the code for in Bulletin Manager and debug ourselves?

[2020-02-25 16:44] aleene opened #609 "Crash in setText for label"
**Summary:**

![Screenshot 2020-02-25 at 17 42 59](https://user-images.githubusercontent.com/1329905/75267286-56ea7a00-57f6-11ea-8a3b-e1fd084e92df.png)

[2020-02-25 16:45] aleene commented on #609
The explanation is not very clear. I assume the crash is due to the fact the UILabel is nil.

[2020-02-26 09:36] philippeauriach commented on #609
Doing the PR review I looked into it, and found some insights :

From the stack trace it seems that it happens in a closure inside viewDidLoad, so when the offlineStatus change.
There is something weird here, in the fact that the observeToken is stored but never used to stop listening. My guess is that the viewController disappear at some time, so the view is released, but the offline listener sti

[2020-02-26 09:41] aleene commented on #609
Great analysis.

[2020-02-26 10:16] aleene opened #613 "Crash in SummaryFormTableViewController.getCell()"
**Summary:**
![Screenshot 2020-02-26 at 11 13 51](https://user-images.githubusercontent.com/1329905/75335105-36b7cb00-5889-11ea-8038-4a8ec8f6bf43.png)

Not sure how this should be prevented.

[2020-02-26 10:59] aleene commented on #609
I'll added your suggestions.

[2020-02-26 12:05] #585 closed

[2020-02-26 12:08] teolemon commented on #609
can we close this one as a result of the merge ?

[2020-02-26 12:08] teolemon commented on #603
closing this one following your fix @aleene

[2020-02-26 12:08] teolemon commented on #604
closing following merged fix by @aleene

[2020-02-26 12:08] #604 closed

[2020-02-26 12:09] teolemon commented on #607
I propose we skip for now those cropping issues since they are not blocking, and release ASAP the other fixes

[2020-02-26 12:10] teolemon commented on #601
@aleene can you share a screenshot ?

[2020-02-26 12:33] aleene commented on #609
We are not sure whether this really solved the issues, but lets close and open when it is not solved.

[2020-02-26 12:33] #609 closed

[2020-02-26 12:39] aleene commented on #603
I am not sure these are the right colours:
![IMG_1204](https://user-images.githubusercontent.com/1329905/75345624-5ce76600-589d-11ea-80dc-de65759a62df.jpeg)

[2020-02-26 12:39] teolemon commented on #603
I'm not either. good catch.

[2020-02-26 12:40] aleene commented on #601
Not convinced?
![IMG_1205](https://user-images.githubusercontent.com/1329905/75345695-81434280-589d-11ea-89ae-7cde40762f1f.jpeg)

[2020-02-26 12:40] philippeauriach commented on #609
@aleene  I just thought of something else, regarding the same subject (it won't change the result but it's good practice): we should use weak self in the closure to not retain the VC :
[code]

[2020-02-26 12:40] teolemon commented on #601
just trying to find the root cause. And it looks more and more like a STR vs INT issue :-(

[2020-02-26 12:41] teolemon commented on #601
(or something of the likes)

[2020-02-26 12:41] aleene commented on #603
What should it look like? Black on white in non-dark?

[2020-02-26 12:42] teolemon commented on #603
yup

[2020-02-26 12:43] teolemon commented on #601
I think Tacite told me it was anyway clickable. Do we change the color in some cases ?

[2020-02-26 12:44] aleene commented on #603
And blue on black in dark.

(I found at last a product that offers the questions.)

[2020-02-26 12:44] aleene commented on #603
![IMG_1206](https://user-images.githubusercontent.com/1329905/75346026-1a725900-589e-11ea-865a-474c294728a9.jpeg)

[2020-02-26 12:46] teolemon commented on #601
![image](https://user-images.githubusercontent.com/1689815/75346145-60c7b800-589e-11ea-8c16-62fc51bd96f0.png)

[2020-02-26 12:46] teolemon commented on #601
Tacite is still able to reproduce on this one

[2020-02-26 13:38] aleene commented on #601
Yep, it is related to the product.

[2020-02-26 14:01] aleene commented on #601
In fact the data is not available in the json, so the app shows what is there and makes no assumptions.

[2020-02-26 14:16] teolemon commented on #601
can you paste the related snippet of the JSON. cc @stephanegigandet

[2020-02-26 14:35] aleene commented on #601
`"nutriments":{"nutrition-score-fr":3,"energy-kcal_value":172,"energy_100g":720,"sugars_unit":"","fat_100g":10,"salt_100g":0.94,"energy-kcal":720,"nutrition-score-fr_100g":3,"nova-group":3,"salt_unit":"","energy":720,"energy-kcal_100g":720,"saturated-fat_unit":"","carbohydrates_unit":"","energy_serving":2160,"energy-kcal_unit":"kcal","sugars_100g":0.6,"proteins_serving":28.5,"sodium_value":0.376,"

[2020-02-26 14:36] #603 closed

[2020-02-26 14:43] teolemon commented on #601
thanks :-)

[2020-02-26 14:51] aleene commented on #601
sugars_unit":"",
"salt_unit":"",
"saturated-fat_unit":"",
"carbohydrates_unit":"",
"sodium_unit":"g",
"fat_unit":"",
"energy_unit":"kcal",
"proteins_unit":"",
"fiber_unit":"g",

for easier readability

[2020-02-26 14:52] teolemon commented on #601
Also reported against the server @aleene
https://github.com/openfoodfacts/openfoodfacts-server/issues/2955

[2020-02-26 15:21] aleene commented on #573
We already have the share button, but adding safari requires some extra work.

[2020-02-26 15:55] aleene commented on #573
![IMG_1208](https://user-images.githubusercontent.com/1329905/75362234-b741f000-58b8-11ea-9e36-cbd74f199cf6.jpeg)

[2020-02-27 10:45] aleene commented on #591
https://github.com/alexaubry/BulletinBoard/issues/148

[2020-02-27 12:46] teolemon opened #616 "Clicking on "Analyse des ingredients" does not open ingredient analysis while "Allertes allergies" does"
Clicking on "Analyse des ingredients" does not open ingredient analysis while "Allertes allergies" does

![image](https://user-images.githubusercontent.com/1689815/75446327-7c4ac580-5967-11ea-98eb-a896050025e4.png)

[2020-02-27 13:35] philippeauriach commented on #616
I don't know why but the auto link does not work, PR is ready : #617

[2020-02-27 13:44] teolemon opened #618 "Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs starting from December 2020"
We identified one or more issues with a recent delivery for your app, "Open Food Facts - Product Scan" 3.3 (44). Your delivery was successful, but you may wish to correct the following issues in your next delivery:

ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs starting from December 2020 . See https://developer.apple.com/documentation/uik

[2020-02-27 14:39] #616 closed

[2020-02-28 18:46] stephanegigandet commented on #601
@aleene : the app must not use the fields *_unit and *_value, they are for internal use only (they contain whatever the last user or app entered, they are not normalized in any way, and they can be empty an app does not send an unit).

The only fields the app should use are the *_100g and *_serving fields.

[2020-02-29 09:52] aleene commented on #601
OK, I forgot about that distinction. We'll repair it.

[2020-03-01 14:21] teolemon opened #619 "Add the Nutriscore computation disclaimers on the product pages"
Add a warning about lack of data to compute a perfect Nutriscore in the nutrition tab, below the Nutriscore.
[code]

Here's an example in the API:
The warnings are present in the JSON files: https://world.openfoodfacts.org/api/v0/product/3258561230221.json

[code]
Here's the server logic in Perl.
[code]
https://github.com/openfoodfacts/openfoodfacts-server/blob/44594f372a130a59332d26f07970fb4fe2b8

[2020-03-01 21:39] #97 closed

[2020-03-02 07:51] teolemon opened #620 "Uploaded photos (from edit or add mode) are not selected"
Uploaded photos (from edit or add mode) are not selected.
The expected result is that they are selected. I'm unsure about what we changed that altered that behaviour.

We got multiple reports from users, and I could reproduce the bug.

[2020-03-03 08:42] aleene commented on #620
Is this uploading when there is no image yet? Or replacing existing images?

[2020-03-03 22:52] teolemon commented on #620
I could reproduce at least when replacing existing image. I don't have a device right now to test the other case.

[2020-03-05 09:54] teolemon commented on #620
@aleene here's an example for a new product:
https://world.openfoodfacts.org/product/33922590204676

[2020-03-05 11:28] aleene commented on #620
So there are two cases:
 - No previous image: need some more details. Does it depend on image type (front/ingredients/nutrition)? Or is it always? (I seem to remember that it worked for me). Is it only for new new images? Or is it valid for products that are already there, but have an image added?
 - Previous image: in this case the existing image should be deselected first. I noticed with my app

[2020-03-06 09:17] aleene commented on #620
As far as I can determine the deselect API is a bit fickle: sometimes it works and sometimes not, It does not seem to be a time-out issue. But now that @stephanegigandet has changed the default behaviour this is no longer very relevant.

[2020-03-06 09:22] aleene commented on #620
The upload behaviour seems a bit strange some things are working and somethings not. So a checklist:
Totally new product:
- [ ] front
- [ ] ingredients
- [ ] nutrition

Existing product without images:
- [ ] front
- [ ] ingredients
- [ ] nutrition

Replacing images:
- [ ] front
- [ ] ingredients
- [ ] nutrition

[2020-03-06 09:37] aleene commented on #620
We need to implement a refresh on succesful upload.

[2020-03-06 11:08] aleene commented on #620
The cropViewController is not presented, so no ingredients images can be created.

[2020-03-06 15:52] aleene commented on #620
I am trying to understand how the app works. For images there seem to be two approaches: productAdding and editing. It seems that the editing part is lacking implementations for updating the view after image change/upload.

[2020-03-07 13:39] aleene commented on #620
It seems I have solved the refresh issue (with notifications). At least we now see whether an image has been uploaded.

[2020-03-08 12:22] aleene opened #626 "Notification error not showing on iPad"
**Summary:**
The notification banner does not show (for instance after uploading an image).

See also: https://github.com/Daltron/NotificationBanner/issues/280

**Device and iOS version:**
iPad IOS 13.3

[2020-03-08 13:05] aleene commented on #618
The problem with this is that we can no longer user UIWebView for versions before IOS 11:

[2020-03-08 13:45] aleene commented on #618
But see: https://stackoverflow.com/questions/46221577/xcode-9-gm-wkwebview-nscoding-support-was-broken-in-previous-versions#46649435

[2020-03-08 14:26] teolemon commented on #89
Unpopular opinion, use a library ?
https://medium.com/better-programming/5-swift-libraries-for-designing-a-beautiful-onboarding-experience-2075d05924ea

[2020-03-08 14:26] teolemon commented on #89
We have started using Bulletin board already.

[2020-03-08 16:23] aleene commented on #618
An issue: https://stackoverflow.com/questions/58321114/why-i-get-the-console-warning-process-kill-returned-unexpected-error-1-when

[2020-03-14 09:30] #573 closed

[2020-03-14 12:27] aleene opened #630 "Resolve localisation warnings"
**Summary:**
![Screenshot 2020-03-14 at 13 25 55](https://user-images.githubusercontent.com/1329905/76681842-67249680-65f7-11ea-9f1d-6dea4563cfbf.png)

![Screenshot 2020-03-14 at 13 26 49](https://user-images.githubusercontent.com/1329905/76681862-858a9200-65f7-11ea-9125-c952e054f801.png)

The new project creation approach has introduced these two warnings/advice.

What to do?

[2020-03-14 12:35] aleene opened #631 "Master no longer works"
**Summary:**
![Screenshot 2020-03-14 at 13 34 17](https://user-images.githubusercontent.com/1329905/76682007-91c31f00-65f8-11ea-90f7-661d3d59cf1b.png)
It seems I can no longer login either.

[2020-03-14 12:45] aleene commented on #631
The url to request the data is strange:
![Screenshot 2020-03-14 at 13 45 04](https://user-images.githubusercontent.com/1329905/76682170-106c8c00-65fa-11ea-8f70-3e00243517bf.png)

[2020-03-14 12:50] aleene commented on #631
This in turn is determined by:
![Screenshot 2020-03-14 at 13 49 52](https://user-images.githubusercontent.com/1329905/76682250-b7e9be80-65fa-11ea-9876-e267ff42ece2.png)

[2020-03-14 12:53] aleene commented on #631
So I guess the build is set to testing and not release. So what should be changed? I am not familiar with setting the build settings.

[2020-03-14 14:47] aleene commented on #631
[code]

[2020-03-14 15:35] aleene commented on #631
So why these local endpoints for debugging as it disables a large part of the app?

[2020-03-14 15:39] aleene opened #632 "Xcode changing branches"
**Summary:**
I get this when trying to change a branch.
![Screenshot 2020-03-14 at 16 36 02](https://user-images.githubusercontent.com/1329905/76685171-f63ea800-6611-11ea-971c-94fe93edc8b7.png)

There are no changes that need to be committed (checked with `git status`).

I played around with doing some edits and commits in order to get into a correct status, but that did not work.

[2020-03-14 15:39] aleene commented on #632
https://stackoverflow.com/questions/11910228/cannot-push-pull-or-merge-git-working-copy-has-uncommited-changes

[2020-03-14 16:03] aleene commented on #632
I can create a new branch and check that one out. And move back again.

So this new approach for creating the project has borked my old branches.

[2020-03-15 07:55] #620 closed

[2020-03-15 08:55] aleene opened #634 "Localisation Issue"
**Summary:**
I got this error when uploading to the App Store:
![Screenshot 2020-03-15 at 09 53 41](https://user-images.githubusercontent.com/1329905/76698435-271aed80-66a3-11ea-90e6-89d63b1e4e9c.png)

[2020-03-15 08:59] aleene commented on #634
I'll remove these localisations and see what will happen

[2020-03-16 09:43] teolemon commented on #634
ah sorry, that's an email I forgot to turn into a bug

[2020-04-23 07:21] peterchu999 commented on #268
hey just want the make sure does this issue still exists ? i think to give it a try

[2020-05-03 21:34] teolemon opened #644 "Make the signup process native"
We're loosing people due to the dated signup system. Make the signup process native and ensure you're logged immediately into the app after signup

[2020-05-03 21:35] teolemon commented on #634
ber
me
ry
son
tzl

[2020-05-03 21:37] teolemon commented on #632
@aleene is that a bug related to this repo ? Can I close ?

[2020-05-03 21:46] teolemon opened #645 "Issue with taking ingredients pictures"
As reported by a user on contact@
[code]

[2020-05-03 21:47] teolemon opened #646 "The login/email wording is not clear enough compared to the website"
As reported by a user on contact@
[code]

[2020-05-03 21:48] teolemon commented on #646
@stephanegigandet

[2020-05-04 10:02] aleene commented on #632
Yes let's close it, I guess it has been solved in the mean time.

[2020-05-04 10:02] #632 closed

[2020-05-04 10:04] aleene commented on #646
I do not think I understand this. Mobapp synch with web app?

[2020-05-04 10:05] teolemon commented on #646
I think he refers to the official app and the website. Some people make the confusion between the email and the user id. One will let you log in, the other not. I'm not even sure which one.

[2020-05-04 10:06] aleene commented on #645
I thought we disabled the resizing, just due to this issue,

[2020-05-04 10:09] aleene commented on #644
I wonder whether this implies that we must use the official Apple stuff. Need to check that.

And OFF needs to have a signup api. Or do you als mean to support TouchID?

[2020-05-04 10:12] aleene commented on #634
I think we removed them by now. Need to check

[2020-05-04 10:18] teolemon commented on #644
I think the Apple login is triggered if we use something like Google Login or Facebook Login.
I mean rewriting the html form with native UI, and posting the data much like an HTML form, and parsing the HTML response to check the login was successful (in which case, we can close the panel with confidence)

[2020-05-07 16:51] aleene opened #647 "Provide feedback during and after image upload"
**Summary:**
It would be nice to have more feedback on the image upload (both for existing and new products):
- a final image (thumbnail) when the upload has finished.
- a progress indicator during upload.

[2020-05-07 16:54] aleene opened #648 "Image type not set"
**Summary:**
When uploading an image for a new product the image type is not set.

[2020-05-07 17:02] aleene commented on #646
Need to check whether we have to use the email or the user id with the api.

[2020-05-13 21:14] teolemon opened #650 "Error while trying to run fastlane snapshot"
[code]

[2020-05-13 22:29] teolemon opened #651 "Make "Scan your first product" translatable"
https://github.com/openfoodfacts/openfoodfacts-ios/blob/658f508ba5acc73e552d9c593a32bcdfc25bb3db/Sources/ViewControllers/Products/Search/HistoryTableViewController.swift#L57
Make "Scan your first product" translatable

![image](https://user-images.githubusercontent.com/1689815/81908962-3c8c9500-95ca-11ea-9f8b-9ec04298c749.png)

[2020-05-14 08:24] teolemon commented on #102
Now that we have many translations of the app, I'm currently trying to run/debug so that I can generate screenshots at scale.
I'm having issues with History population, as well as the Scan view
![image](https://user-images.githubusercontent.com/1689815/81911007-f84ec400-95cc-11ea-979c-42956a87675c.png)

[2020-05-14 08:35] teolemon commented on #102
2020-05-14 10:31:31.790034+0200 OpenFoodFactsSnapshots-Runner[55553:1089573] Running tests...
Test Suite 'All tests' started at 2020-05-14 10:31:32.869
Test Suite 'OpenFoodFactsSnapshots.xctest' started at 2020-05-14 10:31:32.870
Test Suite 'Snapshots' started at 2020-05-14 10:31:32.870
Test Case '-[OpenFoodFactsSnapshots.Snapshots testSnapshots]' started.
    t =     0.00s Start Test at 2020-05-1

[2020-05-14 09:00] teolemon commented on #102
I have added a roadmap for screenshots in README.MD

[2020-05-15 09:07] teolemon opened #652 "Add support for Universal Links"
https://developer.apple.com/ios/universal-links/

What are the link that needs to be supported ?
Direct link to a product would be a good first step. The facet system is the next good candidate

[2020-05-16 15:05] #53 closed

[2020-05-16 15:07] teolemon commented on #631
Can I close this one ?

[2020-05-16 15:10] #189 closed

[2020-05-16 15:13] #282 closed

[2020-05-16 15:14] teolemon commented on #522
will do

[2020-05-16 15:15] teolemon commented on #501
Can you clarify in which case. At least some of the upload trigger a green bar on top ?

[2020-05-16 15:19] teolemon commented on #403
Putting P1, assuming that Storyboard is the thing pushed by Apple ?

[2020-05-16 17:11] #631 closed

[2020-05-18 08:53] teolemon opened #654 "Columns shifted in history export"
The columns are shifted in history export.
![image](https://user-images.githubusercontent.com/1689815/82193523-c8b5f980-98f5-11ea-879a-37b557d1a28b.png)

[2020-05-18 08:54] teolemon commented on #654
[code]

[2020-05-18 12:10] aleene commented on #654
If The packing field has muliple entries separates by commas, then they are added as such, which will result in to many comma's in the csv.

[2020-05-18 13:54] teolemon commented on #654
We'd need to create a TSV instead, much like the regular OFF export

[2020-05-18 14:36] aleene commented on #654
Why not do both?

[2020-05-18 17:22] teolemon commented on #654
How would you work around the commas ?

[2020-05-18 17:45] aleene commented on #506
We no longer see this as a crash, so I assume it has been solved.

[2020-05-18 17:45] #506 closed

[2020-05-18 17:47] aleene commented on #528
It no longer crashes on this.

[2020-05-18 17:47] #528 closed

[2020-05-18 17:48] aleene commented on #591
Seems not yet solved.

[2020-05-18 17:51] aleene commented on #654
We just make one string for all packaging codes.

[2020-05-18 18:10] #55 closed

[2020-05-18 18:33] aleene opened #655 "Wrong icon for csv share"
**Summary:**
The wrong icon for the csv share is used. Should be an arrow that goes up.

[2020-05-18 18:37] teolemon commented on #655
that goes down

[2020-05-18 18:40] aleene commented on #655
It should go out of the box not into (import).
![File](https://user-images.githubusercontent.com/1329905/82248047-c8dee500-9947-11ea-9589-45391b1d9ce8.jpg)

[2020-05-18 18:41] teolemon commented on #655
ah ok

[2020-05-19 10:17] aleene commented on #655
At the moment a system icon is used. But I think that is only valid above IOS13

[2020-05-19 10:18] aleene commented on #655
The standard action icon can be used.

[2020-05-19 15:44] aleene commented on #646
So on IOS you can login with both your username or your email address.

So what is the issue?

[2020-05-19 15:50] aleene commented on #634
We do not get errors when uploading a test version, or when building, so this should be resolved.

These files are no longer there.

However are we now missing translations?

[2020-05-19 15:57] #651 closed

[2020-05-19 17:12] teolemon opened #659 "Issue with translations on photo taking screen"
![image](https://user-images.githubusercontent.com/1689815/82356978-abbc1c00-9a04-11ea-9996-1fc776ef6a52.png)

[2020-05-19 17:20] aleene commented on #659
It is not in our code. A library?

[2020-05-19 17:35] aleene commented on #659
https://stackoverflow.com/questions/40859312/ios-10-camera-view-showing-api-cancel-title-instead-of-cancel

[2020-05-19 17:37] aleene commented on #659
Seems to be due to the language changer.

[2020-05-19 17:47] aleene commented on #659
So I can add some of these, to the english file. For the moment I only do the `cancel` one

"PHOTO" = "PHOTO";
"AEAF_LOCK_TEXT" = "AE/AF LOCK";
"API_CANCEL_TITLE" = "Cancel";
"HDR_AUTO" = "Auto";
"HDR_ON" = "On";
"HDR_OFF" = "Off";
"TIMER_OFF_TEXT" = "Off";
"USE_PHOTO" = "Use Photo";

"PHOTOS" = "Photos";
"CAMERA_ROLL" = "Camera roll";
"ALL_SCREENSHOTS" = "Screenshots";

"CANCEL" = "Cancel";
"RETA

[2020-05-19 17:48] teolemon commented on #659
"PHOTO" = "PHOTO";
"AEAF_LOCK_TEXT" = "AE/AF LOCK";
"API_CANCEL_TITLE" = "Cancel";
"HDR_AUTO" = "Auto";
"HDR_ON" = "On";
"HDR_OFF" = "Off";
"TIMER_OFF_TEXT" = "Off";
"USE_PHOTO" = "Use Photo";
"PHOTOS" = "Photos";
"CANCEL" = "Cancel";
"RETAKE" = "Retake";

[2020-05-19 17:48] teolemon commented on #659
how about this ?

[2020-05-19 17:59] aleene commented on #659
If we are usung those. I can not check it with my device.

[2020-05-20 17:26] aleene commented on #652
https://developer.apple.com/ios/universal-links/

[2020-05-20 17:32] aleene commented on #652
Steps to take:

- [ ] Associated Domains Entitlement (in Xcode)

[2020-05-20 18:00] aleene commented on #652
https://stackoverflow.com/questions/35609667/how-to-support-universal-links-in-ios-app-and-setup-server-for-it

[2020-05-21 09:38] teolemon opened #662 "The app freezes on photo taking after a language change"
OS lang: eng
App lang: fr (so after a language change)
In edit mode, after taking a photo, the app freezes on photo taking.
Reported by Tacite

[2020-05-21 09:48] aleene commented on #662
I wonder why you would want to use another language for the app here? If it is just for demo purposes, then it is ok. It is not that entering french products from an english app does not work?

[2020-05-21 09:53] teolemon commented on #662
Tacite told be it was bugging even before language change.

[2020-05-24 16:35] stephanegigandet commented on #652
I deployed https://world.openfoodfacts.org/.well-known/apple-app-site-association (I changed a bit the proposed file to make it match the current spec from Apple: https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch/UniversalLinks.html )

[2020-05-24 16:36] stephanegigandet commented on #652
After fixing some issues with the json file, I get this result on https://search.developer.apple.com/appsearch-validation-tool/ :

"Error no apps with domain entitlements
The entitlement data used to verify deep link dual authentication is from the current released version of your app. This data may take 48 hours to update."

[2020-05-25 07:40] aleene commented on #652
Thanks, we'll wait a bit before I can implement it.

By the way you used an old apple documentation for your changes. But in fact this might work if we want to support old IOS versions.

[2020-05-30 15:07] aleene commented on #652
Still not working. Another issue?

[2020-05-31 08:00] #654 closed

[2020-05-31 09:44] teolemon commented on #652
[code]

[code]

[2020-05-31 10:03] aleene commented on #652
Answer depends on the link you submit.

[2020-05-31 10:13] teolemon commented on #652
I submitted:  https://world.openfoodfacts.org/.well-known/apple-app-site-association
[code]

[2020-05-31 10:17] teolemon commented on #652
![image](https://user-images.githubusercontent.com/1689815/83349924-97e3b480-a338-11ea-8beb-26a17cad0500.png)
@aleene have you tried adding Xcode entitlements ?

[2020-05-31 10:19] aleene commented on #652
Did you try the validation tool?

[2020-05-31 10:19] teolemon commented on #652
yes, and the output is in my comment above

[2020-05-31 10:20] teolemon commented on #652
I also tried an unofficial one, and both seem to work

[2020-05-31 10:27] aleene commented on #652
I think the validation will only pass, if we publish the app.

[2020-05-31 10:37] teolemon commented on #652
It does not make sense to have to publish the app to test if it's working. Very un-Apple-y.
Can you paste the errors you have and the URL you are passing ? It might be an issue with the config file.
I'm looking at https://developer.apple.com/documentation/safariservices/supporting_associated_domains_in_your_app and https://forums.developer.apple.com/thread/53238
[code]

[2020-06-01 17:15] aleene commented on #652
I tested with my app, but nothing happens. So not sure what to do next. I guess we publish with extra entitlements and see.

[2020-06-01 17:57] aleene commented on #648
It seems the imageType as set by the buttons is not passed on.

[2020-06-01 18:08] aleene commented on #648
This works, but the language of the image is not set.

[2020-06-04 08:29] teolemon commented on #648
Can you give the steps to reproduce ?

[2020-06-04 10:28] aleene commented on #648
Create a new product and image.

[2020-06-04 12:27] aleene commented on #647
The refresh indicator could be replaced by a percentage upload indicator. After upload the image is already shown.

[2020-06-04 12:32] aleene commented on #647
This should be part of the PictureViewModel

[2020-06-04 14:24] aleene commented on #647
Advancing on this issue. I only have to replace the activity indicator with a progress indicator.

[2020-06-04 15:38] aleene commented on #647
Note that this is dependent on issue #648

[2020-06-04 17:53] aleene commented on #647
https://github.com/iwasrobbed/RPCircularProgress

[2020-06-05 16:36] aleene commented on #647
There should also be indicators in each product section

[2020-06-05 20:08] aleene commented on #647
![B02E7D79-5DCE-4093-AABF-5C0F35965850](https://user-images.githubusercontent.com/1329905/83918441-067da380-a779-11ea-9080-9b6beafa1b41.jpeg)

[2020-06-06 06:13] SwipeInteractive commented on #644
Hi,

I'm new to the project and have a little spare time so happy to contribute where I can. Is there any API available for registration anywhere? as opposed to having to use a HTML form?

Thanks,
Vick

[2020-06-06 15:38] teolemon commented on #647
Can we make it green ? Red looks stressful.

[2020-06-06 15:39] aleene commented on #647
It turns green when it is ready

[2020-06-06 16:41] aleene commented on #645
This is solved with #647 and #648

[2020-06-07 08:36] #655 closed

[2020-06-07 08:36] #648 closed

[2020-06-07 08:37] #647 closed

[2020-06-10 14:00] GaYoung0420 opened #673 "Korean version Localizable.strings Commit"
Korean version Localizable.strings Finished translating the file. Could you commit this file as well?

[2020-06-10 18:12] teolemon opened #674 "Broken string in latest Testflight"
USE_PHOTO
API_CANCEL_TITLE
![image](https://user-images.githubusercontent.com/1689815/84303049-9eeb9d80-ab56-11ea-92a4-2e6251e624e2.png)
Tacite reported at least 3 broken string in the latest alpha

[2020-06-10 19:24] teolemon opened #675 "Add support for editing the energy both in kcal and kj"
Add support for editing the energy both in kcal and kj.
Please check the ongoing discussions in #api

[2020-06-11 10:09] teolemon commented on #673
@GaYoung0420 I think everything has been committed and pushed to TestFlight. If you are on Slack please ask @teolemon (me) for an invite, or via pierre at openfoodfacts point org

[2020-06-11 10:10] teolemon commented on #652
@aleene is it working with the latest Testflight ? It doesn't seem at first sight, but it was a quick test

[2020-06-11 12:33] aleene commented on #652
No it is just a preparation.

[2020-06-11 15:24] aleene commented on #675
This means that a new field must be added in edit/add mode.

[2020-06-11 15:34] aleene commented on #675
Needed changes:

- OFFReadAPIkeysJSON, need to add two keys, one for kJ and one for kcal.

[2020-06-11 17:20] aleene commented on #675
There is an array with literal strings, which displays the default nutrients (displayedNutrimentItemsByDefault). Turns out this is not translated.

[2020-06-12 14:02] aleene opened #678 "Repair constraints warnings"
**Summary:**
When building the console shows a lot of constraint violation warnings. Need to be repaired.

[2020-06-12 15:32] aleene commented on #619
How should these appear?

[2020-06-12 15:38] teolemon commented on #619
I was thinking about a small text below the Nutri-Score, if and only if, the conditions are met.

[2020-06-12 15:39] teolemon commented on #619
Also, it's not a top priority bug

[2020-06-12 15:40] teolemon commented on #181
not sure, closing.

[2020-06-12 15:40] #181 closed

[2020-06-12 15:42] #674 closed

[2020-06-13 17:54] aleene commented on #619
Still need two other warnings.

[2020-06-13 18:01] teolemon commented on #619
Can you paste a screenshot on how it looks on the PR ?

[2020-06-13 18:08] aleene commented on #619
![IMG_0004](https://user-images.githubusercontent.com/1329905/84575992-a22e9580-adb1-11ea-9e65-d38f2cabbe6e.jpeg)

[2020-06-14 06:46] #675 closed

[2020-06-14 06:47] #619 closed

[2020-06-14 09:43] aleene commented on #630
Has been solved by now.

[2020-06-14 10:35] teolemon opened #683 "Layout issue with the Nutri-Score warnings"
Layout issue with the Nutri-Score warnings
![image](https://user-images.githubusercontent.com/1689815/84591029-87086800-ae3b-11ea-9137-d90e95377b5d.png)

[2020-06-14 10:37] teolemon opened #684 "Inconsistent ingredient analysis settings"
![image](https://user-images.githubusercontent.com/1689815/84591054-b28b5280-ae3b-11ea-86ab-49a7cb369e1f.png)
The JSON sourced values follow the language of the phone while the UI values follow the language of the app

[2020-06-14 10:42] teolemon opened #685 "Clipped text in settings (English)"
![image](https://user-images.githubusercontent.com/1689815/84591150-76a4bd00-ae3c-11ea-9f6a-5d03d4c03745.png)

[2020-06-14 10:43] teolemon opened #686 "Unreadable brand and quantity (iPhone 5S)"
Unreadable brand and quantity (iPhone 5S)
![image](https://user-images.githubusercontent.com/1689815/84591171-a0f67a80-ae3c-11ea-98a9-e3c7556fb356.png)

[2020-06-14 10:46] #673 closed

[2020-06-14 10:47] teolemon commented on #593
depriorizing: small subset of products

[2020-06-14 10:49] teolemon commented on #566
This summary would be a good candidate to be moved on the wiki. The bug tracker is for more granular issues that can be solved one, after the other.

[2020-06-14 10:50] #646 closed

[2020-06-14 10:52] aleene commented on #683
Pity, Requires me to make it three lines, instead of two.

[2020-06-14 10:52] teolemon commented on #644
Hi @vicksolanki
Currently that would imply re-implementing the HTML form that's in : https://world.openfoodfacts.org/cgi/user.pl with native calls and widgets

[2020-06-14 10:52] aleene commented on #685
OK, move to two lines.

[2020-06-14 10:53] aleene commented on #684
, Are these not in the translations then?

[2020-06-14 10:54] aleene commented on #686
So reduce size of nova and nutriscore

[2020-06-14 10:56] teolemon commented on #564
Which one are you referring to ?
https://github.com/search?q=keyboard+accessory

[2020-06-14 10:58] #650 closed

[2020-06-14 11:00] teolemon commented on #535
Yes, very much following the Apple Guidelines. That sound like the kind of feature where there are some ready made implementations available ?

[2020-06-14 11:02] teolemon commented on #337
We're moving ahead with some other solution that's more privacy compatible (self-hosted Sentry instance)

[2020-06-14 11:02] teolemon commented on #337
cc @philippeauriach

[2020-06-14 11:02] #337 closed

[2020-06-14 11:03] teolemon commented on #336
We're actually going to remove Crashlytics and move ahead with something open and privacy sensitive. cc @philippeauriach you might encounter traces of this.

[2020-06-14 11:03] #336 closed

[2020-06-14 11:06] teolemon commented on #351
The simple solution seems to add an entry on top of the result, **if and only if** the query is digits only
"Open product XXXX" and then make the API calls.

[2020-06-14 11:08] teolemon commented on #321
Closing this one

[2020-06-14 11:08] #321 closed

[2020-06-14 11:09] teolemon commented on #290
seems to be working now. closing

[2020-06-14 11:09] #290 closed

[2020-06-14 11:09] teolemon commented on #395
seems to be fixed. closing

[2020-06-14 11:09] #395 closed

[2020-06-14 11:10] #222 closed

[2020-06-14 11:10] #170 closed

[2020-06-14 11:12] teolemon commented on #208
yes. It's much easier this way.

[2020-06-14 11:12] #208 closed

[2020-06-14 11:16] teolemon commented on #95
@rudrankriyam This feature draft would be very interesting on the Wiki.
https://wiki.openfoodfacts.org/Mobile_App/Features

[2020-06-14 11:21] teolemon commented on #152
The sources are mentioned in the **About** screen. This is still happening but the icons are now blue.

[2020-06-14 11:21] #279 closed

[2020-06-14 11:21] teolemon commented on #143
Rather a native list of products.

[2020-06-14 11:24] teolemon commented on #96
This feature has been partially implemented (both scanning and contributing).
I like the idea to be able to disable database update if you're not on WiFi, we could create a separate bug with it and close this one.

[2020-06-14 11:25] #217 closed

[2020-06-14 11:26] teolemon commented on #42
This is a good idea.

[2020-06-14 11:28] #67 closed

[2020-06-14 11:38] teolemon commented on #155
This does not seem to be the case anymore. Closing.

[2020-06-14 11:38] #155 closed

[2020-06-14 11:42] teolemon opened #687 "Make the app compatible with Open Beauty Facts"
This is a meta bug to track everything that's needed to make the app compatible with Open Beauty Facts

- [ ] #160 Allow adding products to Open Beauty Facts
- [ ] Send an Open Beauty Facts query if the product is not found on Open Food Facts. This would require implementing #567 first. That way, we can update the card with the OBF result if it exists.

[2020-06-14 11:43] teolemon commented on #310
@aleene is it something you think can be solved, or can we close it ?

[2020-06-14 11:45] teolemon commented on #569
You mean that you see the icons, even when there's no barcode ?

[2020-06-14 11:47] teolemon commented on #209
it's probably a server side issue

[2020-06-14 11:47] #209 closed

[2020-06-14 11:53] aleene commented on #310
This is the same as #678. I'll close this one.

[2020-06-14 11:53] #310 closed

[2020-06-14 11:55] aleene commented on #569
This is solved, I did not see it anymore.

[2020-06-14 11:55] #569 closed

[2020-06-14 17:03] philippeauriach commented on #535
Yes the Storekit is pretty easy to use. I made a gist whih shows how to ask storekit only after the user compeltes a few events : https://gist.github.com/philippeauriach/311feff934205cff2f767b5e47653862
(as the storekit implementation by Apple restricts the number of time it can be shown, we prefer to ensure that the user is actively using the app before asking him to rate it)

[2020-06-15 11:53] teolemon commented on #648
I don't quite get what the user visible scenario was

[2020-06-15 16:58] aleene commented on #685
Or decrease the length of the translation to `Products pending upload`.

[2020-06-30 09:45] SwipeInteractive commented on #685
Hi,

I'm new to the project. This looks like a good issue to pick up to get used to creating a PR. Can I pick it up?

Thanks,
Vick

[2020-06-30 10:06] aleene commented on #685
I think we will just reduce the length of the translation. A two-line button is not so nice.

[2020-06-30 10:16] vicksolanki commented on #685
Yeah I agree it doesn't look great. The screenshot below is simply by changing the wrap behaviour of the button but I think shorter text is better. However will this be dependant on getting new translations?

![IMG_5669](https://user-images.githubusercontent.com/6295072/86114700-d1881680-bac2-11ea-80af-037c0ad0dde0.PNG)

[2020-06-30 10:18] aleene commented on #685
Checkout the `.localized`. Add the english text in front, and add the new english text to the english localized filed (in the folder Localisations).

[2020-06-30 10:46] vicksolanki commented on #685
Ah yes I can change a single value for English but the length looks long for multiple languages. They should all be changed in sync no? If not, I can go ahead and make the change.

[2020-06-30 10:49] philippeauriach commented on #685
IMO we should do both : allow the button to go on two lines if needed (even if it is not beautiful, it is better than a truncated text) AND change the translation in the languages we master. The problem with just changing one translation is that it does not fix the issue for other languages, especially long ones (such as german for example, it is always longer than english). If possible (I do not

[2020-06-30 10:55] vicksolanki commented on #685
Ok, I can create a small PR to fix the truncation in the short term and then raise another issue for changing the translation? As it's better to be consistent across all the languages?

[2020-07-01 18:13] #685 closed

[2020-07-10 13:47] teolemon commented on #180
https://world.openfoodfacts.org/state/product-name-to-be-completed/state/photos-to-be-validated
![image](https://user-images.githubusercontent.com/1689815/87161316-a7a1d180-c2c4-11ea-94b5-1bda40352666.png)

[2020-07-30 00:17] devanshkaloti commented on #268
@peterchu999 Hey are you still working on this or can I help out?
Thanks,

[2020-08-02 16:46] sentry[bot] opened #699 "NSUnknownKeyException: [<SentryScope 0x2832c1d40> setValue:forUndefinedKey:]: this class is not key value coding-complia..."
Sentry Issue: [OPENFOODFACTS-IOS-8](https://sentry.io/organizations/openfoodfacts/issues/1779974372/?referrer=github_integration)

[code]

[2020-08-02 16:47] sentry[bot] opened #701 "Could not connect to the server."
Sentry Issue: [OPENFOODFACTS-IOS-3](https://sentry.io/organizations/openfoodfacts/issues/1726964809/?referrer=github_integration)

[code]

[2020-08-02 16:47] sentry[bot] opened #700 "JSON could not be serialized because of error:"
Sentry Issue: [OPENFOODFACTS-IOS-B](https://sentry.io/organizations/openfoodfacts/issues/1811571415/?referrer=github_integration)

[code]

[2020-08-08 07:42] teolemon commented on #701
Should be fixed by the latest build.

[2020-08-08 14:18] teolemon opened #706 "Add the option to use MLKit for scanning"
Rationale: the current scanner is one of the top complaints ("can't scan", "too slow"). We're using a wrapper on top of zxing. zxing is maintenance only, while new scanners using on-device machine learning have appeared, and work far better, for far more people.
We could not use MLKit until now because it was bundled with Firebase which is a tracker. It's now fully unbundled, and while not opensou

[2020-08-08 14:28] teolemon opened #707 "[Proposal] New labels experience (from links to images)"
[Proposal] New labels experience (from links to images)
![image](https://user-images.githubusercontent.com/1689815/89712899-25283280-d994-11ea-815f-5104dab145cd.png)
https://docs.google.com/document/d/1ADRNzOZGRS308Ve02tHbSLnaksw3_tdSyXtIB9kIGz0/edit#heading=h.rn7so1lxwbej

[2020-08-08 17:24] aleene commented on #706
And way not use the IOS inbuilt scanner?

[2020-08-08 17:35] teolemon commented on #707
We should probably do a mockup with one label in a branch, and make it generic when we stabilize an API

[2020-08-08 23:35] jncosideout commented on #267
Hello! I am interested in working on this issue. I am new to open source but I have two years of iOS development experience and I have published a native iOS to the App Store. May we discuss a design to solve this one?

[2020-08-09 21:04] jncosideout commented on #267
Here is what I've found so far, please let me know if I'm on the right track:

I tested the offline scan by setting my device to airplane mode and scanning a food product.
This forces the error callback (line 442) to be called in ScannerViewController inside ```getProduct(barcode: ...)```
The next line checks ```isOffline(errorCode:)``` and if true, call ```handleGetProductSuccess(barcode: ...)```

[2020-08-10 07:53] philippeauriach commented on #267
Sounds logical to me

[2020-08-10 18:21] teolemon opened #708 "Let users signup without leaving the page they are on"
![image](https://user-images.githubusercontent.com/1689815/89816369-c35bfa00-db46-11ea-88fc-8f9ac006645c.png)
I had to re-log into GitHub after a computer issue, and was presented with this modal when I mistakenly clicked "Signup".
Being able to:

- [ ] Signup without leaving the page
- [ ] Being redirected to the page you were on (or the page you were trying to reach, like edit mode) would be nic

[2020-08-11 07:36] teolemon opened #709 ""Can’t save, can’t upload images, name keeps vanishing after entering""
https://files.slack.com/files-pri/T02KVRT1Q-F0186GMLA31/image_from_ios.jpg
![image](https://user-images.githubusercontent.com/1689815/89870443-20db5f80-dbb6-11ea-9b65-815bde94af98.png)

"Can’t save, can’t upload images, name keeps vanishing after entering"
https://openfoodfacts.slack.com/archives/CSV2748EB/p1597129992114500?thread_ts=1597129951.114000&cid=CSV2748EB

[2020-08-11 07:37] teolemon commented on #709
![image](https://user-images.githubusercontent.com/1689815/89870527-44060f00-dbb6-11ea-92cc-05e7b52d4dec.png)

[2020-08-11 10:06] aleene commented on #709
The product is there with some images. So any specific issues?

[2020-08-11 10:07] aleene commented on #709
Or am I using a newer version of the app?

[2020-08-11 10:53] teolemon commented on #709
There's a video on the #ios channel

[2020-08-12 14:41] sentry[bot] opened #711 "NSUnknownKeyException: [<SentryScope 0x2808d6760> setValue:forUndefinedKey:]: this class is not key value coding-complia..."
Sentry Issue: [OPENFOODFACTS-IOS-C](https://sentry.io/organizations/openfoodfacts/issues/1825798703/?referrer=github_integration)

[code]

[2020-08-12 14:49] teolemon commented on #711
fixed

[2020-08-12 14:49] #711 closed, assigned to nobody

[2020-08-13 12:06] teolemon opened #713 "The Nutri-Score disclaimer + "per 100g" are clipped on the iPhone 5S"
- [ ] Nutri-Score messages
- [ ] Title per 100g/100mL

![image](https://user-images.githubusercontent.com/1689815/91228396-74a68680-e728-11ea-9f55-3a35e7770fb2.png)

[2020-08-13 12:08] teolemon opened #714 "Layout issue in the Summary tab on the iPhone 5S"
- [ ] Brand clipped
- [ ] Quantity clipped
- [ ] NOVA explanation clipped
- [ ] Empty space next to the NOVA explanation
![image](https://user-images.githubusercontent.com/1689815/90132492-3eebc000-dd6e-11ea-9ec8-752ae817d629.png)

[2020-08-13 12:09] teolemon opened #715 "Use raw values for untaxonomized categories instead of IDs"
![image](https://user-images.githubusercontent.com/1689815/90132648-7f4b3e00-dd6e-11ea-8b2e-5239fb4e19c0.png)

We present the raw input in:
https://world.openfoodfacts.org/api/v0/product/8901719106538.json?fields=categories_tags,categories

[2020-08-13 12:16] teolemon opened #716 "Missing energy-kcal key in translations"
- [ ] Missing energy-kcal key in translations

![image](https://user-images.githubusercontent.com/1689815/90133305-845cbd00-dd6f-11ea-8398-6a96991f0002.png)

[2020-08-13 12:25] teolemon commented on #683
We should optimize for legibility, not a fixed number of lines.

[2020-08-13 12:30] teolemon opened #717 "Put the take photo button at the top of the page in the Nutrition tab"
![image](https://user-images.githubusercontent.com/1689815/90134428-7445dd00-dd71-11ea-8884-4c4529a6d021.png)

[2020-08-13 13:16] teolemon opened #718 "Rename Packager code to Traceability code"
- [ ] Rename Packager code to Traceability code
- [ ] Add a map pin on the left to indicate people can click on it to get a map of the factory

[2020-08-23 23:31] jncosideout opened #719 "Implement Labels in TaxonomyService"
**Summary:**
 - Labels are not shown in the app because they have not been incorporated into the API Models and Network Services

**Steps to reproduce:**
 - After scanning a product, the Overview tab does not list any of the Labels (AB Bio, USDA, etc.)

Please provide detailed steps for reproducing the issue.

 - Below is a product that should display the EU Organic and the AB Bio Labels
 - https:

[2020-08-24 08:25] sentry[bot] opened #721 "unsupported URL"
Sentry Issue: [OPENFOODFACTS-IOS-G](https://sentry.io/organizations/openfoodfacts/issues/1855968268/?referrer=github_integration)

[code]

[2020-08-25 05:31] krina-pixster opened #722 "It gives error when scanning already added product "Could not connect to the server.""
**Summary:**
 no product is being scanned even I already have connected to wifi

I have downloaded the project and run the project in Xcode and I am running it on my device but it is not scanning products properly. I have scanned the product which is already there in database i.e Coca Cola Zero and it shows me to add the product screen. When I debugged the issue I found that the alamofire request

[2020-08-25 18:44] sentry[bot] opened #723 "An SSL error has occurred and a secure connection to the server cannot be made."
Sentry Issue: [OPENFOODFACTS-IOS-F](https://sentry.io/organizations/openfoodfacts/issues/1854138286/?referrer=github_integration)

[code]

[2020-08-25 20:36] teolemon commented on #686
Or remove the brand and weight from the preview, like we do on Android

[2020-08-25 20:42] teolemon commented on #686
![image](https://user-images.githubusercontent.com/1689815/91225608-2ee7bf00-e724-11ea-9f6b-116221ca270b.png)
![image](https://user-images.githubusercontent.com/1689815/91225618-33ac7300-e724-11ea-89d3-0a7ecada14dc.png)

[2020-08-25 20:54] teolemon opened #724 "Replace "Delete" by a bin icon in history to save space."
![history-ios](https://user-images.githubusercontent.com/1689815/91226981-11b3f000-e726-11ea-8d37-627e7ade20de.png)

[2020-08-25 20:59] teolemon opened #725 "Fix toggle behaviour when setting is too long"
Fix toggle behaviour when setting is too long. The toggle should be on top. People will guess the end of the word.
![image](https://user-images.githubusercontent.com/1689815/91227283-8d15a180-e726-11ea-965e-e8d8d77659f6.png)

[2020-08-25 21:01] teolemon commented on #196
It's not solved
![image](https://user-images.githubusercontent.com/1689815/91227497-e5e53a00-e726-11ea-9134-1e30bbc1ada7.png)

[2020-08-25 21:02] teolemon commented on #196
https://barcode.tec-it.com/fr/EAN13?data=3560070100484

[2020-08-25 21:02] teolemon commented on #601
https://barcode.tec-it.com/fr/EAN13?data=3560070100484

[2020-08-25 21:13] teolemon opened #726 "Search spins forever when there are no results"
![image](https://user-images.githubusercontent.com/1689815/91228455-9273eb80-e728-11ea-9725-7e8dcd2f92e2.png)

[2020-08-25 21:22] teolemon opened #727 "Hide "City and country of purchase""
Hide "City and country of purchase". This does not bring any value to the user:

- the field is returned as a slug
- we have the value 5% of the time.
- What's the point knowing that someone bought it in Lyons, France, when I'm in Paris France.

The only interesting field is "Countries" which is already shown below.

![image](https://user-images.githubusercontent.com/1689815/91229258-d61b2500-e729

[2020-08-25 21:24] teolemon opened #728 "Add "Ingredient analysis" section title above ingredient analysis section"
Add "Ingredient analysis" section title above ingredient analysis section in the product page

[2020-08-25 21:26] teolemon opened #729 "Regroup "Manufacturing places", "Packager codes" and "Countries where sold" in a section called Traceability"
Regroup "Manufacturing places", "Packager codes" and "Countries where sold" in a section called Traceability

[2020-08-25 21:28] teolemon opened #730 "Show ambiguous ingredients in ingredient analysis"
Show ambiguous ingredients in ingredient analysis
A complete description on Android: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3023
Associated PR on Android: https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/3387/files

[2020-08-25 21:30] teolemon opened #731 "Sliding up a product closes it"
Sliding up a product closes it. This is totally unexpected and should not happen.

[2020-08-25 21:48] teolemon opened #732 "Add/Edit mode refinements"
![image](https://user-images.githubusercontent.com/1689815/91231393-7292f680-e72d-11ea-9fbf-06927a309b63.png)

[2020-08-26 09:33] teolemon opened #733 "Units are missing on nutrient levels in some cases"
Units are missing on nutrient levels in some cases
3560070100484
![image](https://user-images.githubusercontent.com/1689815/91225526-095ab580-e724-11ea-9322-12f8ea0fdb56.png)

[2020-09-09 12:28] teolemon opened #736 "Unrecognized Locale - ber, me, ry, son, tzl"
ITMS-90176: Unrecognized Locale - - The locale names used in localization directories at ( 'Payload/OpenFoodFacts.app/ber.lproj', 'Payload/OpenFoodFacts.app/me.lproj', 'Payload/OpenFoodFacts.app/ry.lproj', 'Payload/OpenFoodFacts.app/son.lproj', 'Payload/OpenFoodFacts.app/tzl.lproj' ) are invalid. iTunes supports BCP47 but not the UN M.49 specification. Refer to the Language and Locale Designations

[2020-09-10 13:01] teolemon commented on #723
ui.lifecycle
screen: OpenFoodFacts.SummaryFormTableViewController
info
22:14:06
message
An SSL error has occurred and a secure connection to the server cannot be made.

[2020-09-10 13:02] teolemon commented on #723
![image](https://user-images.githubusercontent.com/1689815/92732316-9170ca00-f376-11ea-8d20-aa8e23da04f5.png)

[2020-09-10 13:02] teolemon commented on #701
![image](https://user-images.githubusercontent.com/1689815/92732369-a5b4c700-f376-11ea-9ada-e5382d4cd502.png)

[2020-09-10 13:03] teolemon commented on #701
![image](https://user-images.githubusercontent.com/1689815/92732429-bc5b1e00-f376-11ea-836c-6166debce4bd.png)

[2020-09-10 16:32] Noroking commented on #173
Hello, I have 6 months experience with Swift. I'm new to GitHub and I would like to help.

[2020-09-11 07:54] teolemon commented on #659
Still here
![image](https://user-images.githubusercontent.com/1689815/92887333-b1ef6180-f414-11ea-8a8b-a8abf83f63a9.png)
![image](https://user-images.githubusercontent.com/1689815/92887374-b9166f80-f414-11ea-906d-0c3ea797841d.png)

[2020-09-11 08:03] teolemon opened #737 "display edit button on the bottom card (if brand & name & nutriscore & nova are all empty)"
display edit button on the bottom card (if brand & name & nutriscore & nova are all empty)

![image](https://user-images.githubusercontent.com/1689815/95012195-c5b66e00-0636-11eb-98ae-a76945f8b21d.png)

Add a hint that you can slide-up the card for more details. This is especially useful when it is empty.
[code]

[2020-09-11 18:49] teolemon opened #738 "Bad layout for the NOVA prompt (plus not actionable)"
Bad layout for the NOVA prompt (plus not actionable, should be a button bringing to OCR)
![image](https://user-images.githubusercontent.com/1689815/92961791-2efbf480-f470-11ea-8fc5-5012020835e9.png)

[2020-09-11 18:49] teolemon opened #739 "TabBar icon texts is half translated in French"
![image](https://user-images.githubusercontent.com/1689815/92961886-581c8500-f470-11ea-9c93-aa0815c3e693.png)

[2020-09-11 18:52] teolemon opened #740 "Missing strings in the camera"
Probably because the strings haven't been added to the proper files
![image](https://user-images.githubusercontent.com/1689815/92962093-b5183b00-f470-11ea-9e16-3f0c61af02e7.png)
![image](https://user-images.githubusercontent.com/1689815/92962099-b8132b80-f470-11ea-9c2b-7c8acf3545bf.png)

[2020-09-26 18:14] teolemon opened #741 "Adding an offline product deletes categories"
Adding an offline product deletes categories. As reported by a French power user (Tacite) on IOS 14, IPhone XS (latest Testflight)
[code]

https://world.openfoodfacts.org/product/8410066137022/heinz
IOS 14, IPhone XS

We need to make sure:

- [ ] we check for empty category field
- [ ] we check if the app was offline when adding the product (we probably need to store it when adding offline product

[2020-09-26 18:18] teolemon opened #742 "The app blocks itself during image upload"
The app blocks itself during image upload. Reported by a French power user (Tacite)
[code]
![image](https://user-images.githubusercontent.com/1689815/94347535-5dafc880-0035-11eb-98f7-5ad9b16a230b.png)

[2020-09-26 18:30] teolemon commented on #742
iOS 14, iPhone XS

[2020-09-26 18:31] teolemon commented on #741
https://world.openfoodfacts.org/product/8410066137022/heinz
IOS 14, IPhone XS

[2020-09-27 10:15] teolemon opened #743 "Add support for the new server controlled product page layout"
This will offer a flexible way to show product information without having to update the app whenever we want to add a new attribute or translation.

![image](https://user-images.githubusercontent.com/1689815/94362245-48c94880-00ba-11eb-96fc-eb9dfe4685e2.png)

For more background and details, please see https://wiki.openfoodfacts.org/Product_Attributes

This is an alpha phase. We will incrementally

[2020-09-27 10:24] teolemon opened #744 "Add support for displaying the Eco-Score."
Add support for displaying the Eco-Score

### Preview

![image](https://user-images.githubusercontent.com/1689815/97958008-a6813c80-1dac-11eb-8bca-4d336c10e85e.png)
Here's what it would look like with a placeholder. We would loose the product image for better legibility. cc @stephanegigandet @openfoodfacts/openfoodfacts-ios

### Task overview

- [ ] Clone the system that displays Nutri-Score on th

[2020-09-27 10:27] teolemon commented on #744
(For reference, but not needed: he server side issue is: https://github.com/openfoodfacts/openfoodfacts-server/issues/4262)

[2020-09-27 13:58] teolemon opened #745 "Update Sentry version"
"We recommend you update your SDK from version 5.1.4 to version 5.2.2"
https://docs.sentry.io/platforms/cocoa/

[2020-09-27 19:54] jncosideout opened #746 "Links to OFF.org do not update when Language is changed"
**Checklist**
- [x] Bug Report
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

When tapping on a Category or taxonomy in the product details section, or when tapping an Ingredient Analysis Icon and choosing "Help translate ingredients," the app opens a webpage to world-(user's language).openfoodfacts.org
The s

[2020-09-30 15:49] teolemon opened #749 "Add a button on the product page to take a picture of the recycling instructions"
Add a button on the product page to take a picture of the recycling instructions and upload it to the server.
This can be achieved using the "Take another picture" code.
This is very important for the Environnemental Scoring project.

[2020-09-30 17:44] jncosideout commented on #684
@Pierre
Is this the example case above the result of the following settings? :
- Phone Language = Français
- App Language = English

My tests show that it is working fine after #747 was merged
- Phone language : Français
- App language : English
![IA_Settings-Phone_Fr-App_En](https://user-images.githubusercontent.com/25991237/94720306-e9697380-0319-11eb-9235-8b4a6acb0539.png)
- Phone language : Fr

[2020-09-30 18:27] aleene commented on #749
Is it already supported on the server?

[2020-09-30 18:29] aleene commented on #742
What was the image size? And what happens when you upload one at the time?

[2020-10-01 01:52] twink1e commented on #724
hello! just replacing the text with the system default icon https://developer.apple.com/documentation/uikit/uibarbuttonitem/systemitem/trash right?

would like to take this task :)

[2020-10-01 07:57] aleene commented on #659
Same as #683

[2020-10-01 08:02] aleene commented on #659
I'll add some more strings.

[2020-10-01 09:23] teolemon commented on #749
@aleene on-going work. Meanwhile, we can upload without selecting it.
Server-side issue: https://github.com/openfoodfacts/openfoodfacts-server/issues/4286

[2020-10-01 09:37] damien-rivet commented on #740
Hi @teolemon,

I would like to work on this issue, should be a small PR.

Thanks.

[2020-10-01 09:44] teolemon commented on #740
Bonjour @Ethenyl :-)
I'm checking with @aleene that it's still open, and after that you're good to go.

[2020-10-01 09:46] teolemon commented on #740
https://github.com/openfoodfacts/openfoodfacts-ios/issues/659

[2020-10-01 11:14] teolemon commented on #740
@Ethenyl it's good 👍

[2020-10-01 11:40] aleene commented on #740
Just add the lines in #659 to the english localization file

[2020-10-01 11:42] damien-rivet commented on #740
Ok, I will start working on it as soon as possible. Thanks for the heads up.

[2020-10-01 11:45] aleene commented on #749
I did not check the jsons, but is it already calculated and published. Then this one can be started.

[2020-10-01 14:06] damien-rivet commented on #740
Fixed in #735.

[2020-10-01 17:00] aleene commented on #749
We need to know the code to send in the image api.

[2020-10-01 17:03] aleene commented on #746
Try https://fr.openfoodfacts.org/category/snacks, you'll see there are a lot less products.

[2020-10-01 17:03] aleene commented on #746
So it should point to https://world-fr.openfoodfacts.org/category/snacks

[2020-10-01 17:07] aleene commented on #744
Is there a sample product that can be used to check the implementation?

[2020-10-01 18:22] jncosideout commented on #746
It does. In PR #747 the changes addressed the language prefix after "world-" in the url. So "world-" has not been removed.

[2020-10-02 07:51] aleene commented on #746
Sounds good then.

[2020-10-02 08:09] majeedyaseen commented on #717
Hi @teolemon,

I would like to work on this issue.

Thanks.

[2020-10-02 09:46] teolemon commented on #717
Welcome @majeedyaseen :-)
you're welcome to go ahead 👍

[2020-10-02 09:50] aleene commented on #736
See #634

[2020-10-02 10:11] aleene commented on #736
https://en.wikipedia.org/wiki/IETF_language_tag#ISO_639-3_and_ISO_639-1

https://tools.ietf.org/html/bcp47

* ber - berber - ISO 639.2 is ber
* ry - rusyn - has no ISO 639.2 equivalent
* tzl - talossan - has no ISO 639.2 equivalent

[2020-10-02 13:25] twink1e commented on #168
Is this prompt a label only, and no action to be handled when user taps on it?
Also, is the additional gap between the prompt and the next cell intentional?

![mockup](https://user-images.githubusercontent.com/13992714/94928087-b67bd700-04f5-11eb-8d26-b7ee64e79a76.png)

[2020-10-02 13:28] aleene commented on #168
We could show an alert which explain things, with two buttons: one to cancel, and one to start editing.

[2020-10-02 13:33] teolemon commented on #168
- the gap is not intentional
- A simple solution is to jump straight into editing, and add a visible message/tooltip above the relevant sections
- The best solution would have a custom edit view where only the relevant parts for the Nutri-Score would be displayed
@philippeauriach any thoughts on that ?

[2020-10-02 13:37] teolemon commented on #168
@twink1e having the logic to display the right customized messages on the product page, without anything fancy in the edit mode is already a good first step.
The relevant fields are here: https://world.openfoodfacts.org/api/v0/product/5425600101745.json?fields=states_tags
Nutri-Score: nutrition to be completed, categories to be completed
NOVA: ingredients to be completed, categories to be complete

[2020-10-02 13:45] aleene commented on #168
In editMode there is already a text below the category ("needed to calculate Nutri-Score"), and above the Nutritional Values as well. So just going into editMode is sufficient.

[2020-10-02 14:38] aleene commented on #736
My proposition is to remove these languages from the localizations and from crowdin.

[2020-10-02 18:06] tejuamirthi commented on #727
Hey @teolemon  I'd like to take up this issue

[2020-10-02 18:10] tejuamirthi commented on #686
@teolemon is this issue still up for grabs? If it is let me know, will work on this as well. Thanks in advance

[2020-10-02 18:15] teolemon commented on #727
Welcome @tejuamirthi :-) you can go ahead

[2020-10-02 18:15] teolemon commented on #686
Welcome @tejuamirthi :-) you can go ahead. Feel free to ask any questions, either here or on Slack (https://slack.openfoodfacts.org)

[2020-10-02 18:29] tejuamirthi commented on #686
Thank you @teolemon I have already posted a query on slack community that I'm not able to see any data when I search for a food name. Is there any additional setup for backend I need to do for proceeding further? Below is the screenshot for the same. Please help with whatever extra setup I need to do. Thank you!

<img width="445" alt="Screenshot 2020-10-02 at 11 55 54 PM" src="https://user-images.

[2020-10-02 19:38] tanveermahendra commented on #167
Can you please elaborate on this issue? I downloaded the iOS app and seems like it already has an option to add a new picture for ingredients and nutrition.

[2020-10-03 06:01] tejuamirthi commented on #729
I can takeup this one issue! @teolemon

[2020-10-03 12:03] teolemon commented on #729
great 👍 feel free if you have followup questions

[2020-10-03 12:11] #724 closed, assigned to twink1e

[2020-10-03 12:13] aleene commented on #726
I guess the refresh control spinner is not stopped, when there are no results

[2020-10-03 12:56] teolemon opened #754 "Remove the .dev domain by default to avoid confusing newcomers"
Remove the .dev domain by defaut to avoid confusing newcomers as to why the app does not work. Let's use production (.org). The impact will be minimal (WRITE test will be run on a given product.

[2020-10-03 12:57] teolemon commented on #744
I think @stephanegigandet deployed something. At least it's merged in master

[2020-10-03 13:05] aleene commented on #726
The spinner is started as soon as the user types in a character. This is too soon, it should happen only after the search has started (tapping Search).

It is already set to `.loading` in `updateSearchResults(for searchController:)`, which is not even used in production.

[2020-10-03 13:09] aleene commented on #726
PS the keyboard return button should indicate **Search**.

[2020-10-03 13:48] #740 closed, assigned to damien-rivet

[2020-10-03 14:05] aleene commented on #739
These are written in the Storyboard as User Defined Runtime Attributes, but also as System Items, so the system should do the translations. It seems these titles can not be stranslated.

So we need to make them all Custom and assign the standard icons.

[2020-10-03 15:44] #746 closed, assigned to jncosideout

[2020-10-03 15:48] aleene commented on #733
Seems OK to me. Formatting issue on iPhone?

[2020-10-03 16:22] tejuamirthi commented on #754
Hey @teolemon
As I got to learn about this project recently, I feel eligible for suggestion and proposing a solution. The slack community really helped. Particularly **Alex Beaty**, took out his time to understand my issue and sent the below solution(screenshot with description). Thanks to him
As a new comer, I didn't know how to proceed. But I feel this can be done

- We need to change the build

[2020-10-03 16:35] tejuamirthi commented on #754
Hey @teolemon Refer #758 for the change and after this change It worked fine for me

[2020-10-03 17:21] tejuamirthi commented on #714
Hey @teolemon
what's the expected outcome for this? Like we can't always show the complete brand name if it's long. Let me know ur thoughts. I can fix the constraints!

[2020-10-03 17:45] aleene commented on #716
The translations should be added to the Nutriments taxonomy.

[2020-10-03 18:28] aleene commented on #714
Shall we put the name and brand below the images. Note that the ecoscore needs to be added as  well.

[2020-10-03 19:16] tejuamirthi commented on #714
That could work well! Below the image @aleene
Where should the store go? More info or any ticket on that?

[2020-10-03 20:06] aleene commented on #714
Put the name and brand next each other (multiline).

[2020-10-04 02:20] tejuamirthi commented on #714
Okay @aleene , so now the order of UI elements becomes

- Left image is unchanged.
- Product name label is to be updated, multiline and including brand and quantity in two new lines
- nutriscore and nova are unchanged

Just clarifying in these terms to avoid any further confusions.

Please assign this issue to me so I can start working. Thanks in advance

[2020-10-04 06:59] tejuamirthi commented on #714
<img width="328" alt="Screenshot 2020-10-04 at 12 18 41 PM" src="https://user-images.githubusercontent.com/29634986/95008972-d9180800-063b-11eb-8a9e-dcfc875ded6e.png">
Hey @aleene here when ther's no nutriscore and it is perfect from the current implementation.
If I'm making the brand and quantity as a multiline part of the name. There'd be a huge gap when there's no nutriscore. So please confirm

[2020-10-04 07:59] aleene commented on #714
This is nice, maybe convert the product name ti multiline?

[2020-10-04 09:22] aleene commented on #716
We can implement an exception as a stopgap.

[2020-10-04 09:40] aleene opened #759 "Remove nutrition translations"
**Summary:**
The app uses the Nutriments taxonomy for translations. Any related localizable string can be deleted (Warning there are exceptions, which need to be resolved or kept).

Makes things cleaner.

Is it enough to delete the english entries?

[2020-10-04 10:12] aleene commented on #744
Is there an icon/image for `No Eco-Score available`? We could start adding that in #714

[2020-10-04 10:14] aleene commented on #732
The Cancel icon is standard IOS behaviour.

[2020-10-04 10:17] aleene commented on #732
There is more and more text on the pages, not very nice when you are really using the app. Is more for first time users. We could add the ?-icon to offer explanations on an alert screen.
Any call to action text should be suppressible for experienced users.

[2020-10-04 10:23] aleene commented on #732
Actions:

- [x] put a cross instead of a cancel -> Cancel is standard IOS.
- [ ] Add Nova explanation -> Alert with explanation, We could add a link as we do on the main pages.
- [x] Put Nova message in ingredients section
- [x] Hide the message when the score is computed
- [x] Nutriscore text is clipped, put it below the score -> changed this StackView to vertical (was horizontal).
- [x] Hide the

[2020-10-04 15:21] aleene commented on #738
This is caused by the missing NOVA image. Can I add a minimum width?

[2020-10-04 15:36] teolemon commented on #738
That's a solution. Also turning it into a button that jumps into editing if states= `ingredients-to-be-completed` ?

[2020-10-04 15:49] aleene commented on #738
It was a retorical question, to see if this solution would work.

[2020-10-04 15:50] aleene commented on #738
I am no a fan of buttons all over the place. There is still a pull request to put the edit button op top. We could change the state of this button if editing is required.

[2020-10-04 15:53] teolemon commented on #738
Buttons are a direction towards what the user want: the scores. They are a necessary evil.

[2020-10-04 15:58] aleene commented on #738
On the position of the nova icon, we can put a button.

[2020-10-04 16:45] aleene commented on #730
Can you explain a bit more

[2020-10-04 17:01] teolemon commented on #730
A complete description on Android: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3023
Associated PR on Android: https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/3387/files

[2020-10-04 19:43] teolemon opened #763 "Add a link to the ingredient analysis section of settings"
Add a link to the ingredient analysis section of settings
We plan on adding many more analysis, so we need a scalable way to enable and disable them
(Also sorry for the mockup copy paste from Android)
![image](https://user-images.githubusercontent.com/1689815/95025494-5ec2a480-068a-11eb-9281-d34e897e0400.png)

[2020-10-04 22:23] jncosideout commented on #716
I am trying to replicate this error on my device and found something odd.
None of the Nutriments, including 'energy-kcal,' are translated for me.
Despite the following combinations of Phone language && app language:
e.g. phone = English && app = Français | phone = Français && app = Français

Is there some configuration I'm missing? I tested it on the 'develop' branch.
![ingredients-tab-app-Francai

[2020-10-05 03:44] tejuamirthi commented on #714
Hey @aleene #686 is a part of the issue mentioned here.
A solution was proposed there to follow how android does it. Should we proceed with that?

[2020-10-05 06:55] aleene commented on #716
Did you use the version of the app you repaired? Or develop?

[2020-10-05 06:57] aleene commented on #716
![image](https://user-images.githubusercontent.com/1329905/95048809-d0314000-06e8-11eb-9bf6-f0861a1892d3.png)

Ipad is on dutch.

[2020-10-05 07:01] aleene commented on #714
Looks good

[2020-10-05 12:26] aleene commented on #652
This should be launched in the app first, before it can be continued.

[2020-10-05 12:30] aleene commented on #716
Still need to account for the language setting in the app.

[2020-10-05 12:58] aleene commented on #601
If the nutritional values exist already, use the standard units. The user can change these if needed.

[2020-10-05 15:37] aleene commented on #737
The corresponding action occurs in `class ScanProductSummaryView`. If there is no data the fields will not be filled.

[2020-10-05 15:59] tejuamirthi commented on #714
Instead of completely removing the label from the xib. I'm trying to just hide those labels. In case we need anything in the future? What say @aleene . If it's a permanent change we can remove it completely

[2020-10-05 16:41] aleene commented on #714
Which ones do you want to hide. We are just rearranging?

[2020-10-05 16:51] tejuamirthi commented on #714
Okay that was my bad for that. It was a confusion from my side. We are just rearranging. I'll make it multiline and share the screenshot for confirmation.

[2020-10-05 17:15] aleene commented on #737
![image](https://user-images.githubusercontent.com/1329905/95110798-dd791980-073e-11eb-9966-0be1d2f5f77b.png)

[2020-10-06 09:27] teolemon opened #765 "The Environment tab HTML should go dark mode like the nutrition table HTML"
The Environment tab HTML should go dark mode like the nutrition table HTML. We should also take the advantage to use the system font like we do for nutrition.
![IMG_0078](https://user-images.githubusercontent.com/1689815/95183898-ead9e680-07c6-11eb-94a1-b7382d95cb52.PNG)
![IMG_0079](https://user-images.githubusercontent.com/1689815/95183909-ec0b1380-07c6-11eb-873e-98b42173d82c.PNG)

[2020-10-06 09:31] teolemon opened #766 "The full names of the additives are not displayed"
The full names of the additives are not displayed. Instead, only their codes are displayed.
On Android

- [ ] we display their full name #60 #332
- [ ] we display the warning icon
- [ ] On click, we display more EFSA info

![IMG_0081](https://user-images.githubusercontent.com/1689815/95184199-51f79b00-07c7-11eb-9418-3bbe8e93c889.PNG)

[2020-10-06 09:32] teolemon commented on #766
https://docs.google.com/document/d/1Y4HnkuLpLi1WUMzcST1TRjWoLkPwHgkSovTcFLzhU8s/edit

[2020-10-06 11:44] Shubham0812 commented on #766
I'd love to take this up. @teolemon

[2020-10-06 14:37] teolemon commented on #766
👍  @Shubham0812 feel free to ping here or in #ios on https://slack.openfoodfacts.org if you need any pointers.

[2020-10-06 20:20] #719 closed, assigned to jncosideout

[2020-10-07 08:11] #754 closed, assigned to nobody

[2020-10-07 09:55] aleene commented on #731
Can you elaborate? I assumed it to be on the scan page. When I slide the product up, it goes full screen as expected. Sliding down closes the floating panel.

[2020-10-07 11:52] aleene commented on #728
![image](https://user-images.githubusercontent.com/1329905/95327456-5ba30080-08a4-11eb-93e0-0a380e7f430e.png)

[2020-10-08 08:01] #728 closed, assigned to aleene

[2020-10-08 08:01] #716 closed, assigned to aleene

[2020-10-08 08:05] #739 closed, assigned to aleene

[2020-10-08 08:06] #745 closed, assigned to nobody

[2020-10-08 08:38] aleene commented on #765
Why can't we go native right away and need to use html?

[2020-10-08 09:38] aleene commented on #763
Not really a fan of adding a button here, but I'll have a go at it.

[2020-10-08 09:39] aleene commented on #763
The ingredient analysis icons are added to a stackView during runtime. We could add an extra button as well.

[2020-10-08 15:13] aleene commented on #763
![image](https://user-images.githubusercontent.com/1329905/95478287-a2b6f180-0989-11eb-806d-ab147571b9fc.jpeg)

[2020-10-08 16:54] tejuamirthi commented on #729
@teolemon If I'm not wrong, I think this traceability should go as a new section beside nutrition, right?

<img width="377" alt="Screenshot 2020-10-08 at 10 19 15 PM" src="https://user-images.githubusercontent.com/29634986/95489287-503efa80-09b4-11eb-8ab2-c870ce98f8b1.png">

[2020-10-08 17:50] teolemon commented on #763
great, it would be good to bring it in visual coherence with the other ones. I put it on the extreme right so that no confusion could be done between it and the actual analysis.
Potentially, the analysis icons could be subducted (go below it) if they overflow, with the ability to drag left to see the overflowing ingredient analysis icons (assuming someone decides to enable the 12 allergens + glute

[2020-10-08 19:14] teolemon commented on #729
I would keep it under labels, in the summary tab ?

[2020-10-09 02:41] tejuamirthi commented on #729
Sure. Will share the screenshots before making a pr

[2020-10-09 09:50] aleene commented on #763
The extreme right is not nice. It looks detached and the relation with the allergens is unclear.

For visual coherence I decided for a filled Icon. Blue to indicate it is a button (standard iOS). Round to distinguish is from the icons and from the standard product edit button. I think I will make it a bit larger though.

Overflow etc will not work at the moment. Requires a totally different implem

[2020-10-09 10:08] aleene commented on #725
In this case we might adapt the translations as well:

- Affichages des Analyses
- Statut Huile de Palme

[2020-10-09 12:18] aleene commented on #722
I guess it was pointing to the wrong server. Check the endpoints in your build.

[2020-10-09 12:19] aleene commented on #721
Can someone add more info?

[2020-10-09 12:21] aleene commented on #718
What is the relation with #729 ?

[2020-10-09 15:32] aleene commented on #725
![image](https://user-images.githubusercontent.com/1329905/95602617-71a3f300-0a55-11eb-952d-d43b69120142.png)

[2020-10-09 16:30] aleene commented on #715
Have to find out if these are available in the app.

[2020-10-10 08:07] #725 closed, assigned to aleene

[2020-10-10 08:30] #727 closed, assigned to tejuamirthi

[2020-10-10 08:34] teolemon opened #772 "Travis build seem to be stuck"
Travis build seem to be stuck for some reason

[2020-10-10 13:54] aleene commented on #715
The problem with this product (https://world.openfoodfacts.org/product/4029764001807/club-mate-loscher) is that the categories have been specified in the multiple languages. We recognized only the first three (probably in german), the others are in french.

[2020-10-11 05:55] Jiehong opened #775 "Allow to add labels and certifications when adding a new product"
**Checklist**
- [x] bug report: did not find another issue related to that (well, https://github.com/openfoodfacts/openfoodfacts-ios/issues/190 seems to talk about it, but it didn't happen)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software: unable to.

**Summary:**

Currently, it is only possible to add labels (such as "Bio" or

[2020-10-11 08:52] aleene commented on #707
See the module TagListView.

[2020-10-11 08:54] aleene commented on #715
We could put the original tags in, but they are not retrieved from the json at the moment.

[2020-10-11 09:10] aleene commented on #709
I guess this is solved in version to be released.

[2020-10-11 09:11] aleene commented on #700
Another useless error message.

[2020-10-11 09:14] aleene commented on #684
Can we close this?

[2020-10-11 09:15] #645 closed

[2020-10-11 09:16] #613 closed

[2020-10-11 09:17] #593 closed

[2020-10-11 09:22] #568 closed

[2020-10-11 10:05] aleene commented on #713
Sample product without fibre specified: https://world.openfoodfacts.org/product/3560070100484/edam-carrefour

[2020-10-11 10:11] aleene commented on #713
![Screenshot 2020-10-11 at 12 10 21](https://user-images.githubusercontent.com/1329905/95675903-d167de80-0bba-11eb-80db-1d36e1ea0fa7.png)

[2020-10-11 11:02] #700 closed, assigned to nobody

[2020-10-11 16:43] teolemon opened #777 "Create a "Help with images" button in the scan screen"
(Disclaimer: Obviously that's an early Android mockup)

![image](https://user-images.githubusercontent.com/1689815/95683612-b4e49a00-0bec-11eb-8568-e38559299281.png)
Ensure we can request photo updates for select products to users for images which should be taken or re-taken (because they are too old, or possibly too small / blurry).

https://fr.openfoodfacts.dev/api/v0/produit/3483130043180/beurr

[2020-10-11 16:44] teolemon commented on #777
Related server issue: https://github.com/openfoodfacts/openfoodfacts-server/pull/4347

[2020-10-11 18:02] aleene commented on #777
I think this screen is getting to busy. Keep it clean for users who only want to check products. Move all buttons, etc to the detailed pages.

[2020-10-11 21:04] teolemon commented on #777
@swiftcode

[2020-10-12 07:36] aleene commented on #777
@teolemon Can you provide a product barcode with which this can be tested?

[2020-10-12 07:40] teolemon commented on #777
https://fr.openfoodfacts.dev/api/v0/produit/3483130043180/beurre-cru-a-la-baratte-les-petites-laiteries?fields=images_to_update_fr

@stephanegigandet might have not pushed it live yet.

[2020-10-12 08:06] aleene commented on #777
Indeed, not there yet.

[2020-10-12 08:12] teolemon commented on #777
And it's live: https://fr.openfoodfacts.org/api/v0/produit/3483130043180/beurre-cru-a-la-baratte-les-petites-laiteries?fields=images_to_update_fr

[2020-10-12 15:55] tejuamirthi commented on #729
Should we add "Origin of ingredients", "Stores" as well into this section? @teolemon
May be "Origin of ingredients" fits in right?

[2020-10-12 15:59] teolemon commented on #729
yep. Ideally, I would put it in logical order
Origin of ingredients
Manufacturer code
Processing places
and Stores possibly at the end.
That way we can "follow the product"

[2020-10-12 16:09] tejuamirthi commented on #729
See if the below is fine and let me know @teolemon
<img width="377" alt="Screenshot 2020-10-12 at 9 39 27 PM" src="https://user-images.githubusercontent.com/29634986/95768099-6958eb80-0cd3-11eb-877b-eb527e748f9c.png">

[2020-10-12 16:15] teolemon commented on #729
That's a very good 1st step 👍

[2020-10-12 16:17] teolemon commented on #729
I'd even be tempted by something like this : https://github.com/edekhayser/Timeline

[2020-10-12 16:20] tejuamirthi commented on #729
Okay you meant a timeline kind of indication for following the product?

[2020-10-12 18:09] aleene commented on #729
It is usually called the supply chain.

[2020-10-12 23:55] mike011 commented on #772
Yeah looking at https://travis-ci.org/github/openfoodfacts/openfoodfacts-ios/requests it is failing with: "Build config did not create any jobs." which seems to indicate the build is not configured correctly. Looking at the history of the yaml config file the last change makes it fail. https://github.com/openfoodfacts/openfoodfacts-ios/commit/4f7b2da90cdb49709db79e81b7f0610b37d1888d  So the easies

[2020-10-14 08:47] #737 closed, assigned to aleene

[2020-10-14 08:48] #726 closed, assigned to aleene

[2020-10-14 08:49] #732 closed, assigned to aleene

[2020-10-14 08:53] #738 closed, assigned to aleene

[2020-10-14 13:19] #659 closed

[2020-10-14 13:21] #601 closed

[2020-10-15 00:11] rohanrk commented on #718
Hi there! Could I get some clarification on the second point? I don't see anything related to a MapView in the app

[2020-10-15 12:47] teolemon commented on #718
@rohanrk the map is in the webview for the packager codes for example: https://world.openfoodfacts.org/packager-code/fr-14-752-020-ce
So it would only be linking to the packager code page as a first step

[2020-10-19 17:50] mike011 commented on #772
@teolemon ??

[2020-10-19 17:55] teolemon commented on #772
mmh @philippeauriach on this one ?

[2020-10-21 08:24] philippeauriach commented on #772
Yep ! The job linked above in the yml configuration is the following :
[code]
It is meant to deploy the app on testflight, only on a `release/*` branch, and therefore, it is normal that no job is launched when pushing on develop or on any other branch different from `release/*`. This is on purpose, we don't want to release a beta version of the app on every push on develop or other branches.

Last

[2020-10-23 08:51] teolemon commented on #707
I'm adding the latest mockup @jncosideout
![image](https://user-images.githubusercontent.com/1689815/96977628-a2882b80-151d-11eb-8728-3f7f256a90d8.png)

[2020-10-24 02:59] jncosideout commented on #707
Thanks. I will work toward that as close as I can. Will you please tell me the difference between the two since they look almost identical to me.

[2020-10-25 16:33] teolemon commented on #749
We have a better documentation on the Android issue. It behaves exactly like the ingredients image field
- https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/3531

[2020-10-29 09:16] #743 closed, assigned to jncosideout

[2020-10-29 09:17] #763 closed, assigned to aleene

[2020-10-29 13:08] teolemon commented on #173
@khoitruongminh

[2020-10-29 15:27] khoi-truong commented on #173
@teolemon can you assign this to me. I take it.

[2020-10-29 15:31] teolemon commented on #173
@khoitruongminh assigned 👍

[2020-10-31 16:08] teolemon commented on #744
@aleene Placeholders with the right size are now available

[2020-11-03 07:16] teolemon commented on #744
![image](https://user-images.githubusercontent.com/1689815/97958008-a6813c80-1dac-11eb-8bca-4d336c10e85e.png)
Here's what it would look like with a placeholder. We would loose the product image for better legibility. cc @stephanegigandet @openfoodfacts/openfoodfacts-ios
https://static.openfoodfacts.dev/images/icons/ecoscore-a.svg
https://static.openfoodfacts.dev/images/icons/ecoscore-b.svg
https:/

[2020-11-03 19:50] teolemon opened #784 "Offline mode photo upload deletes product categories, and switches to English"
**Summary:**

There's an issue when uploading pictures to product page from the "products you added while offline" page of the iOS app

``` NB : il y a un toujours un bug avec le mode offline sur l'app, j'ai uploadé des photos ça a supprimé la catégorie du produit et ça l'a mis en langue "anglais"``` Tacite

`` NB: there is still a bug with the offline mode on the app, I uploaded photos that delet

[2020-11-04 09:59] teolemon opened #785 "Increase usability of general fields in editing mode"
### Rationale
- The name of the fields is often clipped
- The values of the fields is often clipped

### Solution
#### Core
(This is already the case for nutrition fields)
- [ ] Make the fields edge to edge to increase legibility, usability and avoid clipped text
- [ ] Put the field name above it

#### Nice to have
- [ ] Increase the height of the field if the text overflows

![image](https://user

[2020-11-04 10:19] teolemon commented on #741
Duplicate of #784

[2020-11-04 10:19] #741 closed, assigned to nobody

[2020-11-04 10:19] teolemon commented on #457
Closing in favor of #784

[2020-11-04 10:19] #457 closed

[2020-11-04 10:23] teolemon commented on #784
[code]

[code]

[2020-11-05 03:07] hfehrmann commented on #268
Hi!
If this is still open, I would like to give it a try.

[2020-11-05 18:55] hfehrmann commented on #785
Hi!
I would like to give it a try.

[2020-11-05 19:05] teolemon commented on #785
Welcome @hfehrmann :-) I've just assigned you. You can also join the discussion on Slack : https://slack.openfoodfacts.org

[2020-11-08 13:04] teolemon opened #790 "Remove the condition to display the Environment tab"
Remove the condition to display the Environment tab, since we're going to always display it (to collect photos of recycling instructions, and add explanations in the existing HTML insert)

[2020-11-08 13:07] teolemon commented on #765
Products attributes will do that. Meanwhile, we need to display Eco-Score disclaimers, explanations in a flexible way, without having to code and ship a new version with every fix or translation.

[2020-11-09 08:07] teolemon commented on #744
@aleene the Logos are available in prod, including the "not available" one.

Also for the offline mode, we're going to modify the CSV to add a column for the eco-score, and we'll need to:
- modify the realm schema
- modify the layout
- invalidate all the records
- load the new records with the eco-score

[2020-11-11 09:48] teolemon opened #791 "The bottom navigation string changes when you move to the History"
The bottom navigation string changes when you move to the History. It says "Search History" which it's not.
![image](https://user-images.githubusercontent.com/1689815/98796183-686ac500-240b-11eb-8b22-09d8cff7ea44.png)

[2020-11-12 08:20] teolemon commented on #777
@swiftcode I'm setting Milestone 3.5 on this one

[2020-11-12 17:38] sentry[bot] opened #792 "JSON could not be serialized because of error - OpenFoodFacts.PictureTableViewController"
Sentry Issue: [OPENFOODFACTS-IOS-14](https://sentry.io/organizations/openfoodfacts/issues/2026133937/?referrer=github_integration)

[code]

[2020-11-12 17:39] teolemon commented on #792
[code]

[2020-11-12 17:41] teolemon commented on #792
- [ ] touch saveAll view: <_UIButtonBarButton: 0x11470ae70; frame = (0 0; 45 44); tintColor = <UIDynamicSystemColor: 0x283f4b7c0; name = systemBlueColor>; layer = <CALayer: 0x282d2ac60>> info
- [ ] message JSON could not be serialized because of error:Der Vorgang konnte nicht abgeschlossen werden. (Cocoa-Fehler 3840.)

[2020-11-19 00:51] hfehrmann commented on #791
I created a PR

[2020-11-19 00:55] hfehrmann commented on #790
@teolemon Can you clarify this issue? I do not understand the desire.

[2020-11-19 11:25] #785 closed, assigned to hfehrmann

[2020-11-20 15:42] aleene commented on #792
https://stackoverflow.com/questions/14171111/cocoa-error-3840-using-json-ios

It seems to come from `ProductService`, but the error seems to be catched. So not much more that can be done Mayve inform the user of an issue.

There could be some more `AnalyticsManager.log` be added in the error parts, so that we can pinpoint is further.

[2020-11-20 16:10] aleene commented on #790
In `productDetailViewController` we have:
[code]

I guess we can remove the check, so that it is always shown.

[2020-11-20 16:36] aleene commented on #777
@swiftcode any progress on this issue?

[2020-11-20 16:43] aleene commented on #775
It is already displayed on the summary tab, so this is only for editing. Let's add it below language for the moment.

[2020-11-21 08:12] aleene opened #796 "Environment tab work"
All the work, which involves the environment tab is currently spread over multiple issues and maybe incomplete. This issue is an attempt to get an overview of the status of the work.

- [X] #790 always show the environment tab. This is required before most of the other work can start. pull-request #794.
- [x] decode the packaging url from the json. There was an issue here: the url was not (yet) pr

[2020-11-21 10:55] aleene opened #797 "ecoScore on environment tab"
**Summary:**
Goal to show the ecoScore on the environment app, and add it to the assets.

[2020-11-21 10:55] aleene commented on #797
Is there an image for ecoScore unknown/uncalculable?

[2020-11-21 11:43] teolemon commented on #797
There is: https://github.com/openfoodfacts/openfoodfacts-ios/issues/744

[2020-11-21 12:07] aleene commented on #797
Looks like I will incorporate the packaging image as well in this issue. I try to copy as much code as possible from the ingredients tab.
Later we have to incorporate the stuff from the old environments tab.

[2020-11-21 15:16] teolemon commented on #797
looks good 👍

[2020-11-21 15:17] #790 closed, assigned to aleene

[2020-11-21 15:18] #791 closed, assigned to hfehrmann

[2020-11-22 08:59] aleene commented on #797
The implementation I go now implements:
- added ecoscore assets
- display of ecoscore on environment tab
- display of packaging image on environment tab
- display of packaging field on environment tab

Next step is to link with the json.

[2020-11-22 14:08] aleene commented on #797
What are the ecoscore related fields in the json:
- "ecoscore_score":77.3330654516856
- "ecoscore_tags":["b"]
- "ecoscore_data":{"agribalyse":{"agribalyse_food_name_en":"Crispbread, extruded and grilled","agribalyse_ef_total":"0.19327557","agribalyse_proxy_food_code":"7410","score":84.2080654516856,"agribalyse_food_name_fr":"Tartine craquante, extrudée et grillée"},"status":"known","grade":"b","ad

[2020-11-22 14:09] teolemon commented on #797
Yes it is. The rest is for debug purposes.

[2020-11-22 20:07] aleene commented on #797
The upload of the packaging inage does not work well. It is uploaded as a packaging image, but under language `xx`.

[2020-11-22 20:25] teolemon commented on #797
They are language dependent, so you can pass the current language.

[2020-11-23 06:26] aleene commented on #797
Yes I know. It was just to record a remaining bug.

[2020-11-23 08:42] aleene opened #799 "Image language does not match"
**Summary:**
When the device is set to nl, an image is present in the environment, which as has been assigned to nl as well.

When I now upload an image, it is assigned to the main language and not to nl.

I wonder whether this is an issue for other images as well, as the same code is used.

To be checked.

**Steps to reproduce:**
- use a product with multiple languages and a different image for e

[2020-11-24 13:15] aleene commented on #797
![image](https://user-images.githubusercontent.com/1329905/100099244-76830180-2e5f-11eb-8fbe-9bfa5f4dbfaf.jpeg)

[2020-11-24 16:29] aleene opened #800 "Multilingual products"
**Summary:**
There is an issue with editing multilingual products and when you are editing in another language. The edits are then not saved, nor shown, nor sent to the server.

Needs more investigation to confirm this.

**Steps to reproduce:**
I was using a product with main language french, but with dutch as well. Device was set to dutch.

[2020-11-26 10:57] aleene commented on #796
How

[2020-11-26 10:57] #796 closed, assigned to nobody

[2020-11-26 11:26] aleene commented on #797
Wonder how and when to decide to refresh the offline products with `refreshOfflineProductsFromServerIfNeeded()`.

Now the data is refreshed after one month. We could add a specific data: if the last download is older than that data, do a refresh.

[2020-11-29 12:17] #797 closed, assigned to aleene

[2020-11-29 18:10] dependabot-preview[bot] opened #802 "Dependabot can't parse your Gemfile"
Dependabot couldn't parse the Gemfile found at `/Gemfile`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/openfoodfacts/update-logs/56939427).

[2020-11-29 18:45] #802 closed, assigned to nobody

[2020-12-01 09:19] teolemon opened #805 "Add the packaging photo button to the edit/addition screen"
Add the packaging photo button to the edit/addition screen
![image](https://user-images.githubusercontent.com/1689815/100720692-a893e680-33be-11eb-866d-59ba035cbb6e.png)

[2020-12-01 17:12] teolemon opened #806 "The language prefixes are visible in the Packaging field."
![image](https://user-images.githubusercontent.com/1689815/100773123-be2a0000-3400-11eb-9b91-91acd87ee0de.png)

[2020-12-01 17:13] teolemon opened #807 "Missing string"
![image](https://user-images.githubusercontent.com/1689815/100773234-e1ed4600-3400-11eb-8e78-f01e0e3920e1.png)

[2020-12-01 17:14] teolemon opened #808 "The value from the label taxonomy should be used in edit mode"
The value from the label taxonomy should be used in edit mode
![image](https://user-images.githubusercontent.com/1689815/100773280-f3365280-3400-11eb-8ba0-088feb135503.png)

[2020-12-01 17:30] aleene commented on #807
These should be filled in through Crowdin?

[2020-12-01 18:27] aleene commented on #808
Either you use the original values as has been entered by the user. Or you use the value interpreted by OFF, but in the main language of the product (or the language of the user interface).

[2020-12-01 20:22] teolemon commented on #807
It seems to be missing from the source string file:
https://github.com/openfoodfacts/openfoodfacts-ios/search?l=Swift&q=call-to-action.environment

[2020-12-04 14:57] aleene commented on #807
The complete line is:
`                callToActionView.textLabel.text = "call-to-action.environment".localized
`
So I do not know why you could not find it.

I also added to the the english localisation file, but that did not help. Maybe crowdin picks it up now?

[2020-12-04 19:09] #807 closed, assigned to aleene

[2020-12-05 15:12] teolemon opened #815 "Investigate adding freshOS/Localize for Translation Quality"
### What
Investigate adding freshOS/Localize for Translation Quality
https://github.com/freshOS/Localize

`Localize is a tiny run script that keeps your Localizable.strings files clean and emits warnings when something is suspicious.`

### Why
- Translation quality is important

[2020-12-06 14:16] teolemon commented on #744
Fixed by @aleene

[2020-12-06 14:16] #744 closed, assigned to nobody

[2020-12-06 14:17] teolemon commented on #749
fixed by @aleene

[2020-12-06 14:17] #749 closed, assigned to aleene

[2020-12-06 14:18] teolemon commented on #775
This is mostly fixed by @aleene

[2020-12-06 14:18] #775 closed, assigned to aleene

[2020-12-06 14:19] teolemon commented on #772
I've made an initial PR to move it to GitHub actions

[2020-12-06 14:21] teolemon commented on #765
fixed by @aleene

[2020-12-06 14:21] #765 closed, assigned to nobody

[2020-12-06 14:22] teolemon commented on #736
fixed

[2020-12-06 14:22] #736 closed, assigned to aleene

[2020-12-06 14:27] teolemon commented on #421
fixed by @aleene in the case of viewing the products in other scenarii than scans

[2020-12-06 14:27] #421 closed

[2020-12-06 14:27] #394 closed

[2020-12-06 14:28] teolemon commented on #382
fixed.

[2020-12-06 14:28] #382 closed

[2020-12-06 14:30] teolemon commented on #267
The issue is still here on latest build

[2020-12-06 14:51] teolemon opened #817 "Show the Unknown icons when the Scores are unknown"
![image](https://user-images.githubusercontent.com/1689815/101283470-dcb24180-37da-11eb-83e5-10f9b6a215d4.png)
We now have unknown icons that can help stabilize layouts. We could show them on
- the scan card
- search results
- product page

when the values are unknown
https://static.openfoodfacts.org/images/misc/nutriscore-unknown.svg
https://static.openfoodfacts.org/images/misc/nova-group-unknown

[2020-12-06 15:34] teolemon opened #818 "Untranslated string when taking photos"
Possibly solved by https://stackoverflow.com/a/54289410
The strings are already there
https://github.com/openfoodfacts/openfoodfacts-ios/blob/develop/Sources/Localization/fr.lproj/Localizable.strings#L397
![image](https://user-images.githubusercontent.com/1689815/101284550-c4ddbc00-37e0-11eb-96db-3b2765200c6b.png)

[2020-12-06 15:44] teolemon opened #819 "The language prefixes are visible in the Labels field for untaxonomized values"
The language prefixes are visible in the Labels and Packaging fields for untaxonomized values.
The field should behave like the server:

- [ ] Untaxonomized values in Italic if it's in the same language as the UI
- [ ] Keep the language prefix if it's different than the UI

[2020-12-06 16:44] aleene commented on #819
Requires the same solution as #806

[2020-12-06 16:45] aleene commented on #817
Has already been done for ecoscore.

[2020-12-06 16:48] aleene commented on #819
See also #808

[2020-12-06 16:50] teolemon commented on #817
in the Environment tab only for now.

[2020-12-07 09:37] aleene commented on #806
This data is stored in the packagingTags json-field, which is not yet retrieved.

[2020-12-07 10:02] aleene commented on #806
It turns out that the packaging data is not yet available in tags (en:xxx) format in the json. The language prefixes you see here are probably entered by me, and yet parsed by OFF.

[2020-12-07 10:08] aleene commented on #819
Probably the label and packaging fields are the only mixed language fields.

[2020-12-07 11:36] aleene commented on #819
How does this behave for categories?

[2020-12-07 14:47] aleene commented on #806
The packaging_tags field does not contain any processed values and thus no language code prefixes.

[2020-12-07 15:23] aleene commented on #817
Can you generate them as png's with the same scale and aspect ratio as the coloured ones. I do not manage to get the right values.

[2020-12-10 09:02] #819 closed, assigned to nobody

[2020-12-10 09:03] #805 closed, assigned to aleene

[2020-12-12 11:33] aleene opened #822 "Disable ecoscore"
**Summary:**
Disable the ecoscore, so a version can be shipped, which allows taking packaging photo's

[2020-12-12 14:11] aleene commented on #822
We can suppress the reading of the alpha field. This will not show the calculated ecoscore, but will leave the images, etc.

[2020-12-12 14:14] teolemon commented on #822
Yes, just the alpha. That means that all users will be launch ready with the non-final logo. We'll ship an additional update with the finalized logos.

[2020-12-12 14:26] aleene commented on #822
You might get questions on what that grey ecoscore logo is doing there.

[2020-12-12 20:48] #822 closed, assigned to nobody

[2020-12-13 11:31] teolemon opened #825 "Layout issue in the environment tab"
Layout issue in the environment tab
![image](https://user-images.githubusercontent.com/1689815/102010565-23ee8400-3d3f-11eb-9970-5fb83b08ab70.png)

[2020-12-13 11:34] teolemon opened #826 "Edit mode Photo taking string needs to be propagated"
String needs to be propagated
![image](https://user-images.githubusercontent.com/1689815/102010625-8a73a200-3d3f-11eb-8776-f261eccbb961.png)

[2020-12-13 11:35] teolemon opened #827 "The label taxonomy needs to be used to display values in edit mode"
The label taxonomy needs to be used to display values in edit mode
![image](https://user-images.githubusercontent.com/1689815/102010644-b0994200-3d3f-11eb-8654-fc823588df52.png)

[2020-12-13 12:10] teolemon opened #828 "Nutriments are not translated in edit mode"
For some of the nutrients, we need to be using the tag name of the nutrient instead of its English or French or whatever language
saturated-fat instead of "Saturated Fat"
![image](https://user-images.githubusercontent.com/1689815/102011441-5babfa80-3d44-11eb-9dd2-acc9bec53cc1.png)

[2020-12-13 12:11] teolemon commented on #808
This still exists in the latest build

[2020-12-13 15:46] aleene commented on #828
See also #716

[2020-12-13 16:06] aleene commented on #828
I suspect this is related to Realm, as it can not find the translation in the Nutriments taxonomy.

[2020-12-13 16:07] teolemon commented on #828
When you click on add a nutrient, you get a list of very nice looking nutrients. Are those from Realm as well ?

[2020-12-13 16:16] aleene commented on #828
Yes those are taken from Realm as well, but with a different call.

[2020-12-13 20:46] teolemon commented on #784
https://github.com/openfoodfacts/openfoodfacts-ios/blob/d17614627e955f890adea50a1a7bac148228307f/Sources/ViewControllers/Products/Search/ScannerViewController.swift#L651

[2020-12-14 11:22] #826 closed, assigned to nobody

[2020-12-14 11:26] teolemon opened #834 ""product-add.label.labels" missing"
"product-add.label.labels" missing

![image](https://user-images.githubusercontent.com/1689815/102076081-772c0980-3e07-11eb-8aba-aad9bd11ee8a.png)

[2020-12-14 11:39] teolemon opened #836 "Show various values as chips in edit mode"
Show various values as chips in edit mode. This will enable multiple values, the ability to add or remove values more easily and intuitively.
This would apply to: labels, categories, packaging, brands
![image](https://user-images.githubusercontent.com/1689815/102077177-2e755000-3e09-11eb-9d67-2759e8e3eded.png)
![image](https://user-images.githubusercontent.com/1689815/102077219-3b923f00-3e09-11eb-

[2020-12-14 11:42] teolemon opened #837 "Add examples in edit mode"
Add examples in edit mode

- [ ] Labels
- [ ] Packaging
- [ ] Brand

[2020-12-14 12:59] #834 closed, assigned to nobody

[2020-12-14 16:01] aleene commented on #837
I guess you mean placeholders?

[2020-12-14 16:03] teolemon commented on #837
On Android we have both a placeholder and an example below.
Labels as a placeholder, and value exemple below the field.

[2020-12-14 16:04] aleene commented on #837
Can you post an example?

[2020-12-14 16:04] teolemon commented on #837
![image](https://user-images.githubusercontent.com/1689815/102104419-7490da80-3e2e-11eb-9cc4-3d287117354a.png)

[2020-12-14 16:06] aleene commented on #837
OK. Are there already standard texts for these?

[2020-12-14 16:09] teolemon commented on #837
I more or less used the one from the web
[code]

[2020-12-14 16:09] teolemon commented on #837
I realize that the hint for labels is missing on the Android version.

[2020-12-14 16:16] aleene commented on #836
This will be a major change. There are libraries available on Github. I adapted one for my use.

[2020-12-14 16:18] aleene commented on #827
I think we show now the values as originally entered by the user and not the interpreted versions by OFF.

[2020-12-14 16:39] aleene commented on #828
I can only explain this if the key we use has changed.

We seem to have lost the prefix en: somehow. Adding it solves the issue for most keys.

There is only an issue for carbohydrates and fiber left.

The intention of the change was to use the same keys for the json as for the nutriment taxonomies. And there seems to be a mismatch.
- carbohydrate vs en:carbohydrates
- fiber vs en:dietary-fiber

[2020-12-14 17:40] aleene commented on #808
Yes, I did not do anything. I am not sure it is an issue.

[2020-12-14 17:42] teolemon commented on #808
It is. Regular users won't learn our idiosyncrasies. They expect to type the 1st letters of the label, and get autocompletion in the language of the UI.

[2020-12-14 18:14] aleene commented on #808
What product is this?

[2020-12-14 18:26] aleene commented on #808
I did some testing on 3270190114055. This product has labels that are in multiple languages. Some of them are not in the taxonomy. In editMode you see either the the taxonomised label without language prefix, For the others we see the labels with the language prefix, unless the label is in the language of the product.

[2020-12-14 19:24] teolemon opened #845 "Unrecognized Locales prevent App Store submission (Regression)"
ITMS-90176: Unrecognized Locale - - The locale names used in localization directories at ( 'Payload/OpenFoodFacts.app/ber.lproj', 'Payload/OpenFoodFacts.app/me.lproj', 'Payload/OpenFoodFacts.app/ry.lproj', 'Payload/OpenFoodFacts.app/son.lproj', 'Payload/OpenFoodFacts.app/tzl.lproj' ) are invalid

[2020-12-14 19:33] #837 closed, assigned to aleene

[2020-12-14 19:40] aleene commented on #845
Yes you should delete those from Crowdin, etc. We have noticed this issue before.

[2020-12-14 23:32] teolemon opened #849 "The nutrition table appears for products without nutrition"
The nutrition table appears for products without nutrition. We should hide the table and the take a photo button, and instead put:
"This product does not have any nutrition information on the packaging. If this is an error, please correct it by editing the product"

[2020-12-14 23:37] teolemon opened #850 "Add a link to the methodology of the Nutri-Score"
Add a link to the methodology of the Nutri-Score on Open Food Facts, similar to what we have for NOVA.

[2020-12-15 16:02] teolemon opened #852 "Add padding between Eco-Score image and text"
Add padding between Eco-Score image and text and information dot.
![image](https://user-images.githubusercontent.com/1689815/102239512-390e1300-3ef7-11eb-99c5-199ae5fb7cf4.png)

[2020-12-18 17:56] aleene commented on #845
- #736

[2020-12-19 15:37] aleene commented on #850
Where should we link to?

[2020-12-19 15:50] aleene commented on #850
Shouldn't we move the image and  call for image to the top as well?

[2020-12-20 11:50] #852 closed, assigned to aleene

[2020-12-26 16:42] teolemon opened #857 "Add a mention below the origin ingredients field mentioning it is required for the Eco-Score (in the Edit mode)"
Add a mention below the origin ingredients field mentioning it is required for the Eco-Score (in the Edit mode)

[2020-12-26 16:50] teolemon opened #858 "Add some logic in case the Eco-Score is not computable or we miss some variables."
Add a message if we have a category but no Eco-Score.
`if states_tags=categories-completed and ecoscore_grade=Null`

`We could not compute an Eco-Score for this product. It might be that the category is not specific enough or that we don't have supporting data for this category. If you believe this is an error, you can email contact@openfoodfacts.org`

`if "labels-to-be-completed" in states:`

`"T

[2020-12-27 22:47] teolemon commented on #817
https://static.openfoodfacts.org/images/misc/nutriscore-unknown.png
https://static.openfoodfacts.org/images/misc/nova-group-unknown.png

[2020-12-29 12:44] aleene commented on #858
This text as an addition to the empty ecoscore image, or as an extra? Similar at what was done for missing ingredients/categories for NOVA?

[2020-12-29 12:46] aleene commented on #857
We do not show the origin field yet. Need to add it to the ProductAddViewController.

Is this field read from the json? Yes.
Is it displayed? Yes on the SummaryForm, we can move it to the ingredientsForm.

[2020-12-29 12:48] teolemon commented on #858
- As an interactive, button pushing experience for labels and origins.
- as an information text with a mailto:link for the categories.
- It should occupy the full width of the device and resize properly to different screen size (the full visibility of the text at a normal font size matters more than the height)

[2020-12-29 13:02] aleene commented on #849
It seems that products without a nutrition table, have the state `en:nutrition-facts-completed`.

We need to check the variable noNutritionData. If there is no nutrition data, the string has the value `on`.

[2020-12-29 13:07] aleene commented on #849
Note that in this case there is already a call to action.

[2020-12-29 16:56] #828 closed, assigned to aleene

[2020-12-29 16:57] #825 closed, assigned to aleene

[2020-12-30 10:44] #857 closed, assigned to aleene

[2020-12-30 13:55] aleene opened #863 "Add some logos"
**Summary:**

https://github.com/openfoodfacts/openfoodfacts-server/pull/4675/files?short_path=809ea43#diff-809ea43e396f8a32af33f00193e5e43518fd43c04d080d74d4c6e77ed79afd12

This is the highest resolution?

[2020-12-31 11:22] UlricusR opened #864 "Allow other apps to open OFF by introducing URL Schema"
**Summary:**

This is a feature request to allow other apps to open OFF and directly navigate to a product. Unfortunately I cannot implement it myself (as discussed on Slack) as I cannot downgrade XCode due to my other projects.

**Steps to implement:**

The relevant documentation can be found here: https://developer.apple.com/documentation/xcode/allowing_apps_and_websites_to_link_to_your_content/

[2020-12-31 11:32] aleene commented on #864
- See also https://github.com/openfoodfacts/openfoodfacts-ios/issues/652

[2021-01-01 13:02] #863 closed, assigned to aleene

[2021-01-01 17:02] teolemon opened #868 "Show the Eco-Score in search and History"
Show the Eco-Score in Search and History.

We adopted an horizontal layout on Android that lets room for long titles
![image](https://user-images.githubusercontent.com/1689815/103464520-8cc08f00-4d34-11eb-9673-bb28cd6f9dc6.png)

[2021-01-02 18:56] teolemon commented on #868
In the end, we adopted an horizontal layout
![image](https://user-images.githubusercontent.com/1689815/103464520-8cc08f00-4d34-11eb-9673-bb28cd6f9dc6.png)

[2021-01-03 18:21] #868 closed, assigned to nobody

[2021-01-04 10:32] teolemon commented on #817
![nova-group-unknown-3X](https://user-images.githubusercontent.com/1689815/103526059-92c38680-4e80-11eb-8bcb-7bf37a7fd495.png)
![nutriscore-unknown-3X](https://user-images.githubusercontent.com/1689815/103526062-935c1d00-4e80-11eb-9630-d730c7d24f51.png)
@aleene

[2021-01-04 13:29] aleene opened #871 "Reload history items"
**Summary:**
The history items need a reload as the ecoscore is not stored in the history items and I needed to up the Realm version as well.

[2021-01-04 14:21] aleene commented on #858
Added the grey ecoscore.

[2021-01-05 09:07] #849 closed, assigned to aleene

[2021-01-15 15:38] herau opened #877 "Item disappear from the history if i open it"
**Summary:**

Item disappear from the history if i open it

**Steps to reproduce:**

 - Open history (screenshot 1)
 - Open an item from the list (the second item on the screenshot 2)
 - Get back to the history list (screenshot 3)

**Expected behavior:**

keep the item in the history list as i come back to the history list.
if i open an item from the history list, then it should be kept from the h

[2021-01-15 15:40] herau opened #878 "Eco score is not computed for non-open items from the history list"
**Summary:**

Eco score is not computed for non-open items from the history list

**Steps to reproduce:**

 - Open the history list
 - Items not opened doesn't have their eco score
 - If i open an item and i go back to my history, the eco score is there

**Expected behavior:**

The eco score of all items in the history should be there by default

**Observed behavior:**

No eco score for history it

[2021-01-15 15:45] teolemon commented on #878
Mmh, first I didn't expect you to file an issue for this platform ;-) @herau
Second: @aleene is that related to https://github.com/openfoodfacts/openfoodfacts-ios/issues/871

[2021-01-30 11:27] teolemon opened #879 "Sentry reports a lot of JSON serialization issues"
### What

- Sentry reports a lot of JSON serialization issues

### Screenshot
![image](https://user-images.githubusercontent.com/1689815/106355099-3c6a2c00-62f6-11eb-99df-9f14a6f0f092.png)

[2021-01-30 11:27] teolemon opened #880 "update Sentry SDK from version 5.2.2 to version 6.1.4"
### What
update Sentry SDK from version 5.2.2 to version 6.1.4

[2021-01-30 13:10] teolemon opened #881 "Create a list system (shopping list, nutritional intake, scan history…)"
### What
Add a Lists system (shopping list, nutritional intake, scan history…) that lets you add products to lists, and export the lists.
More sophisticated features can be added (such as quantities), but are really not compulsory.

### Why
### Part of
- #912

[2021-01-30 13:13] teolemon opened #882 "Cache scanned products locally so that they load faster"
### What

- Cache scanned products locally so that they load faster, even if the phone is offline, and even if the server is down or slow at that peculiar moment.
- Refresh should be done if network is available, after showing the cached version.

### Why
- Slow or no network in supermarkets
- Data is still expensive or unavailable in many areas

[2021-02-09 08:01] markk628 commented on #153
Hey can I try taking this off your hands?

[2021-02-22 19:18] teolemon opened #890 "Issue with the Environment tab in dark mode"
![image](https://user-images.githubusercontent.com/1689815/108758197-1af20e00-754b-11eb-872c-414f36545b63.png)

[2021-03-03 14:29] Rajaikumar-iOSDev commented on #890
@teolemon Can you provide more info on this?

[2021-03-11 08:57] #792 closed, assigned to nobody

[2021-03-11 09:00] teolemon opened #891 "Sanitize the barcodes before making a query"
[code]
**We could:**
- [ ] remove all whitespaces so that the URL is valid (it sends back the proper thing in a web browser: {"status":0,"code":"181988","status_verbose":"product not found"})

We should perhaps be cautious about directly enforcing anything like EAN-8 or EAN-13 (many cases where producers have longer barcodes like in spain)

[2021-03-11 22:56] teolemon commented on #890
![image](https://user-images.githubusercontent.com/1689815/110866369-53247b00-82c5-11eb-8808-1f549604414a.png)

[2021-03-12 12:20] teolemon commented on #890
[code]

[2021-04-03 16:21] teolemon opened #892 "Send the country with the product queries"
- [ ] Send the country with the product queries `&cc=fr`
- [ ] Prefill the country setting based on the phone. This will ensure country dependant features work well.
- [ ] We could also have an onboarding card asking for it and mentionning it can be changed at any time from the settings

[2021-04-08 13:50] jordan-furr commented on #877
I found this issue on ovio and would like to tackle this

[2021-04-08 23:18] jordan-furr commented on #153
Did you make any progress? Can I help on this?

[2021-04-08 23:37] jordan-furr commented on #882
Is anyone working on this?

[2021-04-09 07:46] teolemon opened #893 "The screenshot generation produces empty screenshots"
I’m looking at the automated screenshot generation

it’s working mostly, but the generated screenshots show the app wasn’t able to access internet in the simulator:
https://github.com/openfoodfacts/openfoodfacts-ios/tree/screenshots/dev
Screenshots are automatically generated and located in the build Artefacts : https://github.com/openfoodfacts/openfoodfacts-ios/runs/1867210729

![image](https://u

[2021-05-22 09:50] teolemon opened #897 "Use the new auth.pl API to see if login was successful"
### What
Use the new auth.pl API to see if login was successful
https://world.openfoodfacts.org/cgi/auth.pl

This endpoint returns status 200 or 403 if the user is authentified, either through the "session" cookie, or with the user_id and password parameters.

[2021-06-15 17:12] Photon-GitHub opened #905 "The offline mode and taxonomies cause a massive iCloud Backup size"
**Summary:**
The iCloud backup of any device with OpenFoodFacts will have lots of data only for OpenFoodFacts even on a totally fresh installation, which is indeed larger than the storage the app uses on the device.

**Steps to reproduce:**

 - Install the app
 - Create backup of the device in iCloud
 - Check the size of the app in the iCloud backup

**Expected behavior:**

Only save user-relevant

[2021-06-16 08:23] teolemon commented on #905
Thank you @Photon-GitHub
This is probably related to:
1. Offline mode backup
2. Taxonomy backup

Both are stored in the Open Food Facts database, along with things like scan history and user-settings. I believe we'd have to split the Database in two, to enable selective backup, and reduce the default iCloud backup size.
@aleene @philippeauriach

[2021-06-16 08:31] aleene commented on #905
However 500MB seems a bit large, even for the taxonomies. Wonder if we can exclude these from the backups, as they are easily downloaded.

They can also be reduced further by downloading only the relevant language.

[2021-07-15 08:26] #707 closed, assigned to jncosideout

[2021-07-24 16:19] teolemon opened #907 "Get the Automated App Store build working again for the classic iOS app"
### What

- [ ] Get the automated App Store build working again for the classic iOS app
- [x] https://github.com/openfoodfacts/ios-certificates/issues/5

### Why
- We need the automated App Store build to succeed in order to be able to do the app swap

https://github.com/openfoodfacts/openfoodfacts-ios/runs/3074722480

[2021-07-24 16:24] teolemon commented on #907
[08:36:48]: ▸ ***  Skipped installing ImageViewer binary due to the error:
[08:36:48]: ▸ "Incompatible Swift version - framework was built with 5.0 (swiftlang-1001.0.69.5 clang-1001.0.46.3) and the local version is 5.3.2 (swiftlang-1200.0.45 clang-1200.0.32.28)."
▸ Falling back to building from the source
 ***  Skipped installing OHHTTPStubs binary due to the error:
[08:36:49]: ▸ "Incompatible Swi

[2021-07-25 13:13] bigimot22 opened #908 "Settings screen layout issue when using large accessibility font sizes"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**
Although the app supports dynamic type it is not optimised for it. It a user turn

[2021-07-25 13:16] bigimot22 commented on #908
Im planning on doing a PR to help with this issue 🤓

Now looks much better
<p align="center">
<img src="https://user-images.githubusercontent.com/13711262/126900402-57e45499-4c1c-4cb4-889e-3fbe5063fe96.png" height="600"/>
</p>

[2021-08-22 15:18] teolemon opened #912 "What can I work on ? (Tracker issue)"
### Who for
- Our beloved users and contributors
### What

##### App health
- [ ]  #403
- [ ]  #115
- [ ] #925
- [x] #907

##### Acquisition -  automatic screenshot generation
- [ ] #913

##### Onboarding new users
- [ ]  #335

#### Scan
- [ ]  #180

#### Product page

- [ ] #926
- [ ]  #245

#### History
- [ ]  #267
- [ ]  #53

#### Search
- [ ]  #553

#### Offline - Work better in supermarket wi

[2021-08-22 15:19] teolemon opened #913 "Automatic screenshot generation (tracker issue)"
### What
- [ ] #914
- [ ]  Fix the "Scan screenshot" generation
  - [ ] Add a way to set the background of the barcode scanner with an arbitrary image, per country
- [ ] #915
- [ ] #916
- [ ]  Add `fastlane frameit` to the Fastlane file, so that we can get versions wrapped in physical devices
- [ ] #917
- [ ]  Ensure we can generate for 1 of (iPhone 11 Pro Max, iPhone 11, iPhone XS Max, iPhone XR)

[2021-08-22 15:24] teolemon opened #914 "Create a GitHub Action to run screenshot generation and upload the output to the OFF server (or somewhere else)"
This is actually mostly done.
https://github.com/openfoodfacts/openfoodfacts-ios/blob/develop/.github/workflows/screenshots.yml

[2021-08-22 15:26] teolemon opened #915 "Fix the "History screenshot" population with products"
### What
Fix the "History screenshot" population with products

### Part of
- #913

[2021-08-22 15:26] teolemon opened #916 "Add the proposed fix to clean the top bar with 100% battery, and an arbitrary time of day"
### What
Add the proposed fix to clean the top bar with 100% battery, and an arbitrary time of day

### Part of
- #913

[2021-08-22 15:26] teolemon opened #917 "Fix Chinese screenshot generation"
### What
Fix Chinese screenshot generation
### Part of
- #913

[2021-09-01 07:56] CharlesNepote opened #921 "Crash when selecting search result"
A user is reporting: "_The app crashed i iPhone12 when searching product “Rårörda lingon” i get one hit, then click the item. The app crashes. The same happens for my colleague._"

I wasn't able to reproduce the bug on an iphone 10 (with French interface).

[2021-09-01 08:48] teolemon commented on #882
@jordan-furr no, not at the moment. You're very welcome to assign it to yourself if you wish.

[2021-09-01 08:58] teolemon commented on #921
Thanks for the report. Please make sure to add labels to your reports whenever you can.

[2021-09-01 09:00] teolemon commented on #845
@aleene How about adding them to .gitignore ?
https://github.com/openfoodfacts/openfoodfacts-ios/blob/develop/.gitignore
But meanwhile, I believe I disabled them in Crowdin, so we can probably close:

[2021-09-10 16:37] teolemon opened #925 "Keep dependancies up to date (Tracker)"
### What
- [ ] Alamofire: new version 5.4.3
- [ ] BulletinBoard: new version 5.0.0
- [ ] KeychainAccess: new version v4.2.2
- [ ] FloatingPanel: new version 2.4.0
- [ ] OHHTTPStubs: new version 9.1.0
- [ ] Kingfisher: new version 6.3.1
- [ ] NotificationBanner: new version 3.0.6
- [ ] Zip: new version 2.1.1
- [ ] sentry-cocoa: new version 7.2.9
- [ ] realm-cocoa: new version v10.14.0
- [ ] swifter

[2021-09-10 19:23] teolemon opened #926 "Improve the Product page"
### What

- [ ] #173
- [ ] Add a prompt to extract ingredients when photo is already present so that we can have a simple way to NOVA, vegetarian, vegan, additive status
  - [ ] #171
- [ ] Finish the new product page revamp based on the Attributes API
  - [ ] #780

### Part of
- #912

[2021-09-19 09:59] teolemon opened #927 "Open Food Facts takes 3.2GB on disk"
### What

- Open Food Facts takes 3.2GB on disk
- Related to #905

### Part of
- #912
### Screenshot
![image_d___ios.png](https://user-images.githubusercontent.com/1689815/133923322-dc19bc28-6cb1-444a-8e2d-2168cfb73f21.png)

[2021-09-30 21:31] morganzellers commented on #925
I think I'm gonna take a look at this - could you add a hacktoberfest label? :D

[2021-10-01 14:47] SpacyRicochet opened #929 "SwiftLint warnings after first build"
After installing SwiftLint, running the project gives quite some warnings, which I presume are due to new SwiftLint defaults. Instead of randomly fixing these, this issue is to determine which rules should be followed and which should be ignored.

The rules that SwiftLint is warning about;

* `comment_spacing`: Generates a lot of warnings, due to commented out code (e.g. `//returnValue += ...`). C

[2021-10-01 14:48] SpacyRicochet opened #930 "Build warnings"
Running the project for the first time in Xcode 12.5 causes a couple of compiler warnings to appear.

* Use of `AnyObject` conformance instead of the deprecated `class`.
* Explicitly put completion handlers in the parameter.

These seem easy and worthwhile to fix without issue.

[2021-10-01 17:21] teolemon commented on #930
thanks @SpacyRicochet :-)
Would you have a go at it ?

[2021-10-01 17:22] teolemon commented on #929
thanks @SpacyRicochet :-)
feel free to open a11y issues as you spot them, we're novices on this area

[2021-10-01 17:40] teolemon commented on #925
done @morganzellers
Can you balance upgrades with device support ?

[2021-10-02 09:39] SpacyRicochet commented on #930
Sure. Though I just figured out I made a mistake while creating this issue. I was building in Xcode 12.5. The same warnings and fixes for them still apply, so I just updated the title to avoid mentioning any specifics.

Compiling for Xcode 13 proved to be more cumbersome. Some of the Carthage dependencies don't build well. I started with Nimble, which just required a small update… however, Realm i

[2021-10-02 13:46] morganzellers commented on #925
Possibly - what are you needing done for support?

[2021-10-03 16:53] SpacyRicochet opened #932 "[a11y] Product search results should also expose scores to accessibility users."
# Description
Users with accessibility needs should be able to get an accurate summary of the product in their search results. Currently, VoiceOver users only hear the product name, brand name and quantity; but the various scores visible to other users are not read out loud.

E.g. VoiceOver speaks:

# Acceptance criteria

VoiceOver should also include the various visible scores in its description.

[2021-10-05 15:09] peteraisher commented on #403
Hi, I’m interested in helping out, but with the effort of a UI refactor anyway, I wanted to ask if migrating to SwiftUI has been considered?

[2021-10-05 16:10] teolemon commented on #403
@peteraisher I believe there were concerns of leaving too many devices in the dust. What would we loose with a move to SwiftUI ?

[2021-10-05 18:36] peteraisher commented on #403
@teolemon According to Apple’s [stats](https://developer.apple.com/support/app-store/), 7% of all iPhone users are on versions older than iOS 13 and 12% of iPad users.

The percentages are lower for devices introduced in the last four years (2% and 1%, respectively) …

Does that seem like too many potential users to leave behind?

[2021-10-06 07:38] aleene commented on #403
I would put the cutoff at IOS12 (included in support).

I have no experience with SwiftUI, but the issue is that much of the interface code is generated in code. So moving to SwiftUI will be a major update. But I guess we need to adopt more modern approaches.

[2021-10-09 13:09] #929 closed, assigned to nobody

[2021-10-09 13:10] #932 closed, assigned to nobody

[2021-10-09 13:10] #930 closed, assigned to nobody

[2021-10-09 13:28] #772 closed, assigned to nobody

[2021-10-09 13:49] teolemon commented on #115
@philippeauriach @aleene I believe we can call it quits on ios 9 ?

[2021-10-09 13:51] teolemon commented on #927
It seems that we don't clear uploaded photos

[2021-10-15 14:30] evertoncunha commented on #403
I would cutoff as [iOS 15](https://iosref.com/ios) to start using SwiftUI, because I believe it's when it really starts to get more useful and less frustrating, otherwise in I think it's easier to use UIKit

[2021-10-15 14:30] evertoncunha commented on #403
I would cutoff as [iOS 15](https://iosref.com/ios) to start using SwiftUI, because I believe it's when it really starts to get more useful and less frustrating, otherwise in I think it's easier to use UIKit

[2021-10-15 18:17] SpacyRicochet opened #936 "[a11y] Flash button in scanner is not accessible"
The flash button in the scanner cannot be accessed by VoiceOver users, as it's not a proper accessibility element.

[2021-10-15 18:21] SpacyRicochet opened #937 "[a11y] After navigating to Scanner, no headings are available for quick navigation of the screen"
When activating the Scanner tab button, it's customary to swipe either up or down to quickly navigate to an appropriate header to enter the new screen proper. However, none of the labels in the Scanner are accessible, making this impossible.

A possible solution is to make the overlay text on top a header… another good candidate is the label explaining that you can enter a barcode manually.

[2021-10-15 18:26] SpacyRicochet opened #938 "[Bug] Manual barcode entry panel cuts off top of label"
In iOS 15, the top of the label for the manual barcode entry in Scanner is cut off.

A likely reason is the view centering on the safe area, instead of aligning itself to the top of the safe area.

![IMG_1138](https://user-images.githubusercontent.com/904596/137535131-66e4a0a7-613a-421f-a34f-6b9e51e34c79.jpg)

[2021-10-15 19:22] SpacyRicochet opened #942 "[Issue] Strict SwiftLint check now breaks on a TODO"
The strict SwiftLint check for each pull request now breaks on the TODO in the PersistenceManagerMock.

Considering that it's a mock, deleting the TODO should suffice, though disabling the TODO rule in tests is also an option. That would be the one I'd go for.

[2021-10-22 17:30] DilanAnuruddha commented on #171
@teolemon  Can I work on this?

[2021-10-22 17:32] DilanAnuruddha commented on #938
@SpacyRicochet  Can I work on this?

[2021-10-23 12:11] teolemon commented on #938
@DilanAnuruddha @SpacyRicochet has already made a PR on this one

[2021-10-23 15:43] teolemon commented on #403
@evertoncunha 15 ?
 90% iOS 14
 8% iOS 13

[2021-10-23 15:44] teolemon commented on #403
https://developer.apple.com/support/app-store/

[2021-10-23 15:45] teolemon commented on #171
@DilanAnuruddha yes, that would be helpful 👍

[2021-10-23 15:46] teolemon commented on #942
I'm closing this one since you fixed it 🟢

[2021-10-23 15:46] #942 closed, assigned to nobody

[2021-10-23 15:46] teolemon commented on #938
I'm closing this one since you fixed it 🟢

[2021-10-23 15:46] #938 closed, assigned to nobody

[2021-10-23 15:47] teolemon commented on #937
I'm closing this one since you fixed it 🟢

[2021-10-23 15:47] #937 closed, assigned to nobody

[2021-10-23 15:47] teolemon commented on #936
I'm closing this one since you fixed it 🟢

[2021-10-23 15:47] #936 closed, assigned to nobody

[2021-12-29 08:38] danilsem commented on #335
Hi! Can I try to do this? :)

[2022-01-24 10:32] teolemon opened #958 "Implement the new App uuid system"
### What
- [ ] Implement the new App uuid system
  - [ ] app_name
  - [ ] app_version
  - [ ] app_uuid
- [ ] Deprecate the equivalent using comment=

For further details and potential questions, see: https://github.com/openfoodfacts/openfoodfacts-server/pull/6319

### Part of
- #4169

[2022-01-24 17:59] amberhandal commented on #173
Hello, I would like to work on this!

[2022-01-24 18:03] amberhandal commented on #153
Hi! Can I help with this?

[2022-02-05 16:46] teolemon opened #959 "Clone the ingredients extraction system for recycling instructions"
### Overview
- [ ] Clone the ingredients extraction system for recycling instructions

### Flow
It works exactly like the ingredients field, tab and addition workflow. **This means although I've redocumented everything, you can mostly clone the ingredients code, or refactor it to be able to handle the packaging case**
1. Upload a packaging_image
Same process as ingredients but field is: ` packagin

[2022-03-20 20:43] dispatchswift commented on #403
Is the app version support iOS 13+?

Regarding unifying the UI into a single storyboard, I would highly suggest otherwise. This increases the complexity for a team of developers working on the same project to introduce changes to the UI as merge conflicts would occur and be difficult to resolve.

[2022-05-02 14:09] ajoga commented on #914
Hi @teolemon -- I see the issue still open, didn't the PR solve this issue?

[2022-05-07 16:09] teolemon commented on #907
I have fixed this

[2022-05-07 16:09] #907 closed, assigned to nobody

[2022-05-10 14:32] yousifKashef opened #978 "Question about categories"
How did you guys get the app to show categories that have nutrient averages? I think that the API is only good for single food calls

[2022-05-22 07:43] yarons opened #981 "Wrong language"
https://github.com/openfoodfacts/openfoodfacts-ios/blob/7731df26d2c92d6cd7489e97554cc936972855df/Sources/Localization/en.lproj/Localizable.strings#L86

The source is in Spanish, should be English, spotted by NCAA on Crowdin.

[2022-06-09 20:15] BarbaraKlopocka opened #984 "Problem with several translations"
Epic: #

### Description
When choosing some languages for example Portuguese not every element in the app is translated - maybe there are too many languages than needed or somebody should pay a little bit more attention to this matter.

### Acceptance criteria
Every element should be translated in the chosen language. There should not be a situation when some things stay in English and the rest is

[2022-07-27 17:24] fuddl commented on #799
Also, every text one enters on a device set to english is assumed to be english. Would be nice if one could choose the product language to edit.

[2022-07-31 03:19] pankova commented on #921
Hi! Great project! I'd like to help, but I can't reproduce the crash: nothing is found. I'm in US, but I set France in the app settings.

<img width="250" alt="IMG_7883EC9558CF-1]" src="https://user-images.githubusercontent.com/7028613/182008327-77271519-7675-4d46-8b5a-90a86cdb77ab.jpeg">

[2022-07-31 03:28] pankova commented on #180
No longer relevant? I scan the barcode from the description and found another unknown product.

<img width="250" alt="IMG_7883EC9558CF-1]" src="https://user-images.githubusercontent.com/7028613/182008555-ee731093-b5f2-402c-812d-754ef180c50b.jpeg"> <img width="250" alt="IMG_7883EC9558CF-1]" src="https://user-images.githubusercontent.com/7028613/182008593-c8ce7fc6-eab1-486a-a4e0-44beff93787b.jpeg">

[2022-09-16 17:57] clarissaj commented on #115
@teolemon should this issue be closed? I imagine supporting iOS 9 is no longer reasonable given iOS 16 just released last week!

[2022-09-16 20:26] teolemon commented on #115
@clarissaj you're quite right 👍 closing

[2022-09-16 20:26] #115 closed

[2022-09-29 08:28] InsanelyHarsh commented on #420
I would like to solve this issue

[2022-09-29 09:00] teolemon opened #998 "Transfer the valuable parts of the codebase to openfoodfacts-swift"
### Problem
- We're not using this codebase as our main app anymore
- It would be a shame to throw this codebase away
- Transfer the valuable parts of the codebase to [openfoodfacts-swift](https://github.com/openfoodfacts/openfoodfacts-swift) so that other apps can leverage it

[2022-10-03 10:54] misteu commented on #335
Hi there,
is this still open?

I would like to work on this as I have built something similar lately into one of my own projects.

The issue mentions some "server" is this or an endpoint already existing?

If not I could also create a mock JSON in the (to be) specified format and drop it into the app's bundle for now.

Let me know if you would like to have some help here 🙂

[2022-10-03 11:03] misteu commented on #335
oh ok, I just saw that there is this new Flutter app.

So this is native iOS app is probably not maintained anymore right?

[2022-10-15 13:20] randhirkumar65 commented on #717
Hi @teolemon , Is this still need to work on?

[2022-11-11 06:18] mevinson commented on #153
Hey, I see there hasn't been progress on this feature in a while. If you don't mind, I'm going to take a shot at this starting in a week or two