[2016-12-30 09:36] teolemon opened #4 "Switch to HTTPS"
HTTPS is now live on OFF

[2016-12-30 11:33] aleene commented on #4
This was already the case for the api (which I use). So what is the IOS impact?

[2017-01-05 12:21] stephanegigandet commented on #4
It's also now in place for images etc. All http requests are being redirected to https, except for POST requests.

[2017-04-15 20:58] Tovkal commented on #4
Using `https://ssl-api.openfoodfacts.org` as an endpoint, so we're already only using HTTPS.

[2017-04-15 20:58] #4 closed

[2017-04-30 12:46] teolemon opened #5 "Reusing the Nutriscore component from aleene"
https://github.com/aleene/NutriScoreLogo

[2017-05-10 20:38] Tovkal commented on #5
Already using it in the nutrition view, but there seems to be a bug when rotating. I see there's an issue for that, https://github.com/aleene/NutriScoreLogo/issues/1, will check it out and see if I can fix it and submit a PR.

[2017-05-11 12:12] aleene commented on #5
Check also the scaling, I am not yey happy with it, and am still fiddling with the numbers.

[2017-05-24 08:26] Tovkal opened #6 "Search typing partial barcode displays details about wrong product"
API calls are made while typing a barcode. API returns products matching the partial barcode and the first product from the response is displayed.

[2017-06-06 05:36] Tovkal commented on #6
Fixed with 38be65f90aed868c73b20f78de81524f42685e32

[2017-06-06 05:36] #6 closed

[2017-06-06 07:03] silsha opened #8 "Debounce Search"
Currently, the search sends a request with every key press and outputs the most recent response in the results list.

Since the results don’t come in the same order as requested, it’s common to receive results from a previous request.

[2017-06-06 07:05] silsha opened #9 "Hide placeholder data in nutrition facts"
There are some placeholder in the nutrition facts which get overwritten with the actual data. When there is no data it still shows “9999zzz Fat”.

[2017-06-08 18:04] tovkal opened #10 "Replace Agrume as image viewer"
We're currently using Agrume as an Image Viewer for the images in a product's details pages.
Although it works, the library does more than we need (file is larger than we need) and horizontal flick does not work.

So we could develop a small ImageViewer class that does what we need: display an image over black background, dismiss it with a tap or a flick. The flick should be possible in any direct

[2017-06-09 14:35] #9 closed

[2017-06-15 20:54] #10 closed, assigned to nobody

[2017-06-18 17:36] #8 closed

[2017-07-06 07:47] #5 closed

[2017-07-06 14:52] teolemon opened #14 "make the app iPad compatible"
make the app iPad compatible. currentll, I can only see it in iPhone mode.

[2017-07-10 21:03] Tovkal opened #15 "Scanning an inexisting product should ask the user to add it"
The screen should look similar to V1:

<img src="https://user-images.githubusercontent.com/5960675/28040043-b3f71d7e-65c4-11e7-8131-ed7affb078db.jpg" width="300">

[2017-07-10 21:06] Tovkal opened #16 "Add a loading cell as the last cell in search results"
As the results of a search are paginated, when there are more pages to display a cell should be inserted at the bottom of the cell that shows the user that more results are being loaded. The cell should simply display an UIActivityIndicatorView.

When the new page of results is received, the cell should be removed and the new results appended to the table.

If there are no more pages, the cell sho

[2017-07-10 21:13] Tovkal opened #17 "Search bar does not appear sometimes after coming from background"
When displaying the results for some search, backgrounding the app and then opening it up again the search bar did not display.

It happened to me once, must try a few times to see if it can be reproduced.

[2017-07-10 21:15] Tovkal commented on #14
For starters it can be made compatible so it sizes nicely, should be easy.

Custom UI should be made, so for instance search results and product detail are displayed using a master-detail interface

[2017-07-11 15:28] teolemon commented on #14
the simple compatibility looks good enough for a 1st version.

[2017-07-15 10:20] Tovkal commented on #14
Basic support enabled in ec339f8b30b29a882f211f7720cd9b0102f6feda. Will be in the next beta.

[2017-07-28 22:47] teolemon opened #18 "Investigate AR kit for Nutriscore Overlay on products while scanning"

[2017-09-12 20:57] Tovkal commented on #15
Implemented.

[2017-09-12 20:57] #15 closed

[2017-09-12 20:58] Tovkal commented on #16
Implemented in 98a28240ec5eba1e583ba6198d02043edf8074de.

[2017-09-12 20:58] #16 closed

[2017-10-11 08:05] Tovkal opened #19 "Decimals not processed correctly on Nutrition Table"
Barcode to reproduce issue: `3017620429484`

<img src="https://user-images.githubusercontent.com/5960675/31428498-3666506a-ae6b-11e7-84a0-5d35a94ce7c3.png" width="300">

[2017-10-11 08:07] Tovkal opened #20 "Highlight ingredients"
Barcode to reproduce issue: `3017620429484`

Issue: Words surrounded by underscores need to be **bold**.

<img src="https://user-images.githubusercontent.com/5960675/31428659-dcab6852-ae6b-11e7-83e5-9e6779bf889f.png" width="300">

[2017-10-11 08:12] Tovkal commented on #17
Tried a few times, but haven't been able to reproduce the issue.

[2017-10-11 08:12] #17 closed

[2017-10-11 08:16] Tovkal opened #21 "User should be able to login"
This way he should be able to upload products associated with their account.

[2017-10-11 08:22] Tovkal opened #22 "Substances tags should be displayed correctly"
Barcode to reproduce the issue: `3017620429484`

Substances causing allergies are tags, they have a language code prefix. Where now `en:milk` is displayed, the correct way it should be displayed is `Milk`. Ideally, only the tags matching the user language should be displayed, although on V1 all tags appear to be displayed.

<img src="https://user-images.githubusercontent.com/5960675/31429100-5f6bd

[2017-10-11 19:22] #19 closed

[2017-10-12 12:10] #20 closed

[2017-10-12 13:03] #22 closed

[2017-10-14 17:24] Tovkal opened #23 "Send unique identifier for each post request"
Maybe `identifierForVendor` works https://developer.apple.com/documentation/uikit/uidevice/1620059-identifierforvendor

Send as
`&comment=contribution by sgd57R3456YHGFF4F533333`
`&comment=Contributed using: OFF app for iOS - v1.1 - userhash: xxxx5467FFHT`

[2017-10-16 19:36] #21 closed

[2017-10-17 18:02] Tovkal commented on #23
Closed ddf834539220793293c85783a5b6810e1690fc23

[2017-10-17 18:02] #23 closed

[2017-10-18 16:22] teolemon commented on #14
Can we close this one ? Works fine for me.

[2017-10-18 16:23] teolemon opened #24 ""Add another photo" even if photo is already selected"
"Add another photo" button in each tab even if photo is already selected.
Use case: the photo is old, or bad.

[2017-10-18 16:23] teolemon opened #25 "Add a link to the account creation page"

[2017-10-18 16:33] teolemon opened #26 "Use webviews for feature parity with Android"
Load in a webview, with a menu entry:
Discover: https://world.openfoodfacts.org/discover
How to Contribute: https://world.openfoodfacts.org/contribute
Create Account: https://world.openfoodfacts.org/cgi/user.pl
Edit: https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=3421557904127
Your Contributions: https://world.openfoodfacts.org/contributor/teolemon
Open Beauty Facts: Link to the Ope

[2017-10-18 16:33] teolemon opened #27 "Add Scan on startup option"

[2017-10-18 16:35] teolemon opened #28 "Search by barcode doesn't work"
"Something went wrong. Please try again"

[2017-10-18 18:35] Tovkal commented on #14
Technically yes, but I would like this to be implemented in the future to better use the screen real estate:

![Master-detail example](https://i.imgur.com/uOSxxA2.png)

[2017-10-19 13:16] #28 closed

[2017-10-19 16:08] #27 closed

[2017-10-19 16:54] #24 closed

[2017-10-20 09:16] #26 closed

[2017-10-20 10:50] teolemon opened #29 "Try to make the app compatible with the lowest version possible of iOS"
Some people still use old versions of iOS (9, but sometimes even lower, especially for things like iPod Touch).
What's the minimum compatible version for the app ?

[2017-10-20 11:28] teolemon opened #30 "Add some warning in edit view to click on "Save""
So I edited, and clicked on "Done" without clicking on save.
So a transient warning "Make sure to click on Save the product before clicking Done" might be useful.

[2017-10-20 12:59] Tovkal commented on #29
Right now the lowest version that can run OFF is 9.1. As a general rule in iOS developers usually target the current version of iOS (11 right now) and the one before. We can't go lower than 9.1 at the moment because of some dependencies restrictions.

But 9.1 covers a lot of devices, as per this table on the right: [https://en.wikipedia.org/wiki/IOS_version_history#Versions](url).

We would have t

[2017-10-20 13:06] teolemon commented on #29
So users whose device will become incompatible will keep the old version. iOS doesn't have any multiple app scheme ?

[2017-10-20 13:27] Tovkal commented on #29
I think if the new app is uploaded to the same iTunes Connect record as the current one, if a user has a non-compatible device (so iOS <9.1) they'll still be able to download the old version but you will not be able to update it anymore.

[2017-10-20 15:14] #30 closed

[2017-10-21 19:04] teolemon opened #31 "Reload image placeholder on upload"
Reload image placeholder on upload of an image

[2017-10-21 19:14] Tovkal commented on #31
So on a product's detail with the placeholder, if the user takes one picture it should be displayed even though it is not selected (so if the user searches later for the product the image will not appear)?

[2017-10-21 19:53] teolemon commented on #31
I had a placeholder, and I uploaded an image. So I assume the server selected the image in that case ?
But if the image is not selected, it would be confusing to show it.
Or perhaps a drag to reload, to see if anything has changed ?

[2017-10-21 19:56] teolemon opened #32 "Manual Language switcher on product addition"
The server will automatically add the proper country on product addition, based on the IP address.
But It won't take the right language by default. If the iPhone is in English but the product in French, it will select the English language.
So it should be possible to select the main language of the product on product addition.

[2017-10-21 20:06] Tovkal commented on #32
So add a drop down list when adding a product to select a language, right?

I don't see the API exposing a list of languages (would be nice), so I'll search one.

[2017-10-21 20:07] Tovkal commented on #31
I don't think the server selects an image automatically.

[2017-10-22 07:54] #29 closed

[2017-10-22 07:55] teolemon opened #33 "History of scanned products"
Store an history of scanned product on the device for easy access. Mention that this history is not sent to the server.

[2017-10-22 07:59] teolemon opened #34 "Offline mode for contribution"
If no connexion is detected:
- store the added images for later, and add a button to retry uploading them
- assume the product doesn't exist, show the new product form, let the user add names and photos, and store in a "Offline" list that the user can upload when he's back online. If the barcode exist, check the name/brand/quantity do not exist, and upload images without selecting them

[2017-10-22 08:01] teolemon opened #35 "Offline mode for consultation"
- Download from the server, and store a reduced version (60MB) of Open Food Facts on the device.
- Read from this version when offline, go back to the API when online
- Offer to refresh the database in the settings
- Offer to refresh automatically when on wifi

[2017-10-22 08:01] teolemon commented on #35
Blocked on the definition of a common standard for Android and iOS. A test version of the base has already been made.

[2017-10-22 18:38] aleene commented on #34
Is related to a bulk upload mode.

[2017-10-22 18:40] aleene commented on #35
Is it possible to get the database for specific countries? What does reuced mean?

[2017-10-22 18:41] teolemon commented on #35
[code]
[code]

[2017-10-22 18:45] teolemon commented on #35
output-small= 78,3 Mo for the whole world. Might have increased since 24.05.2017

[2017-10-23 10:02] teolemon commented on #34
- If you rescan the product a second time after adding photos, it should display the product page, and offer to upload the photos if online.
- There should be a view with a list of pending products.
- There should be a slight prompt to upload the product (either a count badge on the offline icon, or a notification, or it should happen automatically if that kind of things is possible on iOS)

[2017-10-28 19:11] teolemon commented on #35
https://world.openfoodfacts.org/data/output-small.csv
Database at 1GO, new export: 87MB

[2017-10-29 09:35] aleene commented on #35
Very nice. Wonder how I can use this to enhance the app.

[2017-10-29 09:37] teolemon commented on #35
Zipped, it goes down to 20MB for download.
If no connection is detected, fill the fields with an icon Not available offline and fill the values when you have them ?

[2017-11-16 12:57] teolemon opened #36 "Add Pastec.io support to the app"
We're going to replace Moodstocks by Pastec.io, since Moodstocks is deprecated.
The doc is here:
http://pastec.io/doc/oss/
[code]

[2017-11-16 13:16] Tovkal commented on #36
What is this for?

[2017-11-16 13:19] teolemon commented on #36
oh sorry:
Barcode-less product recognition. Show the app a bottle of coke, the API (open source) will recognize it, and send you the barcode, and then, we can display it like when a barcode is scanned

[2017-12-03 15:44] #31 closed

[2017-12-08 22:43] #32 closed

[2017-12-19 20:36] #33 closed

[2017-12-27 21:02] Tovkal opened #42 "Check UX with different Network Conditioner profiles"
With Network Conditioner set to `100% loss`, loggin in, for instance, timeouts but the user has no feedback. In this case a HUD should happear telling the user we are trying to log in to avoid him tapping the Login button again and again.

Check all use cases in the app to find if there are other UX mistakes on slow networks.

[2018-02-13 16:18] yarons opened #43 "Unnecessary strings in XLIFF"
Please take a look at the crowdin options, there are many arguments and placeholders for translation, as you can see here (should not be available for translation):
https://github.com/openfoodfacts/openfoodfacts-ios/blob/master/xliff/en.xliff#L541

Thanks!

[2018-02-14 20:00] SahilDhawan commented on #14
The current application can be made compatible with iPads by using Auto Layout. Auto Layout helps to provide different constraints for different layouts and using that we can add compatibility for iPads.

[2018-02-15 17:38] tusharjindal353 commented on #14
This can be easily done by using the split view controller.I have done this several time.I can do this for you if you assign this task to me

[2018-02-16 06:49] DShivansh opened #44 "No internet Connection"
User is not notified when there is no internet connection when user is inside the app.

[2018-02-16 19:00] SahilDhawan commented on #44
A Notification Banner can be used to add a prompt for internet connection. Reachability can be used to check for internet connection.
Something like this?

<img width="296" alt="screen shot 2018-02-17 at 12 29 42 am" src="https://user-images.githubusercontent.com/12775360/36324228-b57a06b2-1379-11e8-806a-c8bd59ecb658.png">

[2018-02-18 09:42] DShivansh commented on #44
Yup
I'll be adding the pr tuesday

[2018-02-18 21:04] sgrpanchal31 opened #46 "Back button not present when we are visiting the website in the app."
When we scan a barcode and the product is not present in the database, there is a hyperlink on the subsequent page that ask the user to add that product to the database linking to the openfoodfacts.org website. When we open the link, there is no way to go back to the app's main interface rather than restarting the app.

[2018-02-18 21:05] Hrayr2112 commented on #46
I am currently working on this bug. Please assign it to me.

[2018-02-18 21:18] sgrpanchal31 commented on #46
Sorry mate but I am just an another enthusiast developer like you.
@teolemon help this guy

[2018-02-20 10:17] teolemon opened #49 "We need to put the Apache licence in the repo"

[2018-02-20 10:30] snuff4 commented on #49
@teolemon Added Apache 2.0 License in PR #47 . Correct me if I'm wrong.

[2018-02-21 12:21] sgrpanchal31 opened #51 "Can't make an account on the app."
When we try to create an account throught "create an account" hyperlink in Sign-in Section, it redirects to the openfoodfacts.org's homepage.

[2018-02-21 13:28] teolemon commented on #51
The url should be https://world.openfoodfacts.org/cgi/user.pl

[2018-02-21 13:31] teolemon commented on #49
fixed. thanks @snuff4

[2018-02-21 13:31] #49 closed

[2018-02-21 13:31] teolemon commented on #46
@sgrpanchal31 have you started developping the feature ?

[2018-02-21 13:33] teolemon commented on #44
Rather than telling the user that he has no connexion, we should aim to make the app useful, even without connexion, by having an offline mode :-)

[2018-02-21 13:33] teolemon commented on #43
@Tovkal ?

[2018-02-21 13:35] teolemon opened #52 "Add a "Password forgotten" link that opens the password reset page"
Add a "Password forgotten" link that opens the password reset page

https://world.openfoodfacts.org/cgi/reset_password.pl

[2018-02-21 13:36] teolemon opened #53 "Allow to export the product history"
Allow to export the product history as a CSV file

[2018-02-21 13:36] teolemon opened #54 "Add a timestamp for scans in the product history"
Add a timestamp for scans in the product history

[2018-02-21 13:38] teolemon opened #55 "Allow to switch language from the settings"
Allow to switch language from the settings, without having to switch the whole device.

Useful for demos, and useful when uploading foreign products (they need to be uploaded in the right language)

[2018-02-21 13:39] teolemon opened #56 "Add a link to Open Beauty Facts in the settings"
Add a link to the iOS Open Beauty Facts app for cross promotion

[2018-02-21 13:43] teolemon opened #57 "Continuous scan mode"
Allow to scan product, and choose whether to scan another product or get more info about the product.

We should overlay a minimal card with : Product name, Product Brand, Weight, Nutriscore, Buttons to add pictures if they are missing, Button to see the whole product.

You can use the current JSON to implement this, and the backend team will soon provide a much lighter JSON for very fast loading.

[2018-02-21 13:45] teolemon opened #58 "The app should propose adding a new product if an unknown keyword or barcode is searched for"

[2018-02-21 13:46] teolemon opened #59 "Add the "Generic name" of the product in the summary view"

[2018-02-21 13:48] teolemon opened #60 "Display full name of additives, as a list"
Go from:
"E311, E321,…"
to
"
- E311 - Bla bla bla
- E321 - Boum blah blom
"

[2018-02-21 13:51] teolemon opened #61 "Add a button to share the product page URL"
Add a share icon that will share the product url to your favorite service. The url should change based on the UX language.

https://world.openfoodfacts.org/product/80051428
https://world-fr.openfoodfacts.org/product/80051428
https://world-de.openfoodfacts.org/product/80051428

[2018-02-21 14:13] yarons commented on #43
I'm just wondering if these can be removed or commented out as they are or should I also change something in other files other than strings.xml?

[2018-02-21 14:29] snuff4 commented on #52
Hi @teolemon , can you review if it is okay?

![simulator screen shot - iphone x - 2018-02-21 at 19 52 48_iphonexspacegrey_portrait](https://user-images.githubusercontent.com/30552772/36485208-9cbc26de-1741-11e8-82cf-15ca703eb3e4.png)

![simulator screen shot - iphone x - 2018-02-21 at 19 52 56_iphonexspacegrey_portrait](https://user-images.githubusercontent.com/30552772/36485210-9e99f972-1741-11e

[2018-02-21 14:41] snuff4 commented on #52
Edited, and now used the openUrlInApp to get the link.

![simulator screen shot - iphone x - 2018-02-21 at 20 07 43_iphonexspacegrey_portrait](https://user-images.githubusercontent.com/30552772/36485926-4d92e730-1743-11e8-8c45-e62217c78ad1.png)

[2018-02-21 15:03] sgrpanchal31 commented on #46
Actually I am working on the data science project for classifying products automatically. I was using the the app to get familiar with the product and eventually found some bugs on the way.

[2018-02-21 15:04] teolemon commented on #46
@Hrayr2112 You may work on this one, then :-)

[2018-02-21 15:05] teolemon commented on #46
@sgrpanchal31 Nice, you built the new app instead of just trying the one currently in the app store ?

[2018-02-21 15:16] snuff4 commented on #59
Hi @teolemon , can you elaborate on this, or give an example please?

[2018-02-21 15:20] teolemon commented on #59
https://world.openfoodfacts.org/product/3245550078735/snack-poppe-saveur-barbecue-too-good
```Common name: Snack soufflé a base de soja et pomme de terre saveur barbecue```
[code]

[2018-02-21 15:25] sgrpanchal31 commented on #46
@teolemon No I was using the one from the app store itself, but I did it's testing on my xcode once.

[2018-02-22 12:59] yegorsch commented on #61
I can try to do it. Should not be hard.

[2018-02-23 03:44] yegorsch commented on #61
#64

[2018-02-24 17:39] teolemon opened #65 "Use the new lite API in Search"
https://world.openfoodfacts.org/cgi/search.pl?search_terms=nutella&search_simple=1&action=process&json=1&fields=product_name,nutrition_grades_tags,quantity,brands

Beware: ensure you pass all the fields necessary to the URL

[2018-02-24 17:40] teolemon opened #66 "Use the new lite API in the Quick Scan mode"
https://world.openfoodfacts.org/cgi/search.pl?search_terms=nutella&search_simple=1&action=process&json=1&fields=product_name,nutrition_grades_tags

Beware: ensure you pass all the fields necessary to the URL

[2018-02-24 17:40] teolemon opened #67 "Use the new lite API to delve into categories in the category browser"
https://world.openfoodfacts.org/category/pizzas.json?fields=product_name,categories_tags,ingredients_text,image_front_small_url,nutrition_grades_tags

Beware: ensure you pass all the fields necessary to the URL

[2018-02-24 17:42] aleene commented on #65
Does this imply that the old api no longer works?

[2018-02-24 17:43] teolemon commented on #65
It still works, no breakage. You have just the possibility to get a much lighter result :-)

[2018-02-25 12:51] aleene commented on #65
Can be useful to reduce the amount of json decoding needed. Have to see if it impacts my decoders (which I just rewrote).

I could use it to get more search data in one go (instead of a csv) and do some statistics on it.

[2018-02-26 11:12] MayankR commented on #59
Hi, I've just downloaded the repo and started playing around with it. I would like to solve this issue. I have been able to add the generic name of the product to the table list in the summary page, as shown in the attached image.
1) In terms of UI, is this how the generic name is supposed to be added to the summary page, or in some other manner?
2)There is a LANG_CODE with generic_name too, I'd l

[2018-02-27 14:25] teolemon commented on #59
The generic name can be available in several languages. You should display the common name in the language of the UX, if not available English, and if not available, the main language of the product. In terms of position,Your current implementation is the right one.

[2018-02-27 19:35] snuff4 commented on #51
Hi @teolemon, I used both the apps on a physical device, and observed that the issue is in the app currently on the App Store, NOT with the  Swift application.

So we can close this issue.

[2018-03-01 00:43] Abishek10 commented on #59
@teolemon Can i work on this ?

[2018-03-05 15:52] devjdg commented on #35
Mind if i ask, should we consider downloading products by category / certain specifics (parameters) or should it really be downloaded as a whole compressed data when there is no internet connection?

[2018-03-07 13:51] #51 closed

[2018-03-07 13:51] teolemon commented on #51
thanks @snuff4

[2018-03-07 14:48] snuff4 commented on #46
Hi @teolemon again! I tested this on both the apps, and yes this problem is there in the current app from the App Store, but taking pictures and adding basic details has been integrated in the Swift app.
So we can close this issue.

[2018-03-10 01:22] snuff4 opened #71 "Add a contribution button "Support Open Food Facts""
After going through the native Android application, I saw this, but found the Apple guidelines are strict and confusing.

According to [App Store Review Guidelines](https://developer.apple.com/app-store/review/guidelines/#payments), apps that seek to raise money for such causes(charity) must be free on the App Store and may only collect funds outside of the app, such as via Safari or SMS.

@teolem

[2018-03-10 15:54] snuff4 opened #73 "Add a contribution button to help translate Open Food Facts"
Add a contribution button which will lead to [this](https://crowdin.com/project/openfoodfacts) link.

I have worked on this issue.

[2018-03-10 18:11] snuff4 opened #75 "Add Contact and FAQ button"
A Contact option in the Setting screen -> mailto:contact@openfoodfacts.org

And a [Frequently Asked Questions](https://world.openfoodfacts.org/faq) option which will take the User to browse in Safari.

I have worked on this issue.

[2018-03-10 20:55] snuff4 commented on #56
Hi @teolemon ! We can close this issue.

[2018-03-12 21:13] baquer commented on #14
I can easily do this task , if you assign this to me .

[2018-03-14 10:56] teolemon opened #78 "$(PRODUCT_NAME) does not need to be translatable"
$(PRODUCT_NAME) does not need to be translatable

[2018-03-14 11:30] snuff4 commented on #78
@teolemon In the InfoPlist.strings, there is `"CFBundleName" = "$(PRODUCT_NAME)";`
I found that

So can we name $(PRODUCT_NAME) as Open Nutrition?

[2018-03-14 12:59] teolemon opened #79 "String confusing translators"
![image](https://user-images.githubusercontent.com/1689815/37403658-dd060828-278f-11e8-9b15-9f769d4b57ac.png)

Those strings are confusing translators. They should either be clarified or made untranslatable.

[2018-03-15 16:02] #75 closed

[2018-03-15 16:02] #52 closed

[2018-03-15 16:02] #73 closed

[2018-03-17 01:35] aclaussen1 commented on #60
Hi @teolemon!

Thought I'd try to tackle this issue in preparation of GSOC! I hacked together a little python script to scrape this Wikipedia page: https://en.wikipedia.org/wiki/E_number

![2](https://user-images.githubusercontent.com/11046216/37550331-c4b440b8-2961-11e8-938e-fc9b1af05042.png)

That's how I got the descriptions of the additives corresponding to the ecodes. Some of the ecodes did n

[2018-03-17 10:06] teolemon opened #81 "Using Wikidata to enrich facets in the app"
Many facets of Open Food Facts (categories, labels…) are linked to Wikidata, which is linked to Wikipedia.

Thus, by getting the Wikidata ID from the API, we can get Wikidata info we can display, and links to Wikipedia, so that the users can get more knowledge: controversies about additives, more info about the wine they are drinking…

https://github.com/Wikidata/Wikidata-Toolkit (this is the Java

[2018-03-17 10:08] teolemon opened #82 "Make products clickable"
Just like on Android, values should be clickable:

![image](https://user-images.githubusercontent.com/1689815/37554051-785645be-29d3-11e8-89ff-735875ab43f3.png)

- Create a reusable Search list view to display list of product having said value
- Make the field clickable on the product page

[2018-03-17 10:26] teolemon opened #83 "Issue to store images"
![image](https://user-images.githubusercontent.com/1689815/37554225-ce5822c8-29d5-11e8-92e9-5c667be57a56.png)
![image](https://user-images.githubusercontent.com/1689815/37554229-dde0ecb6-29d5-11e8-82e1-918ee97cecd1.png)
![image](https://user-images.githubusercontent.com/1689815/37554231-e3689670-29d5-11e8-876f-c8d4055f7484.png)
![image](https://user-images.githubusercontent.com/1689815/37554234-eb

[2018-03-17 10:26] #83 closed

[2018-03-18 11:36] teolemon opened #84 "Add support for vitamins and minerals in products"
We recently added support for vitamins and minerals in products.
In some cases, you will find what is below in a product:
[code]

===== Vitamins and minerals detection =====

====== Vitamins ======
<pre>"vitamins_tags":["en:vitamin-a","en:cholecalciferol","en:vitamin-e","en:vitamin-c","en:thiamin","en:riboflavin","en:niacin","en:vitamin-b6","en:folic-acid","en:vitamin-b12","en:biotin","en:phylloqu

[2018-03-18 13:26] aleene commented on #84
What does this mean?
- has these been added to the nutrients taxonomy?
- have this been added as nutrients in the read api?
- are these available in the updare api?
- why are the specified as _tags?

[2018-03-18 14:24] teolemon commented on #84
- Those are new ingredient-based taxonomies (Vitamins, Minerals, Amino Acids, Others), and thus specified as tags since they are taxonomized
- Those are separate from nutrients, and detected from ingredients, just like additives or palm oil would

[2018-03-18 14:25] teolemon commented on #84
Global vitamins taxonomy
Global minerals taxonomy
Global amino acids taxonomy
Global nucleotides taxonomy
Global other nutritional substances taxonomy

https://en.wiki.openfoodfacts.org/Global_taxonomies

[2018-03-18 15:56] aleene commented on #84
I do not understand what the interest is. How would I use this?

[2018-03-21 20:06] snuff4 opened #85 "Search: Products keep repeating"
**Summary:**

Only 20 products are displayed which keeps repeating while searching.

**Steps to reproduce:**

Search for any word. I searched for France.

**Expected behavior:**

A full search option.

**Observed behavior:**

The products keep repeating after the 20th product.

**Device and iOS version:**

Apple iPhone 7 running iOS 11.2.6

**Screenshots:**

![img_5632](https://user-images.githubu

[2018-03-30 11:20] snuff4 commented on #56
This issue has been resolved. 👍

[2018-03-30 11:20] snuff4 commented on #71
This issue has been resolved. 👍

[2018-03-30 11:20] #71 closed

[2018-03-31 18:59] rudrankriyam opened #88 "Modify app icon with white background"
App icon with white background will blend with the UI of the application.

Comparison -
![simulator screen shot - iphone x - 2018-03-31 at 23 54 41_iphonexspacegrey_portrait](https://user-images.githubusercontent.com/30552772/38166564-608d5b72-3543-11e8-96f3-d7da27610705.png)

![icon-1024](https://user-images.githubusercontent.com/30552772/38166568-7d0ea120-3543-11e8-85c7-c9a6b8ab29f9.png)

What d

[2018-04-08 19:27] snuff4 opened #89 "Onboarding Screen"
Present in the native Android application, ​a series of screens to introduce the features of Open Food Facts to new users ​after the Launch Screen.

❏ This will be present only the first time the User opens the application.
❏ An option to skip to the Main screen, and the last onboarding screen will have a button "Get Started".
❏ These screens will consist of an image, small amount of text and navi

[2018-04-14 20:55] snuff4 commented on #79
These strings are under OpenFoodFactsTests. We can add Source and Target the same way done in the normal Localizable.strings.

Working on it.

[2018-04-14 21:09] snuff4 commented on #79
Is translating strings for Test needed?
If no, we can delete them.
If yes, we can translate it the same way as normal Localizable.strings, but there will be repetition of some strings.

What do you say @teolemon ?

[2018-04-15 21:40] snuff4 commented on #59
@MayankR Hi, Are you still working on this issue?
If no, I would like to work on it.

[2018-04-15 22:02] snuff4 commented on #56
@teolemon We can close this issue now. Thanks for merging!

[2018-04-21 16:29] snuff4 commented on #88
Nice, I will start working on it.

[2018-04-21 21:10] snuff4 commented on #89
Thank you for your feedback! I hope from modularity you mean that all four versions would share the same code, with only some differences; and apps' app-icons and splash images are different.

Like we created flavours in Android, we can start with creating Xcode Targets.

What do you think  @teolemon ?

[2018-04-21 21:11] teolemon commented on #89
Yes, exactly. @roger-tan is more the expert here, but that's the idea.

[2018-04-24 08:29] snuff4 commented on #89
@teolemon Unfortunate that I was not selected, maybe I was not good enough. But I really worked hard like anything on the proposal. But I will still contribute and try to complete. Is it okay @teolemon ?

[2018-04-24 19:29] roger-tan commented on #89
Sorry for late answer. I don't have an Android Phone right now. But I'm guessing. We will probably need to create a OnboardingViewController that contains an ImageView/Lottie with a label inside a stackView. Later, we can set this controller with different parameters. I would not recommend to use a storyboard if we make easy to reusable. Then we can use UIPageController to handle views and indicat

[2018-04-24 19:30] roger-tan commented on #88
My preference will be for the first one.

[2018-04-25 12:25] snuff4 commented on #89
Thank you for your response @roger-tan. I thought on the same line as yours. I was inspired by [this](https://github.com/Ramotion/paper-onboarding).
I have an Android Phone, and I will send a screencast asap.

[2018-04-27 17:23] snuff4 opened #92 "Identifier Name Violation Issues and Warning after updating to Xcode 9.3"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

Identifier Name Violation Issues and Warning after updating to Xcode 9.3

**Step

[2018-04-28 14:33] roger-tan commented on #92
Probably the next PR to fix!

[2018-05-04 20:57] roger-tan commented on #89
I think the architecture will an Onboarding Page Controller or A scrollview of a horizontal stack view which contains the same children which has a stackView which contain a imageView, two labels.

Let's define together how we can do an on-boarding without extra framework.

[2018-05-05 06:25] aleene commented on #89
So this implies that you need to copy all existing views and make it part of onboarding. And embed these in the pages of a pageViewController. What when you want to present logic of the views.
(in other words, I have no idea how this should work. Seems a lot of work.)

[2018-05-07 15:28] maevekenny commented on #54
I would like to try to work on this bug.

[2018-05-12 07:46] #92 closed

[2018-05-13 08:56] snuff4 opened #94 "Continuous scan for barcodes & Overlay showing key data for products"
**Checklist**
- [x] Bug Report - Reference issue #57

**Summary:**

`Motivation`

- As soon as a product is recognised, the User is taken to the full product view, interrupting the continuous flow of scanning products.
- A need of a quick mode with key data of the product will be powerful, less intrusive and enhancing the User experience.
- In some cases if the barcode is not visible, the User sho

[2018-05-13 09:05] snuff4 opened #95 "Personalisation"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

`Motivation`

A personalised interface that will take care of the dietary needs

[2018-05-13 09:14] snuff4 opened #96 "Offline contribution"
**Checklist**
- [x] Bug Report - Reference #35 #34

**Summary:**

`Motivation  `

- Making the application offline means that we provide essentially identical User experience, irrespective of the network condition.
- If a User finds an interesting or exotic product to add to the database, slow or no internet connectivity will disrupt the flow.
- This project will resolve the two unsolved features

[2018-05-13 09:20] rudrankriyam opened #97 "Ask questions on uncomplete products"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

`Motivation  `

- There are some incomplete products on the website, which needs

[2018-05-15 08:05] yarons opened #98 "IDs instead of strings in XLIFF"
https://github.com/openfoodfacts/openfoodfacts-ios/blob/ca22005a0ce9692dfe7fa41537ea4c5d998ca5e3/Sources/ViewControllers/Products/Detail/Ingredients/IngredientsHeaderCellController.swift#L52
https://github.com/openfoodfacts/openfoodfacts-ios/blob/ca22005a0ce9692dfe7fa41537ea4c5d998ca5e3/Sources/ViewControllers/Products/Detail/NutritionTable/NutritionTableHeaderCellController.swift#L59
https://gith

[2018-05-15 08:08] snuff4 commented on #98
As you can see, these are test cases, in the OpenFoodFactsTests/Localizable.strings.
I have offered a solution in PR #90
Can you go through it?

[2018-05-15 08:09] yarons commented on #98
I just looked at it, as said, it could lead to repetition so what I suggest is filtering out the test for XLIFF generation, I need to go through this and see if I can find a proper solution.

[2018-05-22 08:45] teolemon opened #99 "Duplicate string instead of trying to concatenate"
Duplicate string instead of trying to concatenate. Some languages don't work like English. That's more work for translators, but that's the proper way.

"Take a picture of the product's" + X

[2018-05-22 08:47] teolemon opened #100 "Correct typo"
OpenFoodFacts needs camera permissions

Open Food Facts needs camera permissions

[2018-05-26 13:34] teolemon opened #101 "Set up a testflight on the official account of Open Food Facts"
Set up a testflight on the official account of Open Food Facts

[2018-05-26 13:34] teolemon opened #102 "Add fastlane configuration to take screenshots and upload app store descriptions"
Add fastlane configuration to take screenshots and upload app store descriptions

[2018-05-28 00:43] maevekenny commented on #100
I can fix this.

[2018-06-01 18:11] #43 closed

[2018-06-01 18:11] #78 closed

[2018-06-01 18:11] #79 closed

[2018-06-11 02:00] snuff4 commented on #101
I have read through the the procedure [Steps to put your app on TestFlight](https://medium.com/@dmathewwws/steps-to-put-your-app-on-testflight-and-then-the-ios-app-store-10a7996411b1) nicely explained.
For immediate testing, we can do Internal testing upto 25 members. iTunesConnect needed

[2018-06-11 07:51] stephanegigandet commented on #85
Can you find out what search queries the app is sending?

[2018-06-12 07:49] snuff4 commented on #85
@stephanegigandet sure. Give me some hour and I will revert back to you.

[2018-06-14 06:48] snuff4 commented on #100
This issue can be closed now

[2018-06-14 19:53] teolemon commented on #100
closing

[2018-06-14 19:53] #100 closed

[2018-06-16 00:30] snuff4 commented on #85
![screen shot 2018-06-16 at 5 54 42 am](https://user-images.githubusercontent.com/30552772/41493896-dc4f0ac2-7129-11e8-869a-ddd5e01543bc.png)
This function is not iterating. So, if I kept the number of `pages == 1`, it shows the first twenty products, but after changing it to `pages:  pages + 1` is not updating to the next twenty products, instead starts repeating.
![screen shot 2018-06-16 at 5 56

[2018-09-30 09:46] yarons opened #107 "Non i18n string"
https://github.com/openfoodfacts/openfoodfacts-ios/blob/f94ca834e3ceedca152b431e39764de12381bd4f/Sources/Models/ViewModel/PictureViewModel.swift#L20

This string assumes that the language is English or any other language, in an i18n world it's not working because languages tend to have different grammar and a word that may be added at the end of the sentence in English might just be in the middle

[2019-01-17 13:11] aleene opened #109 "Product not found"
**Summary:**
Scanned product not found on OFF. I know it is there (https://world.openfoodfacts.org/product/5900020029096/clusters-almonds-seeds-nestle)

**Steps to reproduce:**
scan 5900020029096

**Expected behavior:**
Show the scanned product.

**Observed behavior:**
Asked me to add the product.

[2019-01-17 13:22] aleene opened #110 "Missing images"
The app is not aware of any images on OFF. Nothing is shown.

[2019-01-19 08:16] aleene commented on #110
I see now the main images but not the other one.

[2019-01-19 08:18] aleene opened #113 "Landscape scanning"
When scanning in landscape the orientation is not taken into account by the scanner. This means that left is up, up is right, etc.

[2019-01-19 08:19] aleene opened #114 "History not working"
My search history is not visible on the history page.

[2019-01-19 08:21] teolemon commented on #101
Thanks @aleene

[2019-01-19 08:21] #101 closed

[2019-01-19 16:48] aleene commented on #101
Still need to sort out how multiple Xcode users can help develop.

[2019-01-19 16:54] teolemon commented on #101
I'm going to launch a call for help in iOS. But via GitHub, I suppose ?

[2019-01-20 09:35] aleene opened #115 "Support iOS 9"
**Summary:**

The app does not support IOS 9 when building

**Observed behavior:**
When building for IOS 9 (project and target!) we get an error message, that the module KingFisher requires at least IOS 10.

**Xcode version:**
Xcode 10.1 and Swift 4 (needed for KIngFisher version 5)

**Screenshots:**
![screen shot 2019-01-20 at 10 28 35](https://user-images.githubusercontent.com/1329905/51437501-7

[2019-01-20 09:37] aleene commented on #115
I contacted the developer of KingFisher. https://github.com/onevcat/Kingfisher/issues/1093

[2019-01-20 09:43] aleene opened #116 "Support ISO_639-2 languages"
It seems that Xcode only support ISO 6391 version 1 languages. Is there a way to extend this to the other versions as well?

[2019-01-20 10:13] aleene commented on #116
https://www.ibabbleon.com/iOS-Language-Codes-ISO-639.html

Does this mean that other languages are supported?

[2019-01-20 11:43] aleene commented on #114
We have to figure out where the scan results are available and presented. At that moment one can save to the history as well. Probably this should happen in a background thread.

After successful scanning `ScannerViewController.handleGetProductSuccess(barcode:product:)` is called. This calls `ScannerViewController.showProduct(:)`, which launches the product viewcontroller.

[2019-01-20 11:59] aleene commented on #114
Success!

[2019-01-20 13:58] aleene commented on #113
When I turn to portrait and back to landscape, it works as it should. So this is an initialisation issue.

[2019-01-20 17:19] keegho commented on #109
This code found by scanning but not by ordinary search.

6223000055939

[2019-01-20 18:31] aleene commented on #101
If other developers make changes on Github, I could pull the changes and put them to the store.

[2019-01-22 07:58] stephanegigandet commented on #109
This bug only happens on specific products? Does rescanning the same product sometimes work? I'm trying to guess if it's a network / timeout issue, or if it's caused by the values of the returned JSON data (if any JSON data is returned).

[2019-01-22 07:59] stephanegigandet commented on #113
Can we just lock the app orientation in Portrait mode (like on the Android app). We don't want the app switching from portrait to landscape when we turn the phone to scan the barcode.

[2019-01-22 09:40] aleene commented on #113
We can lock it, but why not support it? It is now working for 95%.

[2019-01-22 09:40] aleene commented on #109
Indeed needs more testing.

[2019-01-22 09:56] stephanegigandet commented on #113
Mostly for scanning: many people hold the product in one hand, and with the other hand they hold the phone and they rotate the phone if the barcode is held vertically. But that doesn't work if the portrait mode is not locked: the barcode scanner line rotates as well and it's very hard to scan a vertical barcode, which can be quite frustrating.

[2019-01-22 11:04] aleene commented on #113
That depends on the scanning library used. With FoodViewer the orientation of the barcode does not matter, nor the orientation of the device. As user you should not have to care about orientations.

[2019-01-22 11:22] stephanegigandet commented on #113
In that case sure, my comment is valid only for the food scanners that display a red line to indicate how to scan.

[2019-01-22 12:10] aleene commented on #113
The barcode scanner of the app scans barcodes in any orientation. I wonder even it even captures barcodes outside the view that I see.

[2019-01-22 15:13] aleene commented on #113
I added a line to the initialiser of the video capture. It is working now.

It could do with some extra work though. The code I added is a stopgap: it works, but it is not how it should be done. Changing orientation could be smoother.

[2019-01-23 12:15] aleene commented on #109
The action for this is in class `ProductService`. And function `getProduct(byBarcode:isScanning:onSuccess:)`.
A test on a negative product reveals that the network interaction is a success, but the product is not found.

[2019-01-23 12:17] aleene commented on #109
Think I found it, its interrogating the .net server.

[2019-01-23 12:31] aleene opened #117 "Product name is clipped"
<img width="457" alt="image-1" src="https://user-images.githubusercontent.com/1329905/51606798-34ab6c00-1f13-11e9-998d-436e389f408c.png">

[2019-01-31 15:32] teolemon opened #122 "ProductServiceTests.swift:136:68: missing argument for parameter 'isSummary' in call"
[code]

[2019-01-31 15:32] teolemon opened #123 "ProductServiceMock.swift:13:7: type 'ProductServiceMock' does not conform to protocol 'ProductApi'"
❌  /Users/travis/build/openfoodfacts/openfoodfacts-ios/Tests/Common/ProductServiceMock.swift:13:7: type 'ProductServiceMock' does not conform to protocol 'ProductApi'
class ProductServiceMock: ProductApi {
                                                                                 ^
❌  /Users/travis/build/openfoodfacts/openfoodfacts-ios/Tests/Common/ @ProductServiceMock.swift:13:7: type 'Prod

[2019-01-31 15:36] philippeauriach commented on #122
Thats from my update from the continuous scan feature. I will fix that ;)

[2019-02-01 10:32] #122 closed

[2019-02-01 10:32] #123 closed

[2019-02-08 16:49] teolemon commented on #114
Is it fixed ? I think @philippeauriach also worked on some fix ?

[2019-02-08 16:53] teolemon commented on #57
Solved by @philippeauriach

[2019-02-08 16:54] #57 closed

[2019-02-08 16:54] teolemon commented on #54
solved by @philippeauriach

[2019-02-08 16:56] teolemon commented on #110
Solved by @philippeauriach I think ?

[2019-02-08 16:57] teolemon commented on #82
Initial support by @philippeauriach

[2019-02-08 16:57] #82 closed

[2019-02-08 16:58] teolemon opened #132 "Instant Nutri-Score computation"
Allow users to type nutrition facts, pick a product category (with autocompletion from the server), send it to the server, get back the nutriscore and display it

[2019-02-08 16:59] teolemon opened #133 "OCR system for ingredients (for Nova/additive computation)"
Make an OCR view from nutrition, and allow users to improve the answer from OCR

[2019-02-08 19:08] philippeauriach commented on #110
If we are talking about images in the product details screen, then yes it is solved !

[2019-02-08 19:09] philippeauriach commented on #60
Resolved in #128

[2019-02-08 19:42] philippeauriach commented on #54
Solved in #126

[2019-02-08 19:42] #54 closed

[2019-02-11 13:45] teolemon opened #135 "Change name from "Open Nutrition" to "OpenFoodFacts""
Change name from "Open Nutrition" to "OpenFoodFacts"

[2019-02-11 13:46] teolemon opened #136 "It should be possible to delete parts of the history"
It should be possible to delete parts of the history, rather than the whole history

[2019-02-11 13:47] teolemon opened #137 "The logo is too large on the home screen"
The logo is too large on the home screen. There should be reasonable left and right margins.

[2019-02-11 13:56] teolemon opened #138 "Reformat home screen"
- Combine user and settings in a single icon called Settings on the bottom bar.
- The center icon on the bottom bar should be the Scan icon (currently on top)
- The history icon should be on the bottom bar (currently on top)
- The search icon should be on the top bar (currently on the bottom)

[2019-02-11 14:00] teolemon opened #139 "Put the "Credits screen" at the bottom of settings."
- Put "Credits" in the About section
- Move FAQ in the Information section
- Rename the Information section into "Discover"

[2019-02-11 14:14] snuff4 commented on #135
![screenshot 2019-02-11 at 7 42 06 pm](https://user-images.githubusercontent.com/30552772/52568586-2a570080-2e35-11e9-8406-a566731e040a.png)

It will crop the name, is it fine?

[2019-02-11 14:25] aleene commented on #135
Probably this requires a new app on the app store.

[2019-02-11 14:41] teolemon opened #140 "Add link to the Nutri-Score methodology in Nutrition tab"
Add link to the Nutri-Score methodology in the Nutrition tab
https://world.openfoodfacts.org/nutriscore
The url should be translatable, and the button should say: Learn more (it can be an information icon)

[2019-02-11 14:42] teolemon opened #141 "Add link to the Nova methodology in the ingredients tab"
Add link to the Nova methodology in the Ingredient tab
https://world.openfoodfacts.org/nova
The url should be translatable, and the button should say: Learn more (it can be an information icon)

[2019-02-11 14:42] teolemon opened #142 "Show the Nova group in the ingredient tab"

[2019-02-11 14:49] teolemon commented on #135
That's the name of the V1, so V2 won't change anything to that regard.

[2019-02-11 14:54] teolemon opened #143 "Make the brand, Packaging, Labels, Stores, Countries where sold clickable"
Make the brand, Packaging, Labels, Stores, Countries where sold… clickable
Each value should open a list of products with that specific value.
https://world.openfoodfacts.org/brand/carrefour/1.json?fields=brands,product_name,quantity,nutrition_grade_fr,nova_groups
https://world.openfoodfacts.org/label/organic/1.json?fields=brands,product_name,quantity,nutrition_grade_fr,nova_groups
https://world.o

[2019-02-11 14:57] teolemon opened #144 "Put the nutrient name in bold in nutrient levels"
![image](https://user-images.githubusercontent.com/1689815/52571353-af322200-2e15-11e9-84da-4018684d52f4.png)

[2019-02-11 15:04] teolemon opened #145 "When there's no result in search, propose adding products"
When there's no result in search, propose adding products.
Currently we only have: "No results".
We could have: "We don't have any matching products. Try rephrasing your search or scan the barcode of the product to start adding it to Open Food Facts"
Display a "Scan product" button in the view below

[2019-02-11 15:06] teolemon opened #146 "Scan button when history is empty"
When history is empty, we should display a "Scan your first product" button inside it.

[2019-02-11 15:09] teolemon opened #147 "Show scan on startup button doesn't work"
Show scan on startup button doesn't work

[2019-02-11 15:11] teolemon opened #148 "There should be a confirmation prompt when the user clicks on "Log out""
There should be a confirmation prompt when the user clicks on "Log out" in the User menu. It is always painful to type passwords, so we must ensure users are not logged out accidentaly.

"Are you sure you want to log out ?" Yes/No

[2019-02-11 15:13] teolemon opened #149 "Contact doesn't do anything when clicked"
On a new iphone, Contact doesn't do anything when clicked. Probably on a set up iPhone as well.

[2019-02-11 15:15] snuff4 commented on #149
Contact option works when the user has setup the Mail app.
Another way should be implemented when he/she is not using it and an alert controller for the same

[2019-02-11 15:54] teolemon opened #150 "Make the offline error message more explicit"
![7-e9-c7-c07-b3-d5-4-f72-9-fe6-421-de7790-f0-d](https://user-images.githubusercontent.com/1689815/52574918-94fc4200-2e1d-11e9-95f4-9acf2e22f8f2.png)
![403-cfe6-b-1-e44-40-e8-b032-9-f3-a775-b81-f7](https://user-images.githubusercontent.com/1689815/52574940-a2193100-2e1d-11e9-8638-0351c90bd3a2.png)

Apple gives you the exact reason of the error in their app, and a solution to solve it.
![2-d3-e0851

[2019-02-11 15:55] teolemon opened #151 "The word "Label" is displayed for no reason"
![8-d4203-d1-e1-de-4-f33-9184-90-a5-a03-ab00-f](https://user-images.githubusercontent.com/1689815/52575023-c8d76780-2e1d-11e9-80ec-e1cd6a0778d8.png)

The word label is displayed for some reason

[2019-02-11 15:56] teolemon opened #152 "The icons are pixelated"
![8-d4203-d1-e1-de-4-f33-9184-90-a5-a03-ab00-f](https://user-images.githubusercontent.com/1689815/52575110-edcbda80-2e1d-11e9-8aa0-ae15db27c913.png)

[2019-02-11 16:01] teolemon opened #153 "Add a product comparison mode"
Add a product comparison mode that allows you to scan 2 or more products, and get a comparison in columns.

[2019-02-11 16:10] teolemon opened #154 "Add a promo system in the home"
![image](https://user-images.githubusercontent.com/1689815/52576089-c0802c00-2e1f-11e9-81e5-d951be27c054.png)
https://world.openfoodfacts.org/files/tagline/tagline-off.json

- Adding a tweakable call to action in home that uses the file on the Open Food Facts server (which we can update on the fly).

Excerpt from https://world.openfoodfacts.org/files/tagline/tagline-off.json
[code]

- Change the t

[2019-02-11 16:11] teolemon commented on #137
Example on Android:
![image](https://user-images.githubusercontent.com/1689815/52576262-09d07b80-2e20-11e9-94d0-b0287ddecbd0.png)

[2019-02-11 18:08] teolemon opened #155 "The app sends "g" when quantity is empty"
The app sends "g" when quantity is empty

[2019-02-16 22:57] teolemon opened #160 "Allow selecting the kind of product before addition"
Allow selecting the kind of product before addition
- food product
- cosmetic
- pet food
- other

[2019-02-22 13:02] #132 closed

[2019-02-22 13:05] teolemon commented on #94
Fixed by @philippeauriach

[2019-02-22 13:05] #94 closed

[2019-02-23 10:12] teolemon opened #167 "Add the ingredient and nutrition image buttons on top of the summary tab if the image is missing"
Add the ingredient and nutrition image buttons on top of the summary tab if the image is missing
Here's how we did it on the Android version
![image](https://user-images.githubusercontent.com/1689815/53285020-e250ab80-375b-11e9-912c-acf0ab9728e2.png)

[2019-02-23 10:13] teolemon opened #168 "Add a prompt to add the category and or nutrition facts to compute the Nutri-Score if they are missing"
![image](https://user-images.githubusercontent.com/1689815/53285036-1035f000-375c-11e9-8404-d284819eed4e.png)
Add a prompt to add the category and or nutrition facts to compute the Nutri-Score if they are missing
For now, we can just link to the mobile web edit mode

[2019-02-23 18:40] #139 closed

[2019-02-23 22:10] teolemon opened #169 "Merge the Nutrition and Nutrition table tabs"
Merge the Nutrition and Nutrition table tabs

[2019-02-23 22:23] teolemon opened #170 "Reorganize the summary tab"
![image](https://user-images.githubusercontent.com/1689815/53292399-2fffff00-37c2-11e9-964c-a67952cfdce2.png)
- Nutriscore + Nova
- Nutrient levels
- Additives in a list
- Other information currently present

[2019-02-24 10:43] teolemon opened #171 "Add a prompt on the product page to extract ingredients when those are missing"
Add a prompt on the product page to extract ingredients when those are missing.
We can then display a simplified version of the product addition page with just the OCR part.

[2019-02-24 14:05] teolemon opened #172 "Bind the Carbon footprint"
We have added a new experimental field: `environment_infocard`to give the carbon impact of a product.
https://fr.openfoodfacts.org/api/v0/produit/3560070573998/lasagnes-a-la-bolognaise-grand-jury?fields=environment_infocard
Whenever this field is not empty, the environment tab should be shown, and the basic HTML that it contains should be put in a card

Depending on whether
https://fr.openfoodfact

[2019-02-24 14:09] teolemon commented on #172
Here's what it looks like on Android
![image](https://user-images.githubusercontent.com/1689815/53300337-0be60180-3846-11e9-8fdf-e58ab8d5addd.png)
![image](https://user-images.githubusercontent.com/1689815/53300345-1accb400-3846-11e9-8199-b02ec9f41466.png)

[2019-02-24 17:17] teolemon opened #173 "Show overexposure risk for additives (from the taxonomy)"
Show overexposure risk for additives (from the taxonomy)
https://static.openfoodfacts.org/data/taxonomies/additives.json
[code]
![image](https://user-images.githubusercontent.com/1689815/53302616-583e3b00-3860-11e9-82fa-9e71cf3df7d4.png)
![image](https://user-images.githubusercontent.com/1689815/53302618-5ffddf80-3860-11e9-96a8-a74c23122450.png)

[2019-02-25 22:41] philippeauriach commented on #99
Fixed in #156

[2019-02-26 10:37] #135 closed

[2019-02-26 10:37] #137 closed

[2019-02-26 10:37] #138 closed

[2019-02-26 10:37] #169 closed

[2019-02-26 11:03] teolemon opened #176 "Reformat header"
![image](https://user-images.githubusercontent.com/1689815/53408224-525e6c00-39be-11e9-9187-e3d2f85981b1.png)
![image](https://user-images.githubusercontent.com/1689815/53408245-5ab6a700-39be-11e9-98f3-a1fa16c7aa38.png)
Hiding: brands, quantity and name, and putting it all in the header, that's never duplicated (scan case and search case)

[2019-02-26 11:05] teolemon opened #177 "Tiny issues"
(On going)
![image](https://user-images.githubusercontent.com/1689815/53408387-9a7d8e80-39be-11e9-8bc2-50fc987eabd0.png)

[2019-02-26 11:08] teolemon commented on #177
![image](https://user-images.githubusercontent.com/1689815/53408587-242d5c00-39bf-11e9-9b3d-0dab59efbbfd.png)
Make nutrition table horizontally scrollable, so that we can have all the width we need for all the possible columns
(Per 100G, Per Portion, Per 100G prepared, Per Portion prepared)

[2019-02-26 11:16] teolemon commented on #177
- Remove the scan icon on the product page from search
- Replace it by a pencil icon linking to the webview edit for now
- Remove the edit link
- If the user is not logged in when clicking on the pencil icon, propose to login/signup
- make the add new image take the max horizontal layout with a layout like this
![image](https://user-images.githubusercontent.com/1689815/53408799-bd5c7280-39bf-11e9-

[2019-02-26 21:16] teolemon commented on #177
- Text for allergen alert is showing even if you haven't defined any allergen
 - You can't access the allergen screen
@philippeauriach

[2019-02-26 21:17] teolemon commented on #177
- Crash on login attempt

[2019-02-27 13:29] philippeauriach commented on #177
**TODO list**
- [x] replace with small camera+ icon ?
- [ ] Make nutrition table horizontally scrollable, so that we can have all the width we need for all the possible columns
- [ ] (Per 100G, Per Portion, Per 100G prepared, Per Portion prepared)
- [ ] Remove the scan icon on the product page from search
- [ ] Replace it by a pencil icon linking to the webview edit for now
- [ ] Remove the edit l

[2019-02-27 15:09] aleene commented on #177
Is prepared already accessible via the api?

[2019-02-27 15:11] aleene commented on #177
![screen shot 2019-02-27 at 16 10 38](https://user-images.githubusercontent.com/1329905/53500290-5798e500-3aaa-11e9-934a-4326b524f001.png)

[2019-02-27 15:21] teolemon commented on #177
@aleene append _prepared to fields
@aleene was fixed by @philippeauriach in an upcoming PR

[2019-02-27 18:23] teolemon opened #178 "Add a "Full product page" link to the web version of the product"
We don't have data parity with web or Android or version 1 of the app for iPhone.
Add a "Full product page" link to the web version of the product on the bottom of the summary tab

[2019-02-27 18:43] teolemon opened #179 "Save all other sections if clicking on Save for Nutrients or Ingredients"
Save all other sections if clicking on Save for Nutrients or Ingredients

[2019-02-27 18:44] teolemon commented on #179
I forgot to save the category, as a result no Nutri-Score or Nova was computed, and it took me a while to understand why.

[2019-02-27 18:44] teolemon opened #180 "Card is completely blank if no name/brand/quantity/image is selected"

[2019-02-27 19:00] teolemon opened #181 "Country is not displayed properly"
![image](https://user-images.githubusercontent.com/1689815/53515452-4eb80b80-3aca-11e9-83fb-4e714d0dab95.png)

[2019-02-27 19:03] teolemon opened #182 "Reformat ingredient section in product addition"
![image](https://user-images.githubusercontent.com/1689815/53515649-cd14ad80-3aca-11e9-9440-4699a11bfe11.png)

[2019-02-27 19:05] teolemon commented on #182
- add real buttons
- remove timestamp
- add a button to attempt extraction again if field is empty

[2019-02-27 19:05] teolemon opened #183 "salt is not properly converted to sodium in product addition"
![image](https://user-images.githubusercontent.com/1689815/53515773-16fd9380-3acb-11e9-8ebf-fede2cad8dad.png)

[2019-02-27 19:17] teolemon opened #184 "Clean the login/signup page"
![image](https://user-images.githubusercontent.com/1689815/53516441-9f306880-3acc-11e9-85ad-bb3cf06e0018.png)

[2019-02-27 19:19] teolemon opened #185 "String bug in settings"
![image](https://user-images.githubusercontent.com/1689815/53516588-f33b4d00-3acc-11e9-897d-f5caff66e685.png)

[2019-02-27 19:23] teolemon opened #186 "Use monochromatic icons"
![image](https://user-images.githubusercontent.com/1689815/53516715-3ac1d900-3acd-11e9-9c7f-38602976cf48.png)

- No color on the icons for Save, sending and alert.
- No satellite dish for sending (monochrome spinning wheel instead)
- No floppy disk for saving (monochrome checkbox instead)

[2019-02-27 19:29] teolemon commented on #186
![image](https://user-images.githubusercontent.com/1689815/53517016-f125be00-3acd-11e9-8230-76e34f62df98.png)
![image](https://user-images.githubusercontent.com/1689815/53517040-ff73da00-3acd-11e9-8624-206c7c6be6be.png)
![image](https://user-images.githubusercontent.com/1689815/53517175-55e11880-3ace-11e9-9605-afc9eb971244.png)

[2019-02-27 19:46] teolemon opened #187 "Create beautiful screenshots for the App Store"
- [ ] facultatif - iPhone - Affichage 6,5"
- [x] iPhone - affichage 5,5 po
- [ ] facultatif - iPad Pro (3e génération) - Affichage 12,9"
- [x] iPad Pro (2e génération) - affichage 12,9 po

Must have
- [x] French
- [x] English

Really Nice to have
- [ ] Dutch

Nice to have
- [ ] German
- [ ] Spanish
- [ ] Italian
- [ ] Portuguese

[2019-02-27 19:57] teolemon opened #188 "Create a motivating changelog"
Under discussion

[2019-02-27 20:12] teolemon opened #189 "Release checklist"
- [ ] Screenshots
- [ ] Changelogs
- [ ] Bugs
- [ ] Check it works in all languages on display (check with pt_BR)
- [ ] Check it works in all languages on product addition (check with pt_BR) (notloggedin)
- [ ] Check it works in all languages on product addition (check with pt_BR) (loggedin)
- [ ] Check allergen alert works well
- [ ] Check history deletion works well
- [ ] Check what happens if t

[2019-02-27 20:16] snuff4 commented on #149
Working on this, as this may hinder in review process

[2019-02-27 20:20] teolemon commented on #133
Fixed by @philippeauriach

[2019-02-27 20:20] #133 closed

[2019-02-27 20:50] teolemon opened #190 "Native editing of products"
It should probably build on product addition to ensure the Nova and Nutri-Score can be computed.

Other fields could become editable over time, especially:
- labels, stores, countries

[2019-02-28 08:13] #172 closed

[2019-02-28 08:13] #176 closed

[2019-03-01 09:00] teolemon opened #195 "Hide "Scan on start up" until a fix is found"
![image](https://user-images.githubusercontent.com/1689815/53627476-dd32a700-3c08-11e9-9557-442e2db82f21.png)

[2019-03-01 09:02] teolemon opened #196 "Units are missing in nutrient levels"
![image](https://user-images.githubusercontent.com/1689815/53627551-03584700-3c09-11e9-841c-cd49a30ce4f4.png)
It happens on the summary tab and on the nutrition tab

[2019-03-01 09:35] teolemon commented on #185
https://github.com/openfoodfacts/openfoodfacts-ios/blob/master/Sources/en.lproj/Localizable.strings
The strings seems to be there.

[2019-03-01 09:43] #147 closed

[2019-03-01 10:16] teolemon commented on #177
I'm closing this bug since the matching PR has been fixed. I'm now opening individual bugs as we get closer to release.

[2019-03-01 10:16] #177 closed

[2019-03-01 10:21] teolemon opened #199 "Essential URLs are not localized"
https://github.com/openfoodfacts/openfoodfacts-ios/blob/fe2a5f301dab5b42d40a51ca588f152529acbf0b/Sources/Helpers/URLs.swift#L12
[code]

Note: the HelloAsso will only work in French and English.

[code]

[2019-03-01 10:53] teolemon opened #201 "Allergens that are already active are not removed from selectable options"
Allergens that are already active are not removed from selectable options

[2019-03-01 11:07] snuff4 commented on #199
Isn't it https://LANGUAGE.openfoodfacts.org instead of https://world-LANGUAGE.openfoodfacts.org ? @teolemon

[2019-03-01 11:09] teolemon commented on #199
It depends if we want search results from one country, or several countries.

[2019-03-01 11:23] teolemon opened #203 "Product loaded in French when the UX is in Dutch"
![image](https://user-images.githubusercontent.com/1689815/53635139-7c14ce80-3c1c-11e9-87e7-e1f007b1f7e6.png)
The ingredient list is in French, while a Dutch ingredient list exists

This is a regression from V1. This is also SUPER important for Belgium and Switzerland.

Product: https://be.openfoodfacts.org/product/5400113561767/aardappelpuree-delhaize
Barcode to scan: https://barcode.tec-it.com/e

[2019-03-01 11:26] teolemon opened #204 "Remove the ":" in the allergen alert message"
![image](https://user-images.githubusercontent.com/1689815/53635369-2e4c9600-3c1d-11e9-8344-3c2110472a70.png)
This is ugly

[2019-03-01 11:28] teolemon opened #205 "Hide the nutrition table when there are no nutrition facts"
![image](https://user-images.githubusercontent.com/1689815/53635450-74a1f500-3c1d-11e9-93ca-3ea573f25d45.png)

[2019-03-01 11:29] teolemon opened #206 "History privacy message is not properly clipped"
![image](https://user-images.githubusercontent.com/1689815/53635511-a74bed80-3c1d-11e9-9d43-ce81840a9bee.png)
History privacy message is not properly clipped

[2019-03-01 11:32] teolemon opened #207 "Many string names across the app"
I'm not familiar with iOS translation mechanisms. Why does this keep happening ?
I saw one in French settings, now in the Dutch product page.
![image](https://user-images.githubusercontent.com/1689815/53635638-09a4ee00-3c1e-11e9-99c0-ab225da0d0c4.png)

[2019-03-01 11:42] teolemon opened #208 "Inconsistent nutrition table behaviour"
![image](https://user-images.githubusercontent.com/1689815/53636084-50471800-3c1f-11e9-86c1-6a6639a0ca6d.png)
![image](https://user-images.githubusercontent.com/1689815/53636093-550bcc00-3c1f-11e9-9571-5f64dc6b9c3f.png)
![image](https://user-images.githubusercontent.com/1689815/53636101-5b01ad00-3c1f-11e9-9353-1bc4a555de64.png)

Unconsistent nutrition table behaviour. Any idea what's going on ?

[2019-03-01 11:44] teolemon opened #209 "Inconsistent Country field behaviour"
![image](https://user-images.githubusercontent.com/1689815/53636213-ae73fb00-3c1f-11e9-8560-a05963cf9988.png)
![image](https://user-images.githubusercontent.com/1689815/53636221-b92e9000-3c1f-11e9-84bc-ef70ef6dbc32.png)

[2019-03-01 12:59] aleene commented on #207
If the translation file is incomplete, it puts the default string.

[2019-03-01 13:05] #199 closed

[2019-03-01 13:06] #149 closed

[2019-03-01 13:14] teolemon opened #211 "Layout issues in the product addition"
![image](https://user-images.githubusercontent.com/1689815/53640344-5394d080-3c2c-11e9-8ff7-2ab4e9039862.png)
![image](https://user-images.githubusercontent.com/1689815/53640353-58f21b00-3c2c-11e9-839d-a7c375193301.png)

[2019-03-01 13:27] teolemon commented on #207
Can we default to English ?

[2019-03-01 13:37] teolemon opened #212 "Inconsistency on baby milks additives"
![image](https://user-images.githubusercontent.com/1689815/53641523-8f7d6500-3c2f-11e9-90f6-6c37ec6a4075.png)
https://world.openfoodfacts.org/product/3288110608881/milumel-2e-age-lactel

[2019-03-01 13:45] teolemon opened #213 "Baby milks nutrition tables off by a magnitude + rounding error"
Baby milks nutrition tables off by a magnitude + rounding error

![image](https://user-images.githubusercontent.com/1689815/53641828-70330780-3c30-11e9-8687-16de79657d05.png)

[2019-03-01 14:03] teolemon opened #214 "Ensure we don't include xliff files if we're not using them anymore"
- Ensure we don't include xliff files if we're not using them anymore
- Disable crowdin export to xliff

[2019-03-01 14:15] teolemon commented on #97
We now have an API for this:
https://robotoff.openfoodfacts.org/api/v1/questions/8436551860381?lang=fr&count=3
https://github.com/openfoodfacts/robotoff/blob/master/doc/api.md

[2019-03-01 14:21] teolemon opened #216 "Ensure the app is as light as possible"
Make sure we didn't include anything excessively heavy.

[2019-03-01 14:40] teolemon opened #217 "Modifiers like > < and ~ are not visible on mobile"
![image](https://user-images.githubusercontent.com/1689815/53644899-00c11600-3c38-11e9-9aff-a0fe26f8f6cd.png)
Modifiers like >  < and ~ are not visible on mobile
(in addition to the rounding/magnitude issues)
Search for "Pot au Feu Golden Virginia"

[2019-03-01 17:18] teolemon opened #219 "When logged with an email instead of username, the URL of the Contributions page is wrong"
When logged with an email instead of username, the URL of "Check your contributions" in user settings is wrong.
It will redirect to a simplified version of your email while it should fetch your username, and use it instead.

[2019-03-01 17:25] teolemon commented on #99
Thanks @philippeauriach
closing

[2019-03-01 17:25] #99 closed

[2019-03-02 10:03] teolemon commented on #35
Please note that some of the info above is obsolete. We have new files.

[2019-03-02 10:12] teolemon commented on #46
@snuff4 great. closing then.

[2019-03-02 10:12] #46 closed

[2019-03-02 10:16] teolemon commented on #219
This is not a priority

[2019-03-02 11:43] snuff4 commented on #204
That colon is actually for the Label, so I came up with this -

![img_81491f3694fa-1](https://user-images.githubusercontent.com/30552772/53681351-67186800-3d0e-11e9-91c8-59c6c6ccdcc1.jpeg)

[2019-03-02 11:57] teolemon opened #220 "Add User-Agent header to API requests when an user scans a product"
Ensure we send back a Header on scan queries to the API (and only scan)
For Android, we send back:
"Open Food Facts for Android - version 2.9.7 - Scan"
"Open Food Facts for Android - version 2.9.7 - Product Browsing"

[2019-03-02 12:46] teolemon commented on #35
I've created a special excerpt of the database, which has the required data to scan products for France. This is 11 Mb zipped, and 37Mb unzipped.
http://fr.openfoodfacts.org/data/offline/fr.openfoodfacts.org.products.small.csv.tgz

[2019-03-02 15:09] aleene commented on #203
![screen shot 2019-03-02 at 16 07 58](https://user-images.githubusercontent.com/1329905/53683815-7e068c80-3d05-11e9-9e29-78e58587bc1c.png)

When running from Xcode I get a crash when I try to type in this barcode.

[2019-03-02 15:24] teolemon commented on #203
weird. Latest Testflight works for me (just tested again a couple of seconds ago).

[2019-03-02 15:42] aleene commented on #203
The version from Testflight works. It seems the app does not take into account any device language settings.

[2019-03-02 15:52] teolemon commented on #203
Here are the currently multilingual fields that I know of. We don't display them all on the iOS version
[code]

[2019-03-02 16:11] teolemon opened #222 "Add recycling instructions to the Environment tab"
[code]
Note, this is a multilingual field.

[2019-03-02 16:24] aleene commented on #203
I think the language specific fields are not decoded from the json, so they are not available.

[2019-03-03 11:32] aleene commented on #203
How can I push my local changes to a specific branch/fork within xcode. When I try to commit there is not the option of my local branch (as I started on the master, I guess).

[2019-03-03 11:34] teolemon commented on #203
I would clone the repo somewhere else on the disk, do a git branch on this clone, and copy paste your work on that clone, and then commit the new branch ?

[2019-03-03 11:40] aleene commented on #203
I already work in my local clone, I guess I do not know how to branch.

[2019-03-03 11:56] aleene commented on #203
So I found where I can create a new branch. Not sure if I pushed all required changes. Code can be cleaned up.

[2019-03-03 11:56] aleene commented on #203
Now where does the image stuff happen?

[2019-03-04 10:51] snuff4 commented on #185
Can you reproduce this bug, on the latest branch? I am not able to find any issue in the code that will reproduce this.

[2019-03-04 10:57] snuff4 commented on #185
Ah, found it. In the localizable strings, "settings.information.discover" has been replaced by "settings.sections.discover"

[2019-03-04 11:58] teolemon opened #226 "Clicking on upload when the list is empty blocks the app"
Clicking on upload when the products to be uploaded list is empty blocks the app
![image](https://user-images.githubusercontent.com/1689815/53732088-1410f300-3e7d-11e9-90ba-4cfde1ad204f.png)

[2019-03-04 12:00] teolemon opened #227 "Provide a fallback to English for all strings"
![image](https://user-images.githubusercontent.com/1689815/53732156-4a4e7280-3e7d-11e9-9803-cbeca7354e12.png)
![image](https://user-images.githubusercontent.com/1689815/53732165-54707100-3e7d-11e9-8111-8a0f461ce2da.png)
![image](https://user-images.githubusercontent.com/1689815/53732171-59cdbb80-3e7d-11e9-87f4-9c3ed90e1f04.png)
![image](https://user-images.githubusercontent.com/1689815/53732175-5d

[2019-03-04 12:56] aleene commented on #227
It is the approach of translations used in the app. Normally the key is the right (english) translation, but here encoded keys have been used. Not sure if that is easy to change.

[2019-03-04 13:21] snuff4 commented on #227
This is bad. I am working on this issue.
![simulator screen shot - iphone 7 - 2019-03-04 at 18 50 41](https://user-images.githubusercontent.com/30552772/53735970-7a623980-3eae-11e9-976e-c88e01fc2299.png)

[2019-03-04 13:46] #185 closed

[2019-03-04 13:48] snuff4 commented on #227
"user.alert.logout-confirmation.title" = "Confirm Logout";
"user.alert.logout-confirmation.subtitle" = "Are you sure you want to log out ?";

These two in the localisable strings, but cannot find them in the languages in Xcode; that's why the keys is being shown. @teolemon @aleene any help?

[2019-03-04 14:05] #211 closed

[2019-03-04 14:20] teolemon opened #229 "Environment impact doesn't work because we don't explicitely ask for it"
Environment impact doesn't work because we don't explicitely ask for it.
Change made by @aleene during the multilingual fix.
cc @stephanegigandet

[2019-03-04 15:06] snuff4 commented on #227
@teolemon  works ! 💯
![simulator screen shot - iphone x - 2019-03-04 at 20 35 16](https://user-images.githubusercontent.com/30552772/53741753-12ffb600-3ebd-11e9-8686-1b38cd0a4392.png)

[2019-03-04 15:06] aleene commented on #227
I think that most localization happens in the string extension, where var localized is defined. Maybe it is possible to intercept empty strings here and replace them with english ones.

[2019-03-04 15:07] #179 closed

[2019-03-04 15:09] snuff4 commented on #227
@aleene Actually the location where the localized strings were updated was different from where Xcode was taking.

Now @teolemon has updated the location, and all the issues related to the keys being shown instead of the string should be solved! 👍

[2019-03-04 15:09] philippeauriach commented on #229
@aleene I dont get the following comments : disabled to get all fields, not only those specified
         // we cannot use the summary or the list as the tags are product and language dependent.

[2019-03-04 15:10] aleene commented on #227
Ah the xliff issue

[2019-03-04 15:10] snuff4 commented on #207
Should be solved through #232 , #230
Can you test this again? @teolemon

[2019-03-04 15:17] teolemon commented on #183
Looks good to me. Thank you @philippeauriach :)

[2019-03-04 15:18] #183 closed

[2019-03-04 15:20] teolemon commented on #227
Ok, so I updated the Crowdin config. This bug should thus be less important, since the localizable files are now updated and in the right place @aleene @snuff4 .
We can also kill the xliff files with a PR.

[2019-03-04 15:21] teolemon commented on #227
Removing it as a release-blocker as a result.

[2019-03-04 15:21] teolemon commented on #213
Ok, we're going to stream the nutrition table using HTML generated by the server to temporally solve this one and many others.

[2019-03-04 15:22] teolemon commented on #208
Ok, we're going to stream the nutrition table using HTML generated by the server to temporally solve this one and many others.

[2019-03-04 15:23] teolemon commented on #203
Ok, solved by @aleene
The image part remains to be done.

[2019-03-04 15:24] teolemon commented on #207
Closing. Will reopen if I encounter the issue again.

[2019-03-04 15:24] #207 closed

[2019-03-04 15:25] teolemon opened #235 "Note to self: Fix the Open Beauty Facts string in Portuguese Brazilian"
Note to self: Fix the Open Beauty Facts string in Portuguese Brazilian

[2019-03-04 15:26] teolemon commented on #214
I've disabled XLIFF export. We can now delete XLIFF files

[2019-03-04 15:28] philippeauriach commented on #213
Working on it right now

[2019-03-04 15:30] aleene commented on #229
In the old situation all required fields for the json where listed. Unfortunately this will leave out the fields that are language specific. This is for each product different. For instance a a json could have keys like `product_name_en`, `product_name_th`, `product_name_zh`, etc. The same for the generic name and ingredients.

[2019-03-04 15:32] teolemon commented on #229
I think we do an after the fact query on Android with the extra stuff we need.
I can also have @stephanegigandet tweak the server behaviour to return environment fields by default.

[2019-03-04 15:34] aleene commented on #229
Two things: add the environment stuff by default. And redesign the multilingual json, so that keys are not product dependent.

[2019-03-04 15:43] teolemon commented on #235
fixed

[2019-03-04 15:43] #235 closed

[2019-03-04 15:44] aleene commented on #203
The image part needs to be merged you mean.

[2019-03-04 15:44] teolemon commented on #203
yup, sorry. Can you create a PR with your branch @aleene ?

[2019-03-04 16:34] #151 closed

[2019-03-04 16:34] #204 closed

[2019-03-04 16:34] #205 closed

[2019-03-04 16:34] #206 closed

[2019-03-04 16:37] teolemon opened #241 "Replace temporarily the nutrition table by an HTML table generated by the server"
Replace temporarily the nutrition table by an HTML table generated by the server.
Probably going to be a webview after discussion with @philippeauriach
@stephanegigandet to create a special route tonight.

[2019-03-04 17:44] aleene commented on #212
Guess the corresponding json data is not read and displayed. What is the other additives field?

[2019-03-04 17:48] teolemon commented on #212
https://world.openfoodfacts.org/api/v0/product/3288110608881s.json?fields=minerals_tags,vitamins_tags,other_nutritional_substances_tags

[2019-03-04 17:49] teolemon commented on #212
arf, they come with extra taxonomies :-/
https://static.openfoodfacts.org/data/taxonomies/vitamins.json
https://static.openfoodfacts.org/data/taxonomies/minerals.json
and looking for the Other name

[2019-03-04 19:31] teolemon commented on #35
http://fr.openfoodfacts.org/data/offline/fr.openfoodfacts.org.products.small.zip
http://fr.openfoodfacts.org/data/offline/large.zip (with all products, with all fields)

[2019-03-04 20:04] teolemon commented on #35
I have fixed the CSV export for NOVA which wasn't exported correctly:
https://world.openfoodfacts.org/data/offline/en.openfoodfacts.org.products.small.csv.zip

[2019-03-04 20:07] teolemon opened #243 "Improve notch compatibility for iPhone X in landscape mode"
![image](https://user-images.githubusercontent.com/1689815/53759835-81467780-3ec1-11e9-95d5-614c13e2b4d7.png)
reported by @roger-tan

[2019-03-05 08:10] aleene commented on #212
Also for nucleotides? You are sure for the other? I do not see it in the json.

[2019-03-05 09:40] aleene commented on #212
I noticed that trace is not translated as well

[2019-03-05 10:09] teolemon opened #245 "Traces are not translated"
Traces are not translated.

[2019-03-05 10:10] teolemon commented on #212
Filed: https://github.com/openfoodfacts/openfoodfacts-ios/issues/245
Traces are using the allergens taxonomy, which we already load.

[2019-03-05 10:10] teolemon commented on #245
Traces are using the allergens taxonomy, which we already load.

[2019-03-05 10:12] teolemon commented on #212
@aleene I'm not sure for Nucleotides @stephanegigandet ?

[2019-03-05 10:26] aleene commented on #212
Can I force a download of the taxonomies?

[2019-03-05 10:33] aleene commented on #212
Very cool, it works now, with links to the search on OFF. Unfortunately we need more translations now.

[2019-03-05 10:34] aleene commented on #212
Do we have a product with nucleotides, to test?

[2019-03-05 19:47] teolemon opened #250 "Fixing scan in portrait mode on phones"
Fixing scan in portrait mode on phones

[2019-03-05 21:24] #35 closed

[2019-03-05 21:58] #213 closed

[2019-03-06 07:02] philippeauriach commented on #241
Fixed in #252

[2019-03-06 19:05] teolemon opened #260 "Problems with edit mode"
![image2](https://user-images.githubusercontent.com/1689815/53906413-280a4f80-404b-11e9-8516-40d5ceb700ba.png)
Issue with editing (even with login, not email)

[2019-03-06 20:06] teolemon opened #261 "Weird template for contact"
![image](https://user-images.githubusercontent.com/1689815/53910240-b387de80-4053-11e9-91f9-128b2c4aee33.png)

"Thanks for contacting us" >> This is weird. Don't put anything at all.

[2019-03-06 22:32] #241 closed

[2019-03-06 22:32] teolemon commented on #229
thnaks @aleene

[2019-03-06 22:32] #229 closed

[2019-03-08 10:58] teolemon opened #265 "The font used for HTML embeds is ugly"
The font used for HTML embeds is ugly. Can we use the system font ?

[2019-03-08 11:03] teolemon opened #266 "Networks calls are slightly incorrect"
[code]

[2019-03-08 11:04] teolemon commented on #266
[code]

[2019-03-08 11:14] teolemon opened #267 "Offline scans are not logged to history"
Offline scans are not logged to history

[2019-03-08 11:17] #188 closed

[2019-03-08 11:21] #187 closed

[2019-03-09 19:36] teolemon opened #268 "Badge not updated after sending offline products"
![image](https://user-images.githubusercontent.com/1689815/54076342-04454480-42ab-11e9-9299-4d8ae2b14ca2.png)
The badge is not not updated after sending offline products

[2019-03-09 20:27] teolemon opened #269 "UX is blocked during offline product upload, and doesn't offer feedback"
![image](https://user-images.githubusercontent.com/1689815/54076965-137bc080-42b2-11e9-977e-abbf09a1877e.png)
UX is blocked during offline product upload, and doesn't offer much feedback

[2019-03-09 20:28] teolemon commented on #269
What about a non obtrusive top message telling
[code]

[2019-03-10 11:32] teolemon opened #271 "Image upload doesn't seem to honor UX language"
[code]

[2019-03-10 13:51] teolemon opened #272 "Show questions to help complete uncomplete products"
Android
![image](https://user-images.githubusercontent.com/1689815/54085932-d3fdb480-4343-11e9-9a62-7deaa7df72d2.png)

iPhone mockup
![image](https://user-images.githubusercontent.com/1689815/69482595-b616a800-0e1d-11ea-8d24-25fd8c06976d.png)

We now have an API for this:

- [ ] Fetch the following JSON when opening a product
Here's an updated product:
https://robotoff.openfoodfacts.org/api/v1/que

[2019-03-10 16:06] teolemon opened #316 "<string name="nutrition_image_prompt_text">call-to-action.nutrition</string>"
<string name="nutrition_image_prompt_text">call-to-action.nutrition</string>
Not sure there should be strings like these in the translation files

[2019-03-11 12:53] teolemon opened #273 "NOVA disappears in online mode"
https://barcode.tec-it.com/en/EAN13?data=3560071018085
![image](https://user-images.githubusercontent.com/1689815/54125349-07ecde80-4405-11e9-992d-c6b5ff330e6f.png)
![image](https://user-images.githubusercontent.com/1689815/54125351-0d4a2900-4405-11e9-958d-5f053296a861.png)
https://fr.openfoodfacts.org/produit/3560071018085/pois-chiches-au-sel-de-noirmoutier-carrefour-bio
https://world.openfoodfac

[2019-03-11 12:58] stephanegigandet commented on #273
The NOVA field is in https://fr.openfoodfacts.org/api/v0/produit/3560071018085/pois-chiches-au-sel-de-noirmoutier-carrefour-bio
Which field is the app requesting / accessing to display NOVA?

[2019-03-13 08:11] aleene opened #274 "Crash Report for OFFUrlsHelper"
**Summary:**

Crash

**Steps to reproduce:**
no idea

**Device and iOS version:**
3.0 (11), IOS 12.1.4, iPhione 6s

**Screenshots:**
![Screen Shot 2019-03-12 at 19 27 03](https://user-images.githubusercontent.com/1329905/54262975-e65c3600-456f-11e9-86bf-94b3b9c0abb7.png)

[2019-03-13 08:12] aleene commented on #274
Can these this happen when the tag is empty?

[2019-03-13 15:40] aleene opened #275 "Crash report for HostedCell"
**Summary:**
 crashreporter has 6 reports on this

**Steps to reproduce:**
no idea

**Device and iOS version:**

Apple iPhone [Device name] running iOS [Version number]

![Screen Shot 2019-03-12 at 19 17 43](https://user-images.githubusercontent.com/1329905/54292512-a10b2900-45ae-11e9-8672-ab31398ce09c.png)
![Screen Shot 2019-03-12 at 19 22 29](https://user-images.githubusercontent.com/1329905/542

[2019-03-13 15:41] aleene commented on #275
Usually this is an error in the storyboard identifier.

[2019-03-15 15:33] teolemon opened #276 "Make the Nutri-Score larger on the summary tab"
Make the Nutri-Score larger on the summary tab

[2019-03-15 16:42] snuff4 commented on #276
Is this fine @teolemon ?

Before / After
![Screenshot 2019-03-15 at 9 42 13 PM](https://user-images.githubusercontent.com/30552772/54447433-6bfa0480-476f-11e9-99fb-02c4a9857fe0.png)

[2019-03-18 16:01] aleene opened #277 "Crash CLSFileWriteString"
Crash in rash reporter. Not sure what happened as it is in one of the components

**Device and iOS version:**

Apple iPhone SE running iOS 11.4.1

**Screenshots:**
![Screen Shot 2019-03-12 at 19 27 03](https://user-images.githubusercontent.com/1329905/54543892-c4fbaf80-499e-11e9-8f05-1b0b617fe3fa.png)

[2019-03-18 16:07] aleene opened #278 "Crash IngredientsTableViewController.getCell"
Where did we see this type of error before? #275

**Device and iOS version:**

Apple iPhone [iPadPro] running iOS [11.4.1]

**Screenshots:**
![Screen Shot 2019-03-18 at 17 04 25](https://user-images.githubusercontent.com/1329905/54544521-240df400-49a0-11e9-910a-660bc49afb3d.png)

[2019-03-18 16:09] aleene commented on #278
There are other errors with this getCell as well. So it is a fundamental error.

[2019-03-18 16:10] aleene commented on #275
Might be a loading issue. A reference is made to an object, which is not yet loaded.

[2019-04-03 22:31] teolemon opened #279 "In some conditions the addition screen opens twice"
In some conditions the addition screen open twice.
I was on a poor network. Not sure what caused the addition screen to open twice (I saw the animation twice, and screen overlayed).

[2019-04-14 14:07] teolemon opened #281 "Product addition in the Wrong language"
![image](https://user-images.githubusercontent.com/1689815/56093973-09f80080-5ecf-11e9-9d64-df8c0d97e18c.png)
![image](https://user-images.githubusercontent.com/1689815/56093985-18461c80-5ecf-11e9-9010-1af0dbdec6f7.png)
The main language is set to English, although the values are correctly set to French. As a result, we have an extra empty tab.
The `lang` parameter should be set to `fr`

[2019-04-15 09:12] teolemon opened #282 "App making multiple requests"
[code]

[2019-04-15 09:44] philippeauriach commented on #273
The nova_group field is an int in the json returned here, today the app parse this field as a string (returned as a string on some products, as an int on some others).

[2019-04-15 09:50] teolemon commented on #282
Not actually sure it's the app. Are we making full requests for list results ?

[2019-04-15 10:32] philippeauriach commented on #273
Fixed in #190

[2019-04-18 12:11] teolemon opened #286 "Add a reload button in case the nutrition table doesn't load"
Add a reload button in case the nutrition table doesn't load. Currently when it doesn't load, there's no explanation, and no way to fix it.

[2019-04-18 12:12] teolemon opened #287 "Add a title for the Nutrient levels"
Add a title for the Nutrient levels.

"Nutrient levels per 100 g/100mL"
This needs to be fixed on the summary and nutrition tabs.

[2019-04-18 12:13] teolemon opened #288 "The portion size is repeated on the nutrition tab"
The portion size is repeated on the nutrition tab. It should be present just once, above the nutrition table.

[2019-04-21 11:24] teolemon opened #289 "Typo in string "Login in with your account""
`Login in with your account will associate all your contributions to your account.`

`Logging in with your account will associate all your future contributions to it.`

[2019-04-22 09:11] teolemon commented on #265
https://stackoverflow.com/questions/12533445/how-to-change-uiwebview-default-font
[code]
Swift 3 solution with system font

[2019-04-22 10:03] aleene commented on #275
By now 17 crashes on this issue.

[2019-04-23 09:53] #281 closed

[2019-04-28 17:54] teolemon commented on #287
@aleene can you take care of this one ?

[2019-04-28 17:55] teolemon commented on #267
@snuff4 can you take care of this one ?

[2019-04-28 17:57] teolemon opened #290 "The travis build is broken and should be fixed"
/Users/travis/.rvm/gems/ruby-2.4.5/gems/fastlane-2.121.1/fastlane_core/lib/fastlane_core/ui/interface.rb:153:in `shell_error!': [!] Exit status of command 'carthage bootstrap --platform iOS --cache-builds' was 1 instead of 0. (FastlaneCore::Interface::FastlaneShellError)

[2019-04-30 11:08] aleene commented on #287
What do you think of? The table is still a web version? So there is already a title. Below the photo there is a text "per portion". Why is that there?

[2019-04-30 11:11] aleene commented on #203
I guess this one is solved. I get the dutch image when working with an iPad set in dutch.

[2019-04-30 11:52] aleene commented on #212
What happened here? I do not see any nucleotides, etc.

[2019-04-30 15:11] teolemon commented on #287
it's not the nutrition table, but the circular color codes and nutrient level: "1,2 G, Salt in high quantity"
They need to have "Nutrient levels per 100 g" on top

[2019-04-30 15:19] teolemon commented on #212
Not sure, the PR diff at https://github.com/openfoodfacts/openfoodfacts-ios/pull/246 is empty 🤔

[2019-04-30 15:55] aleene opened #292 "Prune extended product api call"
**Summary:**
The api calls for extended product information now include fields which are not used. The call can be pruned to include only what is actually used.

I already implemented  this. Must ensure that it went into production.

[2019-04-30 16:13] aleene commented on #292
Is the same as #263

[2019-04-30 16:17] aleene commented on #292
But why do I not see it?

[2019-04-30 17:59] aleene commented on #212
It should be #257

[2019-05-04 18:07] teolemon opened #294 "Add the allergen alert to product search"
When a product is opened from search, we should display a banner with allergen alert, just like on the scan view

[2019-05-05 10:07] teolemon commented on #266
https://github.com/openfoodfacts/openfoodfacts-ios/blob/b47f03e580ebceaf172613880e59d7f12f356261/Sources/Network/TaxonomiesService.swift#L28
https://github.com/openfoodfacts/openfoodfacts-ios/blob/b47f03e580ebceaf172613880e59d7f12f356261/Sources/Network/TaxonomiesService.swift#L18
Concatenating 2 /

[2019-05-05 20:45] philippeauriach commented on #294
![Simulator Screen Shot - iPhone X (iOS 12 2) - 2019-05-05 at 22 44 00](https://user-images.githubusercontent.com/920265/57200102-7c687780-6f87-11e9-8f27-0fb0d34564d2.png)

[2019-05-05 20:55] teolemon commented on #294
👍

[2019-05-14 16:51] teolemon commented on #288
@snuff4 any progress on this one ?

[2019-05-14 16:53] teolemon opened #296 "The nutrition table doesn't load when the product is opened from search (but does when from scan)"
The nutrition table doesn't load when the product is opened from search (but does when from scan)

[2019-05-14 16:53] teolemon commented on #296
@philippeauriach can you investigate that one ?

[2019-05-14 19:22] snuff4 commented on #288
I am having some difficulty in building the project in Xcode 10.2.1. I am trying to get it done asap.

[2019-05-15 07:42] philippeauriach commented on #296
I will

[2019-05-20 13:45] #296 closed

[2019-05-20 13:46] #273 closed

[2019-05-21 11:13] teolemon commented on #102
reserved for Safia

[2019-05-28 14:31] Antoinebourcy opened #301 "Wrong placement for nutrient levels under the Nutri-Score"
Weird thing : In "Nutrition", on IOS version, under the Nutri-Score it's written "the nutrients levels per serving" But the nutrients value for the Nutri-Score are equal for 100gr. (Fat/Saturated Fat/Sugar/Salt)

**Expected behavior:**

- See "Nutrients levels for 100gr" and not "Nutrients levels per serving"

**Device and iOS version:**

Apple iPhone / running iOS : Unknown

**Screenshots:**
No

[2019-05-29 10:09] #286 closed

[2019-05-31 07:45] teolemon commented on #171
Here's what it looks like on Android. We only display that when : `state=ingredients-to-be-completed`

![image](https://user-images.githubusercontent.com/1689815/58689937-ae9fa600-8388-11e9-8b12-a2b3dcb835d1.png)

[2019-06-04 09:58] aleene commented on #287
So this can be closed?

[2019-06-18 09:34] stephanegigandet commented on #220
This would be very useful in order to compute better scan statistics and product popularity.

[2019-06-18 10:51] teolemon opened #304 "Do not return a product empty on invalid barcodes"
The barcode scanner will return invalid barcodes due to bright reflexions, poor lighting, etc…While those barcodes are theoretically valid EAN-8 barcodes, they are not attributed. We are thus putting in place a server side blacklist of common invalid barcodes, so that the app doesn't return a prompt to add a blacklisted product, or return a result for an invalid product once someone has created it

[2019-06-18 16:18] teolemon opened #305 "Put basic quality checks during editing"
Add checks to ensure the users can't enter invalid values when editing

https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/2679378052b3c198443e88855193003b404536eb/app/src/main/java/openfoodfacts/github/scrachx/openfood/fragments/AddProductNutritionFactsFragment.java#L826

Check whether all nutrition values are zero or 1 or a consecutive suite (1,2,3,4) (people wanting to test in a hur

[2019-06-18 16:56] #266 closed

[2019-06-18 17:18] teolemon commented on #287
merged. we can close

[2019-06-18 17:18] #287 closed

[2019-06-18 20:07] teolemon commented on #196
![image](https://user-images.githubusercontent.com/1689815/59716030-6b14bb00-9215-11e9-95a2-e1c8b7a48c1d.png)
Still here in latest Testflight

[2019-06-21 16:11] teolemon opened #306 "Build is failing (error included)"
[code]

[2019-06-21 16:20] teolemon opened #307 "UI API called on a background thread"
![image](https://user-images.githubusercontent.com/1689815/59936785-270dfa00-9451-11e9-8ed3-0cd1f00adeea.png)

[2019-06-21 16:20] teolemon opened #308 "Problem with offline message in Dutch"
![image](https://user-images.githubusercontent.com/1689815/59936830-3db45100-9451-11e9-908f-9193bf4db8c1.png)

[2019-06-21 16:25] teolemon commented on #308
Dutch, Belgium (nl_BE)            1.5
Dutch, Netherlands (nl_NL)        1.5

[2019-06-21 16:26] teolemon commented on #308
![Capture d’écran 2019-06-21 à 18 26 24](https://user-images.githubusercontent.com/1689815/59937219-23c73e00-9452-11e9-9b72-46041904e9ed.png)

[2019-06-21 16:27] teolemon commented on #308
https://github.com/openfoodfacts/openfoodfacts-ios/blob/master/Sources/nl.lproj/Localizable.strings
https://github.com/openfoodfacts/openfoodfacts-ios/blob/master/Sources/Localization/nl.lproj/Localizable.strings

[2019-06-21 16:28] teolemon commented on #308
The canonical Crowdin file is:
[code]

[2019-06-21 17:27] aleene commented on #308
Which means the string is not listed in Localizable strings.

[2019-06-21 17:32] teolemon commented on #308
I'm currently resyncing with 2 files for nl, instead of one.  Is your phone in nl or nl-be ?

[2019-06-21 17:40] aleene commented on #308
nl-nl
The string does not seem available on Crowdin.

[2019-06-22 15:21] aleene commented on #308
The strings are not available in localizable.strings. If I add them by hand everything is OK. I can push this change to master if you want.

[2019-06-22 15:28] aleene commented on #308
It is only an issue the the dutch file. The others are OK.

By the way what is wrong with Mongo?

[2019-06-22 15:35] teolemon commented on #308
I've updated some template on Crowdin, I'm curious to see if this fixes the bug.
Did I say a thing about Mongo ?

[2019-06-22 15:38] aleene commented on #308
No I did. The localizable Mongo-strings are very strange

[2019-06-22 16:08] aleene commented on #307
Found another one with the same warning type of main thread violation.

[2019-06-22 16:12] aleene opened #310 "Constraint issue warning"
![Screenshot 2019-06-22 at 18 11 27](https://user-images.githubusercontent.com/1329905/59966211-35bfe400-9519-11e9-9adc-a40ef6055265.png)

[2019-07-13 13:53] #261 closed

[2019-07-13 16:39] teolemon opened #313 "realm-cocoa.framework - Incompatible Swift version (5.0 vs 4.2.1)"
Skipped installing realm-cocoa.framework binary due to the error:
	"Incompatible Swift version - framework was built with 5.0 (swiftlang-1001.0.69.5 clang-1001.0.46.3) and the local version is 4.2.1 (swiftlang-1000.11.42

[2019-07-13 17:45] teolemon commented on #313
@aleene @philippeauriach https://github.com/Carthage/Carthage/issues/2632
This is merely a question to Carthage being too picky, apparently

[2019-07-22 09:09] #316 closed

[2019-07-24 13:47] teolemon commented on #260
we're switching to native. closing

[2019-07-24 13:47] #260 closed

[2019-07-24 13:47] teolemon commented on #190
Closing this one, as it has been fixed by @philippeauriach
Will open separate issues for improvements.

[2019-07-24 13:47] #190 closed

[2019-07-24 13:51] teolemon commented on #34
That looks mostly fixed to me. Closing. Thanks @Tovkal 👍

[2019-07-24 13:51] #34 closed

[2019-07-24 13:52] teolemon commented on #102
Config is here.

[2019-07-24 14:00] teolemon opened #321 "Add support for the new server-side Vegan/Vegetarian/Palm Oil detection"
Mockups:
![image](https://user-images.githubusercontent.com/1689815/67160231-f54d6700-f34e-11e9-92c1-471bc7ed0283.png)

Add support for the new server-side Vegan/Vegetarian/Palm Oil detection
- [ ] Update the various product queries to include the `ingredients_analysis_tags` field: `https://world.openfoodfacts.org/api/v0/product/3564700459447.json?fields=ingredients_analysis_tags`
{"status":1,"pro

[2019-07-24 14:05] teolemon commented on #321
Web version example:
![image](https://user-images.githubusercontent.com/1689815/61800201-d3664600-ae2c-11e9-9943-2987cbc468c4.png)
![image](https://user-images.githubusercontent.com/1689815/61800219-d8c39080-ae2c-11e9-99b7-81a5fc822881.png)

[2019-07-25 10:22] teolemon commented on #321
Here are the icons for the feature:
https://github.com/openfoodfacts/openfoodfacts-server/tree/master/icons

[2019-07-25 11:59] teolemon commented on #107
It seems to have changed slightly @yarons
https://github.com/openfoodfacts/openfoodfacts-ios/blob/master/Sources/Models/ViewModel/PictureViewModel.swift

[2019-07-25 12:00] teolemon commented on #109
I'm closing this one. Perhaps we should remove all referennces to .net

[2019-07-25 12:00] #109 closed

[2019-07-25 12:01] teolemon commented on #14
Closing since it was deployed. Agreing with @Tovkal that we can do better.

[2019-07-25 12:01] #14 closed

[2019-07-25 12:02] #44 closed

[2019-07-25 15:52] teolemon commented on #102
Here are the settings on the Android side:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/master/app/src/androidTestScreenshots/java/openfoodfacts/github/scrachx/openfood/test/ScreenshotParametersProvider.java
It would be awesome to be able to automate history population and screenshot taking based on that

[2019-07-27 15:59] teolemon opened #325 "Adding a new product always sends back "123456789" instead of the actual barcode"
**Symptom:** Adding a new product always sends back "123456789" instead of the actual barcode
**Build:** Master version currently on TestFlight - Stable release works fine.
**Video:** https://twitter.com/TaciteData/status/1155089268722798592

[2019-07-27 16:01] teolemon commented on #325
https://twitter.com/TaciteData/status/1155089268722798592

[2019-07-28 08:00] aleene commented on #325
Is this only an interface issue or is the product not created?

[2019-07-28 09:15] teolemon commented on #325
The one in the tweet doesn't seem to exist:
5413226550528
http://world.openfoodfacts.org/product/5413226550528

Also the app crashes when you attempt to save it. So the product is not created I guess.

[2019-07-28 12:43] aleene commented on #325
123456789 is part of the interface and seems to be unchanged after a new barcode has been scanned.

[2019-07-28 13:11] aleene commented on #325
The issue lies here:
`    func getItemPendingUpload(forBarcode barcode: String) -> PendingUploadItem? {
        let realm = getRealm()
        let yyy = realm.object(ofType: RealmPendingUploadItem.self, forPrimaryKey: barcode)
        let xxx = yyy?.toPendingUploadItem()
        return xxx
`
The yyy is not created and stays nil. This is in an external library. I wonder if it is a timing issue.

[2019-07-29 09:01] teolemon commented on #325
https://github.com/openfoodfacts/openfoodfacts-ios/blob/18f3439ebc8e7c086394102728a1ce34777b16d2/Sources/Models/PersistenceManager.swift#L52

[2019-07-29 12:29] teolemon opened #326 "PersistenceManager.swift:101:27: 'add(_:update:)' is deprecated"
![image](https://user-images.githubusercontent.com/1689815/62048462-4137b680-b20d-11e9-894b-97f61be336fc.png)

Showing All Issues
/openfoodfacts-ios/Sources/Models/PersistenceManager.swift:101:27: 'add(_:update:)' is deprecated: Pass .error, .modified or .all rather than a boolean. .error is equivalent to false and .all is equivalent to true.

[2019-08-14 14:00] teolemon commented on #321
Palm:
https://github.com/openfoodfacts/openfoodfacts-server/blob/master/icons/monkey_happy.svg
https://github.com/openfoodfacts/openfoodfacts-server/blob/master/icons/monkey_unhappy.svg
https://github.com/openfoodfacts/openfoodfacts-server/blob/master/icons/monkey_uncertain.svg
Vegetarian:
https://github.com/openfoodfacts/openfoodfacts-server/blob/master/icons/egg.svg
Vegan:
https://github.com/ope

[2019-08-14 14:01] teolemon commented on #321
![image](https://user-images.githubusercontent.com/1689815/63027151-b31a2c00-beac-11e9-9a74-d940633e1704.png)
![image](https://user-images.githubusercontent.com/1689815/63027166-ba413a00-beac-11e9-9710-35e4d8840702.png)

[2019-08-16 13:12] teolemon commented on #173
Android implementation:
https://github.com/openfoodfacts/openfoodfacts-androidapp/blob/3e0df5257c4b45e56c7afdf51446a821bec9b061/app/src/main/java/openfoodfacts/github/scrachx/openfood/views/product/ProductAttributeDetailsFragment.java#L136

[code]

[2019-08-16 13:39] teolemon commented on #325
@philippeauriach can you have a look ? was it working for you at the time ?

[2019-08-16 13:49] #18 closed

[2019-08-16 13:49] #36 closed

[2019-08-16 15:58] aleene commented on #325
I think I solved this one, but I am swimming a bit in the dark here.

[2019-08-16 17:43] philippeauriach commented on #325
Sorry, what is exactly the problem ? Just the UI showing "123456789" or the json sent to server having "123456789" ? Or both ? I'll check in depth tomorrow morning

[2019-08-16 17:45] aleene commented on #325
In ProductAddViewController:
The app seems to try first a locally stored product and then a realm stored product
Both were nil however, and nothing happens
As there is a new barcode, there should be a local product,
but it is nowhere created
solution is to create productToEdit, when the barcode is set
and assign the barcode to productToEdit

[2019-08-17 15:07] philippeauriach commented on #325
Added a suggestion in the commit above. I feel like changing too much in ProductAddController could introduce unwanted side effects, especially when updating an existing product. When creating it, it indeed does not exist so we should create one and pass it as `productToEdit`

[2019-08-17 15:10] aleene commented on #325
Yes I was worried about side effects as well. I'll adopt your suggestion and delete the rest.

[2019-08-17 15:40] philippeauriach commented on #325
Created. I also solved the problem making the AddProductVC appearing twice

[2019-08-19 09:30] #325 closed

[2019-08-22 15:43] teolemon commented on #60
For some reason, your commit introduced a boolean that turned it into a comma separated list instead of a list
@aubincleme is going to change the behaviour

[2019-08-22 21:24] aubincleme commented on #289
@teolemon Looks like the string you mentioned (`Login in with your account will associate all your contributions to your account.`) is not the current default in the english version of the app. The current default seems to be `Logging in with your account will give you credit for all your contributions to food transparency.`(FTR the translation key is `user.why-log-in.text`).

With that in mind, i

[2019-08-23 07:53] teolemon commented on #289
The current English string is fine. Correcting the target strings still in English would be nice.

https://github.com/openfoodfacts/openfoodfacts-ios/search?q=Login+in+with+your+account+will+associate+all+your+contributions+to+your+account&unscoped_q=Login+in+with+your+account+will+associate+all+your+contributions+to+your+account

[2019-08-23 12:31] teolemon commented on #180
https://world.openfoodfacts.org/product/3068320118703

https://barcode.tec-it.com/en/EAN13?data=3068320118703

[2019-08-26 07:49] philippeauriach commented on #289
Sorry @teolemon , just to be sure, I don't think "Logging" is the word you want here : https://www.linguee.fr/anglais-francais/traduction/logging.html

[2019-08-26 11:46] teolemon commented on #289
Indeed the wording is shitty.
`To get credit for your contributions to Open Food Facts, make sure to log in with your contributor account` ? @philippeauriach @aubincleme

[2019-08-26 11:50] philippeauriach commented on #289
Good for me

[2019-08-26 18:34] aubincleme commented on #102
Hi ; I’ll try to work on that. Not sure of the outcome for now.

[2019-08-27 08:58] teolemon opened #335 "Add an in-app changelog"
Add an in-app changelog that's triggered when opening the app after an upgrade (or series of upgrades) to let the user know what's new from the last time he/she used the app

https://github.com/BalestraPatrick/WhatsNew

[2019-08-29 14:17] teolemon opened #336 "Change the Crashlytics id"
Change the Crashlytics id

[2019-08-29 14:18] teolemon opened #337 "Create a fastlane to upload dsyms to crashlytics"
Create a fastlane to upload dsyms to crashlytics

[2019-08-29 15:09] teolemon commented on #336
I'm pinging @Tovkal , it would be better to get access to the original account

[2019-08-30 09:55] teolemon commented on #321
Here's a mockup we did for Android:
![image](https://user-images.githubusercontent.com/1689815/64011966-0206c900-cb1d-11e9-924f-84f312d79027.png)

[2019-08-31 15:02] aubincleme commented on #102
Only focusing on "Add fastlane configuration to take screenshots" now, we can look at the app store upload later on IMHO

[2019-08-31 15:08] teolemon commented on #102
+1

[2019-08-31 15:54] aubincleme commented on #102
@teolemon in the current snapshot configuration, we don’t provide the string that we should search for. Should we :
* Infer it from the first codebar in the list (we store the name of the product during its load using the Scanner UI) ;
* Add a param in the SnapshotConfiguration ?

[2019-08-31 15:55] teolemon commented on #102
a param per language

[2019-08-31 17:18] aleene opened #339 "Crash in didTapSaveNutrimentsButton()"
**Checklist**
- [x] Bug Report

**Summary:**
In the bug reports a crash is reported in this action method.
![Screenshot 2019-08-31 at 19 17 44](https://user-images.githubusercontent.com/1329905/64067145-09fd6080-cc24-11e9-865e-92b6104be623.png)
I find the crash log not very interesting.

**Steps to reproduce:**

Please provide detailed steps for reproducing the issue.

 -
 -
 -

**Expected behavio

[2019-09-01 19:32] aubincleme commented on #289
Looks nice :)

[2019-09-08 08:08] aleene opened #340 "Main language change"
![Screenshot 2019-09-08 at 10 04 40](https://user-images.githubusercontent.com/1329905/64485392-93aebe80-d220-11e9-962e-85d62e7a3fc1.png)

[2019-09-08 08:19] aleene commented on #340
There is no crash log for this crash.

[2019-09-08 08:22] aleene commented on #340
I was not able to repeat this crash.

[2019-09-08 08:45] aleene commented on #339
Does work for me, so need info to recreate this crash.

[2019-09-08 08:50] aleene commented on #308
This can be closed?

[2019-09-08 18:45] aubincleme commented on #289
@teolemon should be fine now

[2019-09-08 18:53] aubincleme commented on #102
Ok, so following the previous comments on this issue and the talk that we had with @teolemon last week ; the last element to do adding a full fastlane config to take screenshots automatically is to improve the scanner view when performing screenshots.

 In the current situation, when performing screenshots, the scanner screen doesn’t show any barcode in the background (as screenshots are performed

[2019-09-09 07:39] teolemon commented on #340
It's an iPhone XS on the latest testflight.

[2019-09-09 09:03] aubincleme commented on #102
@teolemon Thanks, however this URL does not depend only on the locale of the application, it also depends on a barcode (here `3166352968591`).

[2019-09-09 09:05] teolemon commented on #102
I can rename it however you want. I included all the details to make it possible to find back the original image

[2019-09-09 09:05] teolemon commented on #102
We could put the locale first

[2019-09-09 14:37] teolemon commented on #102
https://static.openfoodfacts.org/files/presskit/PressKit/barcodes/fr-FR.jpg

[2019-09-09 14:48] aleene opened #341 "Not able to edit"
**Summary:**
Having switched back to the Appstore version (the Testflight one crashed whenever I wanted to edit):

Whenever I want to edit an already existing product, I scan the product and want to edit, but then I get forwarded to the off page and see “this page does not exist”
![image](https://user-images.githubusercontent.com/1329905/64541082-92b18600-d321-11e9-840b-53c455a7a9b4.png)

**Steps

[2019-09-13 20:31] aubincleme commented on #102
Quick status on the issue : 
* In order to mock a barcode in the scanner view, I’ve started implementing a new method in the `DataManager` : `#getMockBarcodeImage(…)`
* This is called by the `ScannerViewController` when the view is set up in order to load a mock image
* The barcode image depends on the application locale

However, I’m having an issue making the whole thing work : at runtime, https

[2019-09-14 13:31] philippeauriach commented on #102
Judging by the error it seems that `mockBarcodeApi` is nil, did you instantiate it somewhere ? (There is no dependency injection, all services / api are instantiated manually and passed to the data manager, see here for example : https://github.com/openfoodfacts/openfoodfacts-ios/blob/8f0bc700bb92e860d270705d88b5039e954f8930/Sources/ViewControllers/RootViewController.swift#L43 )
In your case, you

[2019-09-16 17:02] teolemon commented on #321
Great @matotim 👍 Feel free to ping me here or on Slack if you need any help.
To simplify even further, and we're adding a taxonomy to be able to update everything on the fly:
https://static.openfoodfacts.org/data/taxonomies/ingredients_analysis.json

it should have: the tag, the name in various languages, the icon, the color

[2019-09-18 12:17] #289 closed

[2019-10-04 12:47] teolemon commented on #339
![image](https://user-images.githubusercontent.com/1689815/66208653-e8294a80-e6b5-11e9-8f4d-2a0224f9fd32.png)
Bug in version 3.1 from TestFlight on iPhone X in iOS 13 beta:
As soon as I press “save” the app crashes
Image from iOS

[2019-10-04 17:43] aleene opened #343 "APP crash on IOS 13 startup ('Access to UISearchBar's _searchField ivar is prohibited. This is an application bug')"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)

**Summary:**
On the xcode console:
2019-10-04 19:37:23.355538+0200 OpenFoodFacts[878:130849] *** Terminating app due to uncaught exception 'NSGenericException', reason: 'Access to UISearchBar's _searchField ivar is p

[2019-10-04 17:56] aleene opened #345 "App crash on startup ( 'Primary key property 'code' does not exist on object 'Nutriment'')"
**Summary:**
Xcode console:
2019-10-04 19:49:49.743955+0200 OpenFoodFacts[907:134539] *** Terminating app due to uncaught exception 'RLMException', reason: 'Primary key property 'code' does not exist on object 'Nutriment''

**Steps to reproduce:**
Implement first solution to #343. Then start on device with xcode 11

**Observed behavior:**
Crash

**Device and iOS version:**
xcode and ipad

[2019-10-04 18:28] aleene commented on #345
It is an issue in Realm. Does this library need an update to IOS 13?

[2019-10-04 18:35] aleene commented on #345
Related to this? https://github.com/realm/realm-cocoa/issues/6264

[2019-10-04 22:03] SuzGupta commented on #345
I was going to say it's related to this: https://github.com/realm/realm-cocoa/issues/6163. There are some suggestions in the comment thread.

[2019-10-04 23:46] SuzGupta commented on #345
I tried changing the Realm line in `Cartfile` to `github "realm/realm-cocoa" >= 3.18.0` and then rerunning `carthage bootstrap --platform iOS --cache-builds`. This took quite a while since pretty much everything was "falling back to building from source" because the compiler in Xcode 11 is newer than what the binaries were built with. I then opened the project in Xcode and cleaned the build folder

[2019-10-05 02:30] SuzGupta commented on #345
Ah, I realized I was not using the correct Carthage command. Looking at https://www.chrisjmendez.com/2016/10/30/carthage-cheat-sheet/, I tried `carthage update --platform ios --no-use-binaries --verbose`. This plus a couple Option + Product>Clean Build Folder passes did resolve this issue for me, although I now have a different crash in the Simulator. I'll open a pull request for this little chang

[2019-10-05 12:04] aleene commented on #345
Trying your suggestion.

[2019-10-05 13:21] philippeauriach commented on #343
Is this a bug in the prod app or only when building with Xcode 11 ? I am on 13.1.2 and no problem with the AppStore version.

[2019-10-05 16:11] aleene commented on #343
Only building with xcode 11.

[2019-10-05 16:52] aleene commented on #345
Is solved by #346

[2019-10-05 16:52] #345 closed

[2019-10-05 16:54] aleene opened #347 "Xcode 11 (Notification Banner"
**Summary:**
On starting the app in xcode 11 on a device.
[code]
**Steps to reproduce:**
XCode 11 to use

[2019-10-05 16:57] aleene commented on #347
From the NotificationBanner github:
[code]
The current Cartfile is slight different and MarqueLabelSwift is added.

[2019-10-05 18:13] aleene commented on #347
It seems MarqueeLabel is not ready for Xcode 11.

https://github.com/cbpowell/MarqueeLabel/issues/239

[2019-10-06 03:17] SuzGupta commented on #347
@aleene I think the MarqueeLabel issue you referenced above is just saying that they removed the Swift Package Manager version of their framework because that was causing problems with Carthage. Since OFF doesn't use SPM, I don't think this affects the OFF project.

[2019-10-06 17:32] aleene commented on #347
#350 solves this issue.

[2019-10-06 17:32] #347 closed

[2019-10-08 07:40] stephanegigandet commented on #341
There seems to be a 301 redirect that is broken:

 - - [08/Oct/2019:09:14:22 +0200] "GET /api/v0/product/36800151246.json?fields=brands,code,environment_impact_level_tags,image_front_url,image_front_small_url,image_small_url,image_url,nova_group,nutrition_grades,product_name,quantity,states HTTP/2.0" 200 671 "-" "OpenFoodFacts/3.0 (org.openfoodfacts.scanner; build:11; iOS 13.1.0) Alamofire/4.8.1"

[2019-10-08 07:41] teolemon commented on #341
https://github.com/openfoodfacts/openfoodfacts-ios/blob/f7c2eb7e66c1d39bef0dd2ae7165369c5bdc61c5/Sources/Helpers/URLs.swift#L19

[2019-10-08 07:43] teolemon commented on #341
It has been fixed, but not released.
The native edit mode should replace it, but the release is stuck on bugs:
#343, #340, #339

[2019-10-08 08:31] aleene opened #351 "Barcode search"
**Summary:**
Another issue I just came across in the iOS app: search doesn't seem to work with barcodes. I first have to switch into 'scan' mode, wait for a few seconds and then enter manually and then it finds the product
**Steps to reproduce:**
I can replicate this with a EAN-8 code

**Device and iOS version:**
iPad IOS 13.1
**Screenshots:**
https://openfoodfacts.slack.com/files/ULFCZL1EW/FP5AG3

[2019-10-08 08:33] aleene commented on #351
In the console I get:
`[ProductService.swift:70] getProducts(for:page:onSuccess:onError:) > Got 0 products ` after adding an extra valid digit.

[2019-10-08 10:31] aleene opened #353 "Codesigning MarqueeLabel failed"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)

**Summary:**
Uploading to iTunesConnect fails

**Screenshots:**
![Screenshot 2019-10-08 at 12 30 25](https://user-images.githubusercontent.com/1329905/66388991-9808fb80-e9c7-11e9-8e30-260cfc076f16.png)

[2019-10-08 11:11] aleene commented on #353
Solutions: https://stackoverflow.com/questions/35047557/unable-to-upload-app-to-itunes-connect-itunes-store-operation-failed-authenti

[2019-10-08 11:15] aleene commented on #353
In the log:
`2019-10-08 11:12:59 +0000  /var/folders/g7/twg9y8nx7xq7pbwpjv9c3xn40000gr/T/XcodeDistPipeline.~~~isvw7C/Root/Payload/OpenFoodFacts.app/Frameworks/MarqueeLabel.framework: replacing existing signature
2019-10-08 11:12:59 +0000  /var/folders/g7/twg9y8nx7xq7pbwpjv9c3xn40000gr/T/XcodeDistPipeline.~~~isvw7C/Root/Payload/OpenFoodFacts.app/Frameworks/MarqueeLabel.framework: code object is not

[2019-10-08 11:26] aleene commented on #353
Solved it by setting the Embed of this framework to `Do Not Embed`.

[2019-10-08 11:26] #353 closed

[2019-10-08 11:26] #343 closed

[2019-10-08 17:34] SuzGupta opened #354 "Create an account button lands on home page not account creation"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

When one taps Create an account, one lands at the top-level home page, https://w

[2019-10-08 17:35] SuzGupta commented on #354
Possibly related: #25, #51

[2019-10-08 17:35] SuzGupta commented on #354
@aleene please assign me

[2019-10-09 07:42] aleene opened #355 "Crash on startup"
**Summary:**

**Steps to reproduce:**
Run with an IOS below 13

**Device and iOS version:**

IOS 13

**Screenshots:**

[2019-10-09 07:45] aleene commented on #355
Probably happens in
[code]
The searchTextField is not available under IOS 12. In the crash log we have the error `[UIResponder doesNotRecognizeSelector:]`.

[2019-10-09 08:52] aleene commented on #340
Seems to be solved for IOS 13.

[2019-10-09 08:53] aleene opened #357 "Main language update refresh"
**Summary:**
After updating the main language the interface is not refreshed. However the change is committed to OFF.

**Device and iOS version:**
Any

[2019-10-09 08:57] aleene opened #358 "IOS 13 warnings"
**Summary:**
The Xcode 11 compiler gives several warnings:
* RotatingProcessor - Image is deprecated, should use KFCrossPlatformImage
* Realm - add(_:update: Bool), passing bool is deprecated should be .all.

[2019-10-10 18:59] codethebeard commented on #265
I can take this on if ya'll would like me to. :)

[2019-10-10 19:23] teolemon commented on #265
@codethebeard it would be awesome :-)
If you can blend it beautifully using the right fonts (the default system one ?)

[2019-10-10 19:36] codethebeard commented on #265
I'll try my best. Thanks!

[2019-10-11 00:37] SuzGupta opened #360 "Fix README.md (and update project file to render it)"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

README.md does not render as formatted text in Xcode 11. By adding a file to the

[2019-10-11 03:15] SuzGupta commented on #355
Yeah, I was thinking that might be it.

[2019-10-11 08:38] aleene opened #362 "Support dark mode"
**Summary:**
IOS 13 has a dark mode. The app should support it. We have to go over all interface parts to see whether it complies.

[2019-10-11 10:05] aleene commented on #362
There are white backgrounds that must convert to black.

[2019-10-11 16:01] SuzGupta commented on #362
so, we'll want to make anything that lays atop a background transparent

[2019-10-11 16:04] aleene commented on #362
And maybe set some backgrounds to .systemBackground

[2019-10-11 16:42] aleene commented on #362
Also many UI elements might need to be set to the right system color.

[2019-10-12 11:10] aleene commented on #362
This needs quite a few changes:
- all UI elements set to default (to start with)
- images require a dark mode variant (in white or gray?)

[2019-10-12 15:15] teolemon commented on #362
![credits](https://user-images.githubusercontent.com/1689815/66703527-e98cef80-ed13-11e9-80f3-012b84aa25a8.jpg)
![history](https://user-images.githubusercontent.com/1689815/66703528-e98cef80-ed13-11e9-8525-f62150298185.jpg)
![product](https://user-images.githubusercontent.com/1689815/66703529-e98cef80-ed13-11e9-9ebd-aa1926262f83.jpg)
![search](https://user-images.githubusercontent.com/1689815/6670

[2019-10-12 15:49] aleene commented on #362
What do you want to show?

[2019-10-12 15:51] aleene commented on #362
Need to adapt NutriScore and Nova icons.

[2019-10-12 16:13] teolemon commented on #362
![ingredients](https://user-images.githubusercontent.com/1689815/66704398-edbd0b00-ed1b-11e9-98d8-08b51ad459df.jpg)
![nutrition](https://user-images.githubusercontent.com/1689815/66704399-edbd0b00-ed1b-11e9-9f8b-b86c2ee53a22.jpg)
![home](https://user-images.githubusercontent.com/1689815/66704406-fad9fa00-ed1b-11e9-8b03-d0b3ad2d3550.jpg)

[2019-10-12 18:25] codethebeard commented on #265
So, I'm having a lot of trouble getting the project to launch without crashing. I've walked through the setup steps with Carthage and when the app opens it immediately crashes due to a missing Library. Might be related to this: https://github.com/openfoodfacts/openfoodfacts-ios/issues/306 maybe?

[2019-10-13 03:39] SuzGupta commented on #265
@codethebeard I was new to Carthage and could not initially get the project to build. It helped me to use `update` rather than `bootstrap`. Apologies if I am saying things you already know, but I found https://www.chrisjmendez.com/2016/10/30/carthage-cheat-sheet/ helpful, as well as this Ray Wenderlich Carthage tutorial: https://www.raywenderlich.com/416-carthage-tutorial-getting-started

[2019-10-13 15:15] #358 closed

[2019-10-13 15:19] aleene commented on #355
@teolemon build 18 solved this issue?

[2019-10-13 15:20] teolemon commented on #355
yes it did 👍

[2019-10-13 15:20] aleene commented on #341
seems solved with build 18

[2019-10-13 15:22] aleene commented on #340
On to the next bug #357

[2019-10-13 15:22] #340 closed

[2019-10-13 15:23] aleene commented on #326
Is solved in build 18

[2019-10-13 15:23] #326 closed

[2019-10-13 16:36] #308 closed

[2019-10-13 16:37] aleene commented on #306
Seems obsolete by now.

[2019-10-13 16:38] aleene commented on #307
Is merged

[2019-10-13 16:38] #307 closed

[2019-10-13 16:38] #355 closed

[2019-10-13 16:41] aleene commented on #313
Seems solved by now.

[2019-10-13 16:42] aleene commented on #292
I think this is by now implemented.

[2019-10-13 16:48] codethebeard commented on #265
@SuzGupta Thanks for the info. I haven't used Carthage before (mostly a CocoaPods kinda guy). I'll try giving this a shot and post back if it helps. There were a few libraries that were missing apparently.

[2019-10-13 17:54] aleene commented on #292
Seems to be done

[2019-10-13 17:54] #292 closed

[2019-10-13 18:19] aleene opened #368 "Swift 5 conversion"
**Summary:**
Swift 5 is available. Can we convert? Does it work with the frameworks?

[2019-10-14 07:35] teolemon opened #369 "Check the API call doesn't have a //"
Double check the API call doesn't have a //
I saw some issues in the server logs.
https://github.com/openfoodfacts/openfoodfacts-ios/pull/257/files#diff-63c0ecf709036ade776946b575da3d5cR18

[2019-10-14 08:01] aleene commented on #369
Those are errors from just now?

[2019-10-14 08:08] aleene commented on #369
Was indeed a / to many.

[2019-10-14 09:59] teolemon opened #371 "Crash on photo taking"
![image](https://user-images.githubusercontent.com/1689815/66743254-cb410400-ee79-11e9-816f-d918dbc7c6c3.png)
``` Un nouveau produit, j’ai appuyé sur “front picture”, j’ai visé mon produit et j’ai appuyé pour prendre une photo et ça a crash direct```
1. New product
2. Click on "Front Picture"
3. Boom

Crash report sent:
[code]

[2019-10-14 10:03] aleene commented on #371
It works on my iPad. Somebody else have this issue as well?

[2019-10-14 12:21] mike011 commented on #337
Doesn't this already exist in the `refresh_dsyms` lane?

[2019-10-14 13:13] aleene commented on #371
![Screenshot 2019-10-14 at 15 13 05](https://user-images.githubusercontent.com/1329905/66753965-292f1500-ee95-11e9-9675-c509d8d79873.png)

[2019-10-14 13:25] aleene commented on #371
Crash in:
`guard let productImage = ProductImage(barcode: barcode, image: image, type: imageType ?? .front) else {
            showErrorUploadingImage(forType: imageType)
            return
        }`

[2019-10-14 13:32] aleene commented on #371
I have no idea why this would crash

[2019-10-14 13:40] aleene commented on #371
Have we access to Crashlytics reports?

[2019-10-14 15:32] teolemon commented on #371
no we don't. @Tovkal has.
I have created a new Crashlytics account for Open Food Facts, so we can swap the id for the future. Or remove Crashlytics completely.

[2019-10-14 15:34] aleene commented on #371
Let's change the id. I have no idea whether it is useful. No experience with it.

[2019-10-14 15:35] aleene opened #372 "Setup OFF Crashlytics"
**Summary:**
We have no access to crash reports and need to setup our own access.

[2019-10-14 15:39] #372 closed

[2019-10-14 15:39] aleene commented on #372
Was double

[2019-10-14 16:40] aleene commented on #371
It seems the issue is with scanning a non-existing (new) product.

[2019-10-14 17:15] aleene commented on #371
Code to set the barcode, was commented.

[2019-10-15 02:45] codethebeard commented on #265
Seems like the above Carthage cheat sheet helped a bunch. Thanks @SuzGupta

[2019-10-15 02:51] SuzGupta commented on #265
You're welcome—I'm glad it helped! I look forward to us getting an improved version out in the App Store... I will then start scanning my whole pantry and get to know this whole effort better :)

[2019-10-15 09:56] #371 closed

[2019-10-15 09:56] #369 closed

[2019-10-15 09:56] #368 closed

[2019-10-15 09:56] #362 closed

[2019-10-15 09:57] #354 closed

[2019-10-15 09:58] #341 closed

[2019-10-15 09:58] #313 closed

[2019-10-15 09:59] aleene opened #376 "Xcode warnings"
**Summary:**
Xcode shows many warnings. Need to be removed.

[2019-10-15 10:47] aleene commented on #351
This is an OFF issue:
`https://ssl-api.openfoodfacts.org/code/87176773367xx.json` results in 1 product.
`https://ssl-api.openfoodfacts.org/code/871767733672x.json` results in 0 products.

[2019-10-15 12:23] teolemon opened #377 "The white transparent Nutri-Score is on top of a white box in dark mode"
![image](https://user-images.githubusercontent.com/1689815/66831126-4a583a00-ef57-11e9-996a-078ecfa5bbb5.png)

[2019-10-15 12:27] teolemon opened #378 "Credits screen is white"
![image](https://user-images.githubusercontent.com/1689815/66831396-d36f7100-ef57-11e9-9c1f-d230da4012f9.png)

[2019-10-15 12:35] teolemon opened #379 "Login screen is transparent and garbled"
![image](https://user-images.githubusercontent.com/1689815/66831915-0fef9c80-ef59-11e9-99cb-8775269ce3a0.png)

[2019-10-15 12:45] teolemon opened #381 "The splash screen and login modal are dark on iOS 12"
The splash screen and login modal are dark on iOS 12. It should be lite, unless the user has explicitely enabled darkmode.

[2019-10-15 12:57] aleene commented on #377
Think I found this one.

[2019-10-15 13:07] teolemon opened #382 "Searching in dark mode makes the screen flash white"
Searching in dark mode makes the screen flash white

[2019-10-15 13:08] teolemon opened #383 "Upload button are white (edit mode)"
![image](https://user-images.githubusercontent.com/1689815/66834251-97d7a580-ef5d-11e9-97d3-8bbc0f0aa1e1.png)

[2019-10-15 13:09] teolemon commented on #383
Also, the nutrient table has issues:
![image](https://user-images.githubusercontent.com/1689815/66834361-c35a9000-ef5d-11e9-99ec-4fe680689e2f.png)

[2019-10-15 13:22] aleene commented on #383
Seems I must for the color here.

[2019-10-15 13:29] aleene commented on #383
Where does this happen?
IconButtonView.xib - tertiairyBackgroundColor

[2019-10-15 13:35] codethebeard commented on #265
Resolved in #375

[2019-10-15 13:58] aleene commented on #378
Seems I found this one in the code

[2019-10-15 13:59] aleene commented on #379
Looks like an overlay that turned transparant. Need to force it to secondaryBackground.

[2019-10-15 14:03] aleene commented on #379
Need to add some code?

[2019-10-15 14:15] aleene commented on #379
This one is ok on my ipad

[2019-10-15 14:21] aleene commented on #378
Trouble finding where this is set.

[2019-10-15 14:29] aleene commented on #378
This must be done in Credits.html and needs css code.

See also: https://stackoverflow.com/questions/57981661/ios-13-modifying-html-and-css-for-dark-mode-in-uiwebview

[2019-10-15 14:37] aleene commented on #381
Hmm works for me on IOS 13. We can try to force the background an see what happens on IOS 12.

[2019-10-15 14:42] aleene commented on #382
Can not reproduce this.

[2019-10-15 14:59] aleene commented on #381
Is les nice on IOS 13.

[2019-10-15 15:57] aleene opened #386 "Native credits"
**Summary:**
Rewrite the credits viewcontroller, so that the credits will be native and not presented as webView. Might use a static TableViewController.

[2019-10-15 16:04] aleene commented on #288
Is this still the case?

[2019-10-15 16:07] aleene commented on #290
You mean the Travis-build?

[2019-10-15 16:11] aleene commented on #227
Seems solved to me.

[2019-10-15 16:41] aleene commented on #351
See https://github.com/openfoodfacts/openfoodfacts-server/issues/2435

[2019-10-15 16:44] #339 closed

[2019-10-15 16:48] aleene commented on #301
This seems ok now

[2019-10-15 16:48] #301 closed

[2019-10-15 16:51] #203 closed

[2019-10-15 16:55] aleene commented on #58
Seems that it does now.

[2019-10-15 16:57] aleene commented on #84
Is implemented.

[2019-10-15 16:57] #84 closed

[2019-10-15 16:58] aleene commented on #117
Works now.

[2019-10-15 16:58] #117 closed

[2019-10-15 16:59] aleene commented on #114
Works now.

[2019-10-15 16:59] #114 closed

[2019-10-15 16:59] #58 closed

[2019-10-15 17:00] #113 closed

[2019-10-15 17:01] #110 closed

[2019-10-15 17:04] aleene commented on #186
Are there still color images/icons?

[2019-10-15 17:06] aleene commented on #196
Is solved

[2019-10-15 17:07] aleene commented on #214
There are none left.

[2019-10-15 17:07] #214 closed

[2019-10-15 17:08] #227 closed

[2019-10-15 17:10] #265 closed

[2019-10-15 17:11] #276 closed

[2019-10-15 17:32] Tovkal commented on #371
Crashlytics was originally set up on my personal account, but it is no longer working. Instead of setting up a new Crashlytics account it would be better to move directly to Firebase, as Fabric is deprecated due to being replaced by Firebase and will stop working at the end of March 2020.

[2019-10-15 17:41] aleene commented on #336
It seems that we have to replace crashlytics with firebase. So let's remove it for the moment.

[2019-10-15 17:44] #360 closed

[2019-10-15 17:45] aleene commented on #337
Still relevant #336 ?

[2019-10-16 09:23] aleene opened #387 "Fully transparent scan"
**Summary:**
The scan results after scanning are shown on a transparent page.

[2019-10-16 09:37] teolemon commented on #387
![image](https://user-images.githubusercontent.com/1689815/66907255-5997c000-f009-11e9-9ac6-2a8107fff435.png)
That's actually kind of cool :-P

[2019-10-16 09:45] aleene commented on #336
Note that the release version has had 25 crashes up to 16 oct 2019

[2019-10-16 09:51] aleene opened #388 "Nutrition Table webView background"
**Summary:**
The nutrition table is now presented as a webView(?). The corresponding page needs to have css-code to set the right background in dark mode.

[2019-10-16 10:16] aleene commented on #387
I found the xib responsible for this background and adapted it. However it is embedded in another view, with a transparent background, which is difficult find. My computer is to slow to see the view stack

[2019-10-16 11:27] aleene commented on #387
Responsible xib is: ScanProductSummaryView

[2019-10-16 17:10] #383 closed

[2019-10-16 17:10] #379 closed

[2019-10-16 17:11] #377 closed

[2019-10-16 17:24] aleene commented on #351
So this is a feature. This barcode search api does not work for the last 100 products (last two digits).
If the last search results contains all 100 products, we could the last searches locally.

[2019-10-17 13:44] davidlamys commented on #196
hi @aleene, I was just trying to figure out how to solve this since it felt like a good starter issue >.<

Any chance you can reference the commit / PR that helped to fix this? It could help accelerate newbies like me.

Thank you :)

[2019-10-17 16:13] aleene commented on #196
I am afraid I just closed this issue a few days ago. It was already resolved.

A simple start project could be #386

[2019-10-18 07:32] aleene opened #392 "Font overhaul"
**Summary:**
All interface elements now use system fonts with fixed sizes. These should be changed to the standard Text Styles for better Accessibility.

A table how these styles are used would be useful.

[2019-10-18 07:35] aleene opened #393 "Warnings"
**Summary:**
A few warnings are left that need to be removed.

[2019-10-18 07:44] aleene opened #394 "Testing is broken"
**Summary:**
Testing no longer works.

[2019-10-18 07:46] #376 closed

[2019-10-18 08:03] aleene opened #395 "Travis build"
The Travis build does not end. Issue with settings? AlamofireImage?

[2019-10-18 10:15] teolemon opened #396 "Transparency issue in splash screen (white mode) on iOS 12"
Transparency issue in splash screen (white mode) on iOS 12

![image](https://user-images.githubusercontent.com/1689815/67086350-cf825f80-f1a0-11e9-9d79-68cefe0539f6.png)

[2019-10-18 10:23] #387 closed

[2019-10-18 12:45] davidlamys commented on #386
@aleene: Hey hey! I'd look into this. I think I'm going to bring the user to the profile pages of the respective authors' link when the user tap on the TableViewCell. Is that cool?

[2019-10-18 12:52] SuzGupta commented on #379
Confirming this is fixed since I was the original reporter. Do we have the issue closing process documented somewhere?

[2019-10-18 13:21] davidlamys commented on #386
Also... do we want to remove snapkit?

[2019-10-18 13:31] aleene commented on #386
Good question. We no longer use it?

[2019-10-18 13:40] aleene opened #397 "Dark mode color finetuning"
**Summary:**
The dark mode colors needs some finetuning.

[2019-10-18 13:53] aleene commented on #397
Specific changes:
- ProductAddViewController - use the standard `.systemBackground`
any (editable) fields in here use the `.secondarySystemBackground` and .secondaryLabel.

[2019-10-18 14:00] aleene commented on #379
Not really. But feel free to write something on the github wiki. I started documenting my approach to changes there.

[2019-10-18 14:00] davidlamys commented on #386
We only use it in this view controller.

[2019-10-18 14:02] aleene commented on #386
Well, if we use it we credit it. Seems a reasonable approach. Maybe we should add the other frameworks as well.

[2019-10-18 14:13] davidlamys commented on #386
Oh, what I mean is that we will not use it anymore, after I rewrite the credits view controller. And after that, it won't be used anywhere.

Will it be better if we remove this dependency in our cartfile then? Or does the team think that keeping it might encourage people to use it?

[2019-10-18 14:16] SuzGupta commented on #379
Elsewhere (not on open source projects) I have made the argument that the person who writes the fix should not be the person to close the issue, that the issue should be sent back to its author for review. That may not be the right/ a feasible approach here because it assumes people stick around and test fixes in a timely manner.

[2019-10-18 14:50] aleene commented on #386
Sounds good removing it.

[2019-10-18 14:59] aleene commented on #379
I think I agree with this approach with a time out.

[2019-10-18 18:49] aleene commented on #397
It seem that all default colours must be set explicitly. Default falls back to black and white.

[2019-10-19 09:04] teolemon opened #400 "Missing string in the new minerals list"
![image](https://user-images.githubusercontent.com/1689815/67141031-14b99680-f260-11e9-8d5b-87733579a5c9.png)
There's a missing string for minerals

[2019-10-19 10:47] aleene commented on #400
Yes, and amino acids, other nutritional substances, ...

[2019-10-19 11:03] aleene opened #402 "Save button"
**Summary:**
The the add/edit viewController the save button is now on multiple places in the view. Normally Save buttons (if at all) are in the NavigationController at the top.

The user can then either Save his changes or cancel them.

[2019-10-19 11:18] aleene opened #403 "Storybordify app"
The implementation of the interface is now scattered over multiple xib-files and storyboards. These should be unified into a single storyboard.

These makes it much easier for maintainers to locate the correct interface element, to see how all interface elements are interrelated (segues) and to edit elements.

Xcode uses the relations from the storyboard to correctly morph an app to a specific dev

[2019-10-19 12:23] bredowmax commented on #402
Visualization: "Done" in top right position of the sheet. Inactive state and `system color grey` if no changes have been made. Turns into `system blue color` once a change has been made and changes can be saved.
![mio-design_assets_1iibya7ExTm_Lh_qB0ivDyzLjVmy3qEDC_darktheme-adjustedcolor-textlegibility](https://user-images.githubusercontent.com/30573532/67144826-8f43df80-f27b-11e9-9c75-49fcd8c08a

[2019-10-19 12:57] teolemon commented on #402
That is by design. That enables granular saving and instant gratification.

[2019-10-19 13:02] teolemon commented on #402
![image](https://user-images.githubusercontent.com/1689815/67145367-6b839800-f281-11e9-88c3-110b66c50a65.png)
![image](https://user-images.githubusercontent.com/1689815/67145376-75a59680-f281-11e9-90d6-a51e77adc43b.png)

[2019-10-19 13:16] aleene commented on #402
Yep it is in more places.

[2019-10-19 13:17] teolemon commented on #402
And removing them would destroy the result.
I would almost rename them "Save to get the Nutri-Score" and "Save to get the level of food processing"

[2019-10-19 13:35] aleene commented on #402
In the first case an alert panel is needed as you want the user to react on the recognition. Not very nice as the recognition is happening without the users consent and interrupts his flow. Better let the user initiate the process (o that is quick) and then ask him in an alert panel.

PS what is the squary thing before "ingredients lus..." A vending machine?

[2019-10-19 13:44] bredowmax commented on #402
I must say I am with @aleene on this one. There were a couple occasions when I missed a ‘save’ button and my changes were gone. iOS users are used to the dialog ‘Done’ at the right on the NavBar. And I only learned what info is necessary to calculate NutriScore and Nova Score by asking in Slack. I wouldn’t have figured it out through the app.

If you want to maintain that ‘instant gratification’,

[2019-10-19 13:49] teolemon commented on #402
My take on this:
1. Popups are disruptive
2. Most people will never input the nutrients and the ingredients voluntarily. I designed effort/reward loops, until we can fully automate using machine learning.
- Promising a reward ("Check OCR to get NOVA")
- VERY Small effort (user checks and save)
- Visible reward (NOVA logo)
- Next step
- Promising a reward ("Type nutrients to get NutriScore")
- (Les

[2019-10-19 13:50] teolemon commented on #402
@aleene The floppy disk icon doesn't mean anything anymore, except to you and me. 👍  We should indeed replace it by a checkbox :-)

[2019-10-19 13:53] bredowmax commented on #402
Agree that guidelines are a suggestion, not more. Perhaps a bit of user testing wouldn’t hurt? I’m sure I’m not the only one who filled in everything I could find to only then find out that if I only clicked the last ‘save’ and return, I will lose all other edits above (the other ‘save’ buttons that I didn’t click)

[2019-10-19 13:56] aleene commented on #402
For the reward one could add a text "NutriScore requires nutrients", etc.

[2019-10-19 13:57] bredowmax commented on #402
I like the idea of showing a neutral greyed-out NutriScore and Nova Score label and below “add Nutrients to calculate NutriScore”

[2019-10-19 14:00] bredowmax commented on #402
If you do user testing with people new with the app, often you learn that they just skip completely whatever written instructions they were given. You can’t assume users actually read the instructions. Hints must be visual

[2019-10-19 21:09] teolemon commented on #173
![image](https://user-images.githubusercontent.com/1689815/67151364-80821a80-f2c5-11e9-8e96-3b98a0717d83.png)

[2019-10-19 21:10] teolemon commented on #173
![image](https://user-images.githubusercontent.com/1689815/67151371-a7405100-f2c5-11e9-974d-89fd14326465.png)

[2019-10-19 21:28] teolemon commented on #173
"en:e150c":{
   "efsa_evaluation_adi":{
      "en":"100"
   },
   "efsa_evaluation_url":{
      "en":"http://dx.doi.org/10.2903/j.efsa.2011.2004"
   },
   "efsa_evaluation_date":{
      "en":"2011-03-08"
   },
   "efsa":{
      "en":"http://www.efsa.europa.eu/fr/efsajournal/doc/3030.pdf"
   },
   "additives_classes":{
      "en":"en:colour"
   },
   "name":{
      "pt":"E150c - Caramelo de amónia"

[2019-10-19 21:34] teolemon opened #405 "Add the number of additives to the scan card"
![image](https://user-images.githubusercontent.com/1689815/67151634-13708400-f2c9-11e9-8276-fcd378d4c848.png)

Add the number of additives (additives_n) to the scan card. Make all score bigger by removing the weight and the brand.

[2019-10-20 08:33] aleene commented on #405
Should not be to difficult.

[2019-10-20 11:07] davidlamys commented on #405
Hi @teolemon, what do you mean by this 'Add the number of additives' ?

Also is there any wiki that one should read to gain more understanding of the domain knowledge? Thank you

[2019-10-20 11:09] davidlamys commented on #405
This view is also reused when the user look at the product summary. Do we want to hide the Brand and Quantity labels there as well?

[2019-10-20 11:10] davidlamys commented on #405
As a side discussion..are we gonna keep using MVC?

[2019-10-20 11:26] aleene commented on #405
Look under the NOVA 4 in the mockup. It is extra data that must be shown and is to the taken from the json.

[2019-10-20 11:27] aleene commented on #405
MVC yes, but see another issue #403.

[2019-10-20 11:44] davidlamys commented on #405
Got it. How about in the summary view. Do we remove the brand and and quantity in that screen as well?

[2019-10-20 12:21] aleene commented on #405
Probably not. The idea is that in scan mode you get a quick evaluation, but later you need to see all

[2019-10-20 12:44] davidlamys commented on #405
Alright. I think I have what I need to know :)

Last question: What happens when there are additives but no nova score? Shall we hide the whole column?

And for the summary view,  I guess we will continue to show the number of additives as well?

[2019-10-20 12:47] davidlamys commented on #405
As for the issue with nib. Since it's a reusable view, I'd try to just draw the whole thing out in code. probably should be done by end of this week.

[2019-10-20 13:04] teolemon commented on #400
@aleene 'product-detail.ingredients.mineral-list'

[2019-10-20 13:17] aleene commented on #400
What do you mean?

[2019-10-20 13:23] aleene commented on #405
If there is no nova, we still can show the additives. They are independent. And indeed a good idea to add it to the summary as well.

Can't you repurpose the existing xib?

[2019-10-20 13:27] teolemon commented on #321
@matotim are you on the Open Food Facts slack ?
Here's the Android implementation, if it can make things easier:
https://github.com/openfoodfacts/openfoodfacts-androidapp/pull/2871/files

[2019-10-20 13:46] davidlamys commented on #405
Oh yes we can. I thought it'd be be easier to complete #403 if we no longer find xibs in the project.

will repurpose then.

[2019-10-20 13:50] aleene commented on #405
I am more a fan of using the storyboard and not xibs. Gives me an overview of the app.

[2019-10-20 14:20] teolemon opened #407 "Image upload spinning wheel not honoring dark mode"
![image](https://user-images.githubusercontent.com/1689815/67160881-73147100-f355-11e9-9866-a1b54f34fec6.png)
Image upload spinning wheel not honoring dark mode

[2019-10-20 14:21] teolemon opened #408 "HTML version of the nutrition page is on a white background in dark mode"
![image](https://user-images.githubusercontent.com/1689815/67160895-a0f9b580-f355-11e9-8d91-2a87a9af9967.png)
Embedded HTML version of the nutrition page is on a white background in dark mode

[2019-10-20 14:24] aleene commented on #400
case vitamins = "product-detail.ingredients.vitamins-list"
    case minerals = "product-detail.ingredients.minerals-list"
    case nucleotidesList = "product-detail.ingredients.nucleotides-list"
    case otherNutritionalSubstances = "product-detail.ingredients.otherNutritionalSubstances-list"

[2019-10-20 14:30] aleene commented on #407
This might better work with other settings (.clear background and .label image color)

[2019-10-20 15:11] aleene commented on #408
Needs a css specialist. Or have a native interface.

[2019-10-20 15:34] teolemon commented on #408
I don't think we embed a full html page in the html we send back. It should be about setting background-color="black", I guess.

[2019-10-20 15:49] aleene commented on #408
I tried all possible combinations without help. On StackOverflow they pointed to a css solution.

[2019-10-20 15:49] #397 closed

[2019-10-20 15:51] aleene commented on #392
https://developer.apple.com/documentation/uikit/uifont/scaling_fonts_automatically

[2019-10-20 15:53] aleene commented on #392
https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/

[2019-10-20 20:19] aleene commented on #408
Same as #388

[2019-10-20 21:56] teolemon commented on #408
https://world.openfoodfacts.org/api/v0/product/3302749508029.json?fields=nutrition_table_html

[2019-10-20 22:01] teolemon commented on #408
[code]

[2019-10-20 22:02] teolemon commented on #408
[myWebView setBackgroundColor:[UIColor greenColor]];
[myWebView setOpaque:NO];
[myWebView loadHTMLString:myString baseURL:nil];
https://stackoverflow.com/questions/6605140/uiwebview-background-color

[2019-10-21 07:27] aleene commented on #408
Great is was the opaque that I was missing.Now we only need to change the color of the text.

[2019-10-21 08:26] matotim commented on #321
@teolemon yes I am ! Sorry for the delay, I didnt have much free time during the previous week.
Here's the current branch I'm working on : https://github.com/matotim/openfoodfacts-ios/tree/vegan-check

[2019-10-21 11:55] aleene commented on #392
adjustsFontForContentSizeCategory = true

[2019-10-21 18:45] teolemon commented on #321
I've created a PR so that it's easier to iterate.
https://github.com/openfoodfacts/openfoodfacts-ios/pull/414

[2019-10-21 18:48] teolemon commented on #321
Also, for the icons and logic, we have taxonomies, so we can remove hardcoding and make the system future proof (to add other diets server-side)
Icons: https://ssl-api.openfoodfacts.org/files/app/ingredients-analysis.json
Icon path structure: "https://static.openfoodfacts.org/images/icons/" + icon + ".white.96x96.png";
Translations: https://static.openfoodfacts.org/data/taxonomies/ingredients_anal

[2019-10-24 13:36] teolemon commented on #168
if status =! nutriscore-not-applicable and status= category-to-be-completed and status = nutrition-to-be-completed then "Add nutrition facts and a category to get the Nutri-Score"
…

[2019-10-24 14:47] teolemon opened #415 "Missing units in nutrition table in edit mode"
![image](https://user-images.githubusercontent.com/1689815/67497212-f5ff3980-f67d-11e9-9727-d513ac926f0b.png)

[2019-10-24 14:49] teolemon opened #416 "Dark mode edit mode issues"
![image](https://user-images.githubusercontent.com/1689815/67497354-234be780-f67e-11e9-83dc-481eaeb50b22.png)
![image](https://user-images.githubusercontent.com/1689815/67497379-2c3cb900-f67e-11e9-9a61-90e3027ecba4.png)

[2019-10-24 14:52] teolemon opened #417 "Add a white/black line around ingredients field"
Add a hint where the ingredients are

![image](https://user-images.githubusercontent.com/1689815/67497689-a10ff300-f67e-11e9-938d-b3fc94c71e28.png)

[2019-10-24 14:59] teolemon opened #418 "Your contributor account (Dark mode issue in white mode in ios 12)"
![image](https://user-images.githubusercontent.com/1689815/67498332-8b4efd80-f67f-11e9-97f1-4c31f7bfba50.png)
Your contributor account (Dark mode issue in white mode in ios 12)

[2019-10-24 15:01] teolemon opened #419 "Dark mode issue for the Carbon impact"
![image](https://user-images.githubusercontent.com/1689815/67498492-d36e2000-f67f-11e9-826c-05d799181df5.png)
Dark mode issue for the Carbon impact in white mode on ios 12.
The background is slightly grey

[2019-10-24 15:03] teolemon commented on #417
![image](https://user-images.githubusercontent.com/1689815/67498718-3bbd0180-f680-11e9-9d64-25cb04415f87.png)

[2019-10-24 16:10] teolemon opened #420 "Replace icons with something 2019 people understand"
![image](https://user-images.githubusercontent.com/1689815/67503990-e9341300-f688-11e9-8253-f316712c663d.png)
Floppy disk were part of my youth. Now, nobody seems to understand them anymore ;)

[2019-10-24 16:27] teolemon commented on #420
![image](https://user-images.githubusercontent.com/1689815/67505563-cc4d0f00-f68b-11e9-817f-e0fbe3e76aa9.png)
⚠️ something like that rather ?

[2019-10-24 16:41] teolemon opened #421 "Making the edit button more accessible"
![image](https://user-images.githubusercontent.com/1689815/67506656-c1937980-f68d-11e9-97cb-ee2267af59da.png)
Now that we have a native edit mode, we can probably make the edit button more accessible

[2019-10-24 17:05] aleene commented on #420
Why do want an icon/emoji?

[2019-10-24 17:07] aleene commented on #417
Can use another background as well.

[2019-10-24 17:32] teolemon commented on #420
Currently we have emojis.  If suitable icons are available, that's ok with me as well. In some cases animation would be a plus (during upload)

[2019-10-24 19:22] SuzGupta opened #422 "Existing product name should populate Name field when editing Product information"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

When attempting to edit a misspelled product name via iOS, the name does not app

[2019-10-25 03:27] aleene commented on #421
Notice that TWO buttons have been added to the mockup. Just one is ok. There is a subtle difference between the two standard buttons: one is **compose** (as used in the mail app) and means _create and edit_. the other one means just _edit_ an existing object. (Also the **+** icon is used for just _create without edit_).

[2019-10-25 03:29] aleene commented on #419
Easy change. I have not the habit to check the icon backgrounds.

[2019-10-25 03:30] aleene commented on #418
Probably not to difficult, if I can find it.

[2019-10-25 03:33] aleene commented on #417
We need to rethink the color scheme and fonts used in this view. The actual content does not stand out at all. I'll try to use other text colors for the meta-data. And different background colors for the product data.

[2019-10-25 03:34] aleene commented on #416
I probably missed this one (text color and background color).

[2019-10-25 03:39] #388 closed

[2019-10-25 03:41] #386 closed

[2019-10-25 07:56] aleene commented on #417
An approach to design of the interface. The view contains the following elements (with suggested colors):
- Headers (ingredients, etc.) == label
- Product Data == label
- Product Data labels (category:) == label
- Explanatory texts == secondaryLabel
- Status messages == tertiaryLabel

[2019-10-25 07:58] aleene commented on #422
This seems also the case for the ingredients?

[2019-10-25 08:54] aleene commented on #422
These are language dependent fields.

[2019-10-25 10:12] aleene commented on #422
The issues is not really solved as we have to check how products with multiple languages work.

[2019-10-26 13:42] bredowmax commented on #422
I've encountered a bug where I would add the name of a new product but when saving it, the name would not be saved. This is not a product that I edited, but a new one!

Language: German

[2019-10-26 13:48] bredowmax commented on #421
In the iOS Calendar app, it just says 'Edit'.

That icon is not needed, I'd remove it. As aleene indicated: Because the user currently is always viewing an _already existing_ product, that 'compose' illustration would not the best possible solution here (it's the icon for _'start to write a new email'_

[2019-10-26 13:52] bredowmax commented on #402
Actually, on iOS this button is either *done* or *add*, depending on if it's a new product to be added or an existing product that is changed.

Also, if no changes have been made yet, this button is to be set in an inactive state, indicating exactly that: currently, nothing can be saved as there are no changes

https://openfoodfacts.slack.com/archives/C02SSQ02N/p1572093769177400

[2019-10-26 17:39] pacocd commented on #421
hey,  I can help you with this one

[2019-10-26 20:05] teolemon commented on #421
That would be great @pacocd 👌

[2019-10-26 20:51] joemcmahon commented on #395
I think it's `carthage update` taking a long time to finish. I've added a `carthage update` wrapped with the Travis incantation recommended at [the Travis site](https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received) to the `.travis.yml`. Testing and will report.

[2019-10-27 14:36] teolemon opened #428 "Review the resolution of images we're sending"
Review the resolution of images we're sending

`Uploading a photo is painfully slow (I’ve been waiting for 3min now, with Wifi connection at my home) and I encounter from time to time a situation where I have to many edits at a time and then seem to lose some of my input.
Does it really need to be full resolution or wouldn’t a compressed version to be uploaded be fine as well?`Max B.

![image](htt

[2019-10-27 14:37] teolemon opened #429 "Dismiss the result card on swipe down"
Dismiss the result card on swipe down. This is a behaviour we already have on Android.
![image](https://user-images.githubusercontent.com/1689815/67636316-aa43ce80-f8cf-11e9-9f3c-cc4cbd270fde.png)

[2019-10-27 14:38] teolemon opened #430 "Bring the greeting back in product addition"
Bring the greeting back in product addition

`When encountering a new product, I’d love to get an encouragement to fill in the data to help the community. I think this was part of an earlier build and has since been removed` Max B.

![image](https://user-images.githubusercontent.com/1689815/67636325-ca738d80-f8cf-11e9-9460-f49b54bf0bdb.png)

[2019-10-27 14:42] teolemon opened #431 "Transparency issue with NOVA score"
![image](https://user-images.githubusercontent.com/1689815/67636377-4ec61080-f8d0-11e9-9497-e045e69932d2.png)
In white mode, grey background behind NOVA

[2019-10-27 14:42] bredowmax commented on #243
I'd argue for a simpler workaround: simply deactivate landscape mode. Makes things a lot easier. When grocery shopping, I'm assuming the shopper has the phone in one hand and with the other the product, or the shopping basket. Landscape mode is for when the phone is held in two hands, like when gaming or watching a video

[2019-10-27 14:43] bredowmax commented on #431
It's actually not dark mode but bright mode

[2019-10-27 14:50] teolemon commented on #431
Yes, but code-wise, that's related (and caused by) changes around dark mode.

[2019-10-27 14:52] teolemon opened #432 "Unresponsive view after ingredient cropping in Edit Mode"
`When editing a product, after I crop the image of ingredients, the sheet becomes unresponsive and I get kicked out of this view. After that, when I go back into editing mode, the NutriScore is still there but the nutrients that I just had added, are empty` Max B.

![image](https://user-images.githubusercontent.com/1689815/67636512-b892ea00-f8d1-11e9-9e13-f8cc7b970bcc.png)

[2019-10-29 15:39] teolemon commented on #432
Max Bredow  3 hours ago
The only major thing I came across was adding a photo of the ingredients. This cropping tool somehow crashes the app

Pierre Slamich  3 hours ago
what happens if you don’t crop ?

If I don’t crop it’s fine
If I add a pic when having scanned the item it’s fine
But when finding the item (eg through the history) and then deciding to edit and crop, it crashes

[2019-10-29 22:49] pacocd commented on #421
@teolemon where is share button supposed to be present in new design? is it about to be deleted?

[2019-10-30 00:13] teolemon commented on #421
no, it's at the bottom of the page currently. It would be nice to move it at the top, like in the mockup above :-)

[2019-10-30 09:11] philippeauriach commented on #432
I do get to “reproduce” a problem : history > product > edit > “photo of the ingredients” > take picture > crop > validate > app is stuck in a weird UI state (see below screenshot)

It seems a corresponding issue comes from the Crop dependency:
https://github.com/TimOliver/TOCropViewController/releases
A visual glitch that would occur in iOS 13 because the Swift view controller wasn't explicitly m

[2019-10-30 09:30] philippeauriach commented on #432
Wrong path, updating the dependency did not fix anything.

The problem is fixed using  `navVC.modalPresentationStyle = .fullScreen` in `SummaryFooterCellController.swift` `line 61`. This is only a workaround as the view is now displayed full screen, not in the new (nice) way of iOS 13.

[2019-10-30 09:50] teolemon commented on #432
thanks a lot for the analysis. @aleene @philippeauriach let's go for the workaround, and submit final to Apple ?

[2019-10-30 16:54] pacocd commented on #421
@teolemon share is on navigation bar (right button) currently. Edit button is supposed to be part of navigation bar right button, but, what about share button? should it be deleted or is it going to be part of navigation bar too?

[2019-11-03 11:03] aleene commented on #421
The pull request has a conflict.

I would add the share button there as well.

[2019-11-03 11:05] aleene commented on #428
Or save the image and upload it later. I like full resolution images, for later checking of data.

[2019-11-03 11:18] aleene commented on #273
There are issues with the api. Some fields changed from sending int to string or vice-versa.

[2019-11-03 13:55] aleene commented on #400
I am not able to recreated the localizable files as a non-standard approach to localization has been used.

[2019-11-03 14:24] aleene commented on #400
A solution is to reintroduced the Apple method of localization.

[2019-11-03 14:52] aleene commented on #400
In fact it is not possible to generate these files as there are calculated keys

[2019-11-03 15:38] aleene commented on #400
The only fast solution I saw is to add every string by had to all languages file.

[2019-11-05 02:54] SuzGupta commented on #226
I think this is because the list is empty. Still present in v3.1 build 25.

[2019-11-06 09:25] teolemon commented on #431
It seems fixed. Thank you @aleene 👍

[2019-11-06 09:25] #431 closed

[2019-11-06 09:26] teolemon commented on #432
I works for me on iOS 12. thanks @philippeauriach for the workaround 👌

[2019-11-06 09:26] #432 closed

[2019-11-06 09:27] teolemon opened #441 "Investigate more permanent fix to #432"
Investigate more permanent fix to #432

[2019-11-06 09:28] teolemon commented on #422
@SuzGupta @bredowmax can you confirm all your use cases now work ?

[2019-11-06 09:28] teolemon commented on #400
I can confirm this now works. Thank you @aleene 💯

[2019-11-06 09:28] #400 closed

[2019-11-06 09:29] teolemon commented on #178
This would be useful, but definitely not a release blocker.

[2019-11-06 09:36] teolemon commented on #141
![image](https://user-images.githubusercontent.com/1689815/68286368-45336a00-0081-11ea-8ef6-9bad043dbe6a.png)

[2019-11-06 09:41] teolemon opened #442 "Account creation is in English"
Account creation is in English. A large chunk of the users are French, German… and expect a French or German signup page.

Why did we change `https://world-fr.openfoodfacts.org/cgi/user.pl` ?

I have no redirect of any kind ?

[2019-11-06 09:47] teolemon opened #443 ""Forgot password?" instead of "Mot de passe oublié?" despite translation"
"Forgot password?" instead of "Mot de passe oublié?" despite translation

[2019-11-06 09:48] teolemon opened #444 "Reset password link in English"
Reset password link in English. People expect the link in their language.

[2019-11-06 09:51] teolemon opened #445 "Why do we still have 2 Localization.string files ?"
![image](https://user-images.githubusercontent.com/1689815/68287576-38b01100-0083-11ea-9323-17412a640960.png)
Why do we still have 2 Localization.string files ? This is creating errors as no one ever edits the right one.

[2019-11-06 09:56] teolemon opened #446 "Remove unsecure URL"
[code]

Remove unsecure URL and default to `https://world.openfoodfacts.org/`

[2019-11-06 10:07] teolemon opened #448 "No progress feedback during log in"
No progress feedback during log in. If the server is a bit slow, the user has no hint that the log-in process is ongoing.

[2019-11-06 16:18] aleene commented on #446
So only one server should be used?

[2019-11-06 17:42] aleene commented on #446
The SecureServer is not used any more, but the assignment was still there.

[2019-11-06 17:49] aleene commented on #445
These files are empty. I'll do a clean up.

[2019-11-06 18:13] aleene commented on #443
And why is this? It is correct in the localizable file.

[2019-11-06 18:14] aleene commented on #444
Also the baseUrl issue?

[2019-11-06 18:22] aleene commented on #444
So bring back the `world**-fr**.openfoodfacts.org`

[2019-11-06 19:04] aleene commented on #442
Same as #444.

It was changed as the english links redirect to the wrong pages.

[2019-11-06 19:05] aleene commented on #430
What was the greeting? "Needed to compute ..."?

[2019-11-06 20:06] aleene commented on #443
I confirm this in my version. Will have a look at the code.

[2019-11-07 10:56] aleene commented on #429
This probably should be set in `ScannerResultViewController` through the variable `topSummaryView.isHidden`.

[2019-11-07 13:49] aleene commented on #429
In fact is does not happen in `ScannerResultViewController`. I can hide the the product summary, but an enclosing view remains.

[2019-11-07 14:03] aleene commented on #429
I'll add a swipe up as well.

[2019-11-07 14:31] aleene commented on #428
What should be the maximum size?

[2019-11-09 09:03] teolemon opened #456 "Main language is "English" while data is only selected in "French""
https://world.openfoodfacts.org/cgi/product.pl?type=edit&code=3701138800155
Main language is "English" while data is only selected in "French". This creates bad data whenever someone enters a new product.

Main language should be "French" while data is only selected in "French"

[2019-11-09 14:49] aleene commented on #456
When a new product is created the app must assume the main language. Either it does this based on the interface language of the app, or on the locale of the app. I prefer the latter. I do not know what the app does at the moment.
But this can lead to the wrong assumption.

[2019-11-09 15:17] teolemon commented on #456
It's doing neither one, nor another it seems.

[2019-11-09 16:01] aleene commented on #456
I did a test, it defaults to the language of the apps interface. So is OK.

[2019-11-09 17:32] TaciteOFF opened #457 "Adding picture in offline mode deletes important data from OFF"
**Summary:**

There's an issue when uploading pictures to product page from the "products you added while offline" page of the iOS app

**Steps to reproduce:**

Please provide detailed steps for reproducing the issue.

 - Scan a new barcode to create a new product page from the app
 -  Add just one picture
- Edit the new product page from internet (add category)
 -  Lose connection / turn on Airpl

[2019-11-09 17:33] TaciteOFF commented on #457
@aleene @teolemon

[2019-11-10 15:40] TaciteOFF commented on #456
My iPhone is set to English US so every time I add picture, they're set to English. I'd rather have an in-app switch.

[2019-11-10 15:49] aleene commented on #456
If you add an image, it should assume that you mean the primary language of the product and not invent a new language. (multiple languages are not yet supported)

[2019-11-10 16:05] aleene opened #458 "Adding a product in english"
My iPhone is set to English US so every time I add picture, they're set to English. I'd rather have an in-app switch.

[2019-11-10 16:05] aleene commented on #458
In fact a new language is added to the product.

[2019-11-10 16:11] aleene commented on #458
Looking at the code, it seems that one only adds front images.

[2019-11-10 16:26] aleene commented on #458
As far as I can see, the images do not have an associated languageCode. I have no idea to what language images are uploaded.

[2019-11-10 17:13] aleene commented on #458
In `ProductService.swift` we find:

`let lang = Bundle.main.preferredLocalizations.first ?? "en"`

I change this to the product language, which I attached to the image.

[2019-11-11 09:26] #405 closed

[2019-11-12 18:31] #458 closed

[2019-11-15 16:27] aleene commented on #392
To do:
- [ ] Nutrient levels
- [ ] Nutrition facts
- [ ] Tabs
- [ ] Settings text
- [ ] Login page
- [ ] Allergen s alert
- [ ] Web-pages

[2019-11-16 14:33] aleene commented on #422
Seems solved, closing.

[2019-11-16 14:33] #422 closed

[2019-11-16 14:33] aleene commented on #419
Seems solved, closing.

[2019-11-16 14:33] #419 closed

[2019-11-16 14:33] aleene commented on #418
Seems solved, closing.

[2019-11-16 14:33] #418 closed

[2019-11-16 14:34] aleene commented on #417
Seems solved, closing.

[2019-11-16 14:34] #417 closed

[2019-11-16 14:34] aleene commented on #416
Seems solved, closing.

[2019-11-16 14:34] #416 closed

[2019-11-16 14:35] aleene commented on #407
Seems solved, closing.

[2019-11-16 14:35] #407 closed

[2019-11-16 14:35] aleene commented on #396
Seems solved, closing.

[2019-11-16 14:35] #396 closed

[2019-11-16 14:35] aleene commented on #378
Seems solved, closing.

[2019-11-16 14:35] #378 closed

[2019-11-16 14:37] aleene commented on #278
No longer seems happen

[2019-11-16 14:37] #278 closed

[2019-11-16 14:37] aleene commented on #277
No longer in the crash logs

[2019-11-16 14:37] #277 closed

[2019-11-16 14:40] aleene commented on #421
Is pull request #433

[2019-11-16 14:40] aleene commented on #408
is solved

[2019-11-16 14:40] #408 closed

[2019-11-16 14:41] aleene commented on #381
Seems solved

[2019-11-16 14:41] #381 closed

[2019-11-16 14:42] teolemon commented on #381
Yes it is :star2:

[2019-11-16 14:42] aleene commented on #306
Has been solved by now

[2019-11-16 14:42] #306 closed

[2019-11-16 14:43] aleene commented on #275
Seems no longer to happen

[2019-11-16 14:43] #275 closed

[2019-11-16 14:44] aleene commented on #274
Has been solved

[2019-11-16 14:44] #274 closed

[2019-11-16 14:46] aleene commented on #217
Need an example barcode for testing

[2019-11-16 15:21] aleene commented on #140
I'll use a question mark image button for this. Can we use elsewhere as well if needed.

[2019-11-16 15:25] teolemon commented on #217
https://world.openfoodfacts.org/product/3288111212100/milumel-croissance-maxi-format-lactel
https://barcode.tec-it.com/en/EAN13?data=3288111212100

[2019-11-16 15:26] teolemon commented on #217
But we pretty much solved this one using the HTML include.
I would not invest time and effort into trying to bring the native table back right now.

[2019-11-16 15:29] aleene commented on #216
Such as?

[2019-11-16 16:05] teolemon commented on #216
We can close. But preferring vectors and standard stuff to raster

[2019-11-16 16:05] #216 closed

[2019-11-16 17:55] #56 closed

[2019-11-16 18:29] aleene commented on #61
Seems we lost this change in the new IOS app?

[2019-11-16 19:53] aleene commented on #65
This is done.

[2019-11-16 19:53] #65 closed

[2019-11-17 12:00] aleene commented on #53
What is the product history exactly? The products, which are listed under the products tab of the app? We could add a share button and support multiple sharing formats and methods.

[2019-11-17 12:07] aleene commented on #66
In class `Productservice` the following url is used at the moment:

`url += "/cgi/search.pl?search_terms=\(encodeParameters(query))&search_simple=1&action=process&json=1&page=\(page)"`

Any idea to which fields we should limit the search query?

[2019-11-17 16:04] aleene commented on #66
The fields are used in another query, so I just copy those.

[2019-11-17 16:13] aleene opened #464 "Migrate english.lproj"
**Summary:**
xcode gives a warning that we should migrate this file and offers to do this for us. I that safe to do? Have to try it out.

[2019-11-17 16:25] #88 closed

[2019-11-17 16:34] aleene commented on #67
This api is not used by the app.

[2019-11-17 19:26] aleene commented on #98
The xliff's are no longer used for translations. This is no longer relevant.

[2019-11-17 19:26] #98 closed

[2019-11-17 19:30] aleene commented on #107
Is this still an issue? There are now three strings concatenated. Should be ok for any language?

[2019-11-17 19:34] aleene commented on #143
Make clickable means aDding a link to the off page?

[2019-11-17 19:38] aleene commented on #144
Is this stll an issue?

[2019-11-17 19:39] aleene commented on #145
We can start with adding the other text?

[2019-11-17 19:39] #146 closed

[2019-11-17 19:40] #148 closed

[2019-11-17 19:42] aleene commented on #152
Still an issue? Where did the icons come from?

[2019-11-17 19:47] aleene commented on #178
We have now a share button, which allows you to open the page in the browser.

[2019-11-17 19:50] aleene commented on #181
Is that a real product, I can not find it.

[2019-11-17 19:52] teolemon commented on #145
We can perhaps close this one.

[2019-11-17 19:54] aleene commented on #195
This not working yet?

[2019-11-17 19:54] aleene commented on #208
So close this one?

[2019-11-17 19:56] aleene commented on #209
Non existing product?

[2019-11-17 19:58] aleene commented on #220
Any info what an agent header is?

[2019-11-17 19:58] aleene commented on #222
Need an environment tab in the first place?

[2019-11-17 20:04] aleene commented on #250
What does this mean?

[2019-11-17 20:07] aleene commented on #294
Sounds annoying, interrupting the user flow.

[2019-11-17 21:53] teolemon opened #466 "Crash when switching between"
1) Launch app
2) from Search view, click Settings
3) click on Your contributor account
4) click Search
5) click on Settings

Boom. The app crashes. Reproduced 3 times by Tacite

[2019-11-17 23:26] teolemon opened #467 "harcoded English strings "You are logged in…""
https://github.com/openfoodfacts/openfoodfacts-ios/blob/b15ae39c1ccc11412ae2f1cb71890619ebd45875/Sources/Views/User/User.storyboard#L204
https://github.com/openfoodfacts/openfoodfacts-ios/blob/b15ae39c1ccc11412ae2f1cb71890619ebd45875/Sources/Views/User/User.storyboard#L215

[2019-11-18 07:48] yarons commented on #107
@aleene Can you point me to those strings?

[2019-11-18 07:55] aleene commented on #466
Can not confirm this on my iPad in several modes. Need other input to solve this.

[2019-11-18 07:58] aleene commented on #107
In the link by @teolemon above.

[2019-11-18 11:02] aleene commented on #466
There was a crash report, which pointed to a line. I'll repair and see if it still occurs.

[2019-11-18 15:29] aleene commented on #141
This implies an extra row for nova.

[2019-11-18 15:33] aleene commented on #142
Is solved by #471

[2019-11-18 15:45] aleene commented on #226
Will add a check on number of upload items.

[2019-11-18 15:57] aleene commented on #226
Sort of the same issue as #466.

[2019-11-18 16:24] aleene commented on #226
The button will be disabled, when there are no upload items.

[2019-11-19 17:42] aleene commented on #243
We can support landscape, is also sympa for ipad users. The issue is that one of the vcs does not adhere to the safe area constraints. I already checked the storyboards and xibs, bu those were ok or did not repair the issue. So it is one of the modules that create vcs in code.

[2019-11-19 17:44] bredowmax commented on #243
I think you can deactivate landscape for iPhone but keep it activated for
iPad.

Activating landscape for iPhone really isn’t supported all too often. I
guess, one because it’s not often used and two because it complicates
things.

On Tue 19. Nov 2019 at 18:42, Arnaud Leene <notifications@github.com> wrote:

--
_______________________________
*Max Bredow*
Mobile +49 170 706 11 74
Skype: max_bredow

[2019-11-19 18:21] aleene commented on #243
The windows adhere to the safe area, however the cell rows seems not to use any constraints.

[2019-11-20 18:24] aleene commented on #245
Traces are correctly translated. So this issue was solved.

However the traces are not shown anymore.

[2019-11-20 18:45] aleene commented on #415
It seems this is solved. It shown to the right of the field.

[2019-11-21 12:04] yarons commented on #107
I haven't ran into the new string as part of the strings yet (I probably already translated these although I wasn't aware), do you prefer closing this one?

[2019-11-21 17:32] aleene commented on #357
Not sure any more what this error means. The new main language is shown in the interface. Should there be more?

[2019-11-21 17:42] aleene commented on #290
Same as #395

[2019-11-21 17:44] aleene commented on #107
I'll close this one then, but keep the comments coming.

[2019-11-21 17:44] #107 closed

[2019-11-21 17:45] #145 closed

[2019-11-21 18:52] aleene commented on #155
Is this still the case? And if so, when does this happen?

[2019-11-22 16:25] aleene commented on #116
No longer relevant, as we use the Crowdin language codes.

[2019-11-22 16:25] #116 closed

[2019-11-22 16:26] aleene commented on #136
We could support the standard UITablevIew delete gesture for this.

[2019-11-22 16:30] aleene commented on #167
This no longer works as the layout now has Nutriscore/Nova/name etc in that row.

[2019-11-22 16:35] aleene commented on #180
No longer relevant?

[2019-11-22 18:43] aleene commented on #184
![IMG_1063](https://user-images.githubusercontent.com/1329905/69451694-48587680-0d60-11ea-958c-296cb8f06aa6.jpeg)

[2019-11-22 20:46] aleene commented on #430
Instead of the placeholder text `Category`, we could change it to `Category, needed for Nutriscore calculation`

[2019-11-23 09:24] aleene opened #475 "Nova row in case of no nova"
**Summary:**
If no nova is available, the row in the ingredients tab is only half filled. Can be nicer.

[2019-11-23 09:40] teolemon commented on #167
ok
What I want to do is encourage product editing and completion, to get Nutri-Scores and NOVA on as many products as we can.

[2019-11-23 09:46] teolemon commented on #475
Can you provide a screenshot ?

[2019-11-23 10:00] aleene commented on #475
![IMG_1064](https://user-images.githubusercontent.com/1329905/69476944-6f568d00-0de0-11ea-8649-bfea328f1a8e.jpeg)

[2019-11-23 10:00] aleene commented on #475
With nova. Still needs the appropriate explanations.

[2019-11-23 10:02] teolemon commented on #475
Can we replace NOVA 1 by  the official wording ?
https://world.openfoodfacts.org/nova-groups.json
1 - Unprocessed or minimally processed foods
2 - Processed culinary ingredients
3 - Processed foods
4 - Ultra processed food and drink products

[2019-11-23 10:07] teolemon commented on #475
![image](https://user-images.githubusercontent.com/1689815/69477019-75993900-0de1-11ea-9dd2-696842b7a7f7.png)

[2019-11-23 10:07] aleene commented on #475
Is done now

[2019-11-23 12:15] aleene opened #477 "App store icon has alpha"
The app store icon has alpha, which is not allowed.

[2019-11-23 14:07] #477 closed

[2019-11-23 14:08] #475 closed

[2019-11-23 14:09] #464 closed

[2019-11-23 16:13] teolemon commented on #184
Looks good to me. I would very much in favor of adding buttons but it's better already.

[2019-11-23 17:12] teolemon commented on #272
Here's an updated product:
https://robotoff.openfoodfacts.org/api/v1/questions/3274570800026?lang=en
```  {"questions": [{"barcode": "3274570800026", "type": "add-binary", "value": "Scallop", "question": "Does the product belong to this category?", "insight_id": "5cac03bc-a5a7-4ec2-a548-17fd9319fee7", "insight_type": "category", "source_image_url": "https://static.openfoodfacts.org/images/products

[2019-11-23 17:16] teolemon commented on #272
I've just made a quick mockup. We don't have to use a modal.
![image](https://user-images.githubusercontent.com/1689815/69482558-4d2f3000-0e1d-11ea-9f1d-e10da19077a1.png)

[2019-11-23 18:31] aleene commented on #184
These ARE button, IOS style.

[2019-11-24 17:42] aleene commented on #448
Is for a **Alamofire** specialist. The current `login` call in `ProductService` does not allow to monitor the progress.

[2019-11-24 18:11] aleene commented on #420
- ⚠️ = not saved ![icons8-cloud_cross](https://user-images.githubusercontent.com/1329905/69498960-f0e81100-0eed-11ea-8d7c-20d23d3e92f6.png) ![icons8-maintenance](https://user-images.githubusercontent.com/1329905/69498995-3573ac80-0eee-11ea-87ef-3217af0e7745.png)

- 📡 = saving ![icons8-upload_to_cloud](https://user-images.githubusercontent.com/1329905/69498897-20e2e480-0eed-11ea-953e-a4bd89fd1167.p

[2019-11-25 05:47] juanca8520 opened #486 "Pending items upload not refreshing after uploading the items."
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

TableView not being refreshed after uploading the pending products, it's require

[2019-11-25 05:51] juanca8520 opened #487 "No feedback to the user"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to ha

[2019-11-25 05:54] juanca8520 opened #488 "No feedback to the user while there is no internet connection"
**Checklist**
- [x] Bug Report - The issue you are reporting might be there already. Please search on the [issues tracker.](https://github.com/openfoodfacts/openfoodfacts-ios/issues)
- [x] Before reporting, please ensure (if you can) that you have tested it with the latest (dev) version of the software.

**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to ha

[2019-11-25 10:18] aleene commented on #486
Need to send a notification after a successful upload and the tableView must refreshed after receiving that.

[2019-11-26 11:02] aleene commented on #486
Guess it is enough to add a reload in:
[code]

[2019-11-27 10:18] marcheimendinger opened #491 "Add packaging editing ability"
Implement the ability to add packaging informations when editing a product.

[2019-11-27 15:51] aleene commented on #448
I changed to button text to show that the login process has started.

[2019-12-01 08:57] aleene opened #496 "Crash in instantiation"
**Summary:**
![Screenshot 2019-12-01 at 09 55 18](https://user-images.githubusercontent.com/1329905/69911786-e8796400-1420-11ea-8c00-39ff1a24c0b7.png)

**Device and iOS version:**
Apple iPhone 5s running iOS 12.4.3, Build 30

[2019-12-01 09:02] aleene commented on #496
Something wrong with the instantiation of the login VC.

[2019-12-01 09:24] aleene commented on #496
Turns out that this was a path a did not test. Change due to the login controller restructuring.

[2019-12-01 11:53] aleene opened #498 "Part of the NOVA description is clipped"
**Summary:**
![img_0982](https://user-images.githubusercontent.com/1329905/69913573-82e5a180-1439-11ea-80cc-75264099c631.png)

[2019-12-01 11:57] aleene commented on #498
Upped the number of allowed lines to 3.

[2019-12-03 17:33] DhrubojyotiBis1 commented on #488
I would like to work on this issue.

[2019-12-06 07:54] aleene opened #500 "Black camera icon"
Camera icon does not adapt to dark mode. What screen is this? There is no black camera any more (?).

[2019-12-06 07:59] aleene opened #501 "Image upload feedback"
There is no feedback on image upload (failure, success, progress).

[2019-12-06 08:01] aleene opened #502 "Fast add mode (images only)"

[2019-12-06 20:54] teolemon commented on #500
![IMG_7002](https://user-images.githubusercontent.com/1689815/70355628-ed03a980-1872-11ea-8642-22d18a1a30f1.PNG)

[2019-12-06 21:08] aleene commented on #220
https://stackoverflow.com/questions/26219997/how-can-i-set-the-user-agent-header-of-a-uiwebview-in-swift

[2019-12-07 07:14] aleene commented on #500
I understand now, I was using a version where I had already changed the icons. Forgot to commit.

[2019-12-07 18:27] aleene commented on #488
Would be great if you could work on this.

[2019-12-08 09:41] DhrubojyotiBis1 commented on #488
Can you assign it to me?

[2019-12-08 09:42] DhrubojyotiBis1 commented on #488
Can you assign it to me?

[2019-12-08 09:53] aleene commented on #488
Done

[2019-12-08 13:40] aleene opened #506 "Crash"
**Summary:**
![Screenshot 2019-12-08 at 14 39 43](https://user-images.githubusercontent.com/1329905/70390136-ad4ed600-19c8-11ea-812b-900655fe25ef.png)

[2019-12-08 13:41] aleene commented on #506
I assume this due to the fact that the datamanager has not been set yet.

[2019-12-08 15:03] teolemon opened #507 "NOVA explanation still hidden."
Is it possible to remove the right and left margins ?
![image](https://user-images.githubusercontent.com/1689815/70391318-2acc1380-19d4-11ea-92bd-0f7d16d8593d.png)

[2019-12-08 15:04] teolemon opened #508 "The login button is always greyed out"
![image](https://user-images.githubusercontent.com/1689815/70391338-5fd86600-19d4-11ea-9cf1-f5dca791c921.png)
The login button is greyed out.

[2019-12-08 15:21] teolemon opened #509 "NOVA appears randomly"
NOVA groups appear randomly. This is probably because we use the nutriment value of NOVA instead of the normalized value.
![image](https://user-images.githubusercontent.com/1689815/70391382-d8d7bd80-19d4-11ea-9b0d-f68289c6ca5e.png?w=50|width=100px)

Barilla Lasagne
![image](https://user-images.githubusercontent.com/1689815/70391387-e2612580-19d4-11ea-9cb8-ba24efd890a9.png)
https://fr.openfoodfacts

[2019-12-08 15:30] teolemon commented on #509
[code]
[code]
Here they both are, edited for simplicity
in one of them; NOVA group is returned as an INT, in the other as a STR
so it’s the same bug I thought we already solved server side, and client side

[2019-12-08 15:30] aleene commented on #509
So we leave it as a sever issue?

[2019-12-08 15:32] aleene commented on #508
It seems you entered your password? If username and password are available, the button should enable itself.

[2019-12-08 15:33] aleene commented on #507
Which ones?

[2019-12-08 15:34] teolemon commented on #509
we're discussing in the release channel. I see that the client-side INT protection is not working either.

[2019-12-08 15:42] aleene commented on #509
For FoodViewer I had to add protections for many fields. Not very good, is all unnecessary overhead for the server not working well.

[2019-12-08 16:03] aleene commented on #506
I converted the dataManagerProtocol to an optional. This has repercussions throughout the app.

[2019-12-08 16:06] aleene commented on #507
There are two transforms in the code:

        `novaGroup <- (map[OFFJson.NovaGroupKey], IntTransform())`
and
        `novaGroup <- map[OFFJson.NovaGroupKey]`

why?

[2019-12-08 16:23] aleene commented on #508
As soon as you type the first letter of the password, the button will be enabled.

[2019-12-08 16:26] aleene commented on #509
There are two transforms in the code:

        `novaGroup <- (map[OFFJson.NovaGroupKey], IntTransform())`
and
        `novaGroup <- map[OFFJson.NovaGroupKey]`

why?

[2019-12-08 17:21] aleene commented on #507
The whole stackView row should grow with the number of lines.

[2019-12-08 18:06] aleene commented on #507
![IMG_1080](https://user-images.githubusercontent.com/1329905/70393755-d03fb100-19ed-11ea-9e03-2748705f33a7.jpeg)
It scales now.

[2019-12-08 22:12] teolemon opened #515 "Country are not properly displayed"
![image](https://user-images.githubusercontent.com/1689815/70397166-2887aa80-1a10-11ea-908e-da0881d6ca8c.png)

[2019-12-08 22:13] teolemon commented on #515
EN is invalid, but en:it should be displayed as Italy
https://world.openfoodfacts.org/product/5999076214020/biotech-usa-protein-fusion-85-ricotta

[2019-12-08 22:14] teolemon opened #516 ""Button" is displayed next to the NOVA"
![image](https://user-images.githubusercontent.com/1689815/70397190-6258b100-1a10-11ea-8fdf-6e6cb473f96e.png)

[2019-12-08 22:15] teolemon opened #517 "The nutrition table is displayed even if state is nutrition to be completed"
![image](https://user-images.githubusercontent.com/1689815/70397202-7a303500-1a10-11ea-9106-4995f959b554.png)
The nutrition table is displayed even if state is nutrition to be completed. We should probably hide the table in that case, and put a button "Help complete nutrition facts"

[2019-12-09 08:03] aleene commented on #517
Sounds good. Wonder how to detect it? I think the states are not extracted from the json at the moment.

[2019-12-09 08:03] aleene commented on #516
Annoying, I had it removed.

[2019-12-09 08:08] aleene commented on #515
Have to see where `en:it` comes from. Is that in the data, or does the app do something?

[2019-12-09 13:03] aleene commented on #515
![Screenshot 2019-12-09 at 14 02 12](https://user-images.githubusercontent.com/1329905/70437733-88239b80-1a8c-11ea-9687-75c93b7cdb42.png)
The `en:it` is in the data as entered by the user.

[2019-12-09 14:30] teolemon commented on #515
Ideally, we should use `countries_tags` field and map using the countries taxonomy
`https://static.openfoodfacts.org/data/taxonomies/countries.json`

[2019-12-09 15:58] aleene commented on #515
But then you will keep the errors in the original field. The original field is also not visible on the web-site. Will be very hidden that way and will never be repaired.

[2019-12-10 12:21] aleene commented on #515
We could use they tags fields for viewing and the original fields for editing.

[2019-12-13 10:06] teolemon commented on #321
We fixed a transient error with the JSON (the structure had changed because of an uncommited file) @matotim

[2019-12-13 10:36] aleene commented on #515
I realised that the country field can not be edited, it is not presented. So I will change over to the tags field.

[2019-12-13 10:46] aleene commented on #515
Turns out we did not use the countries taxonomy either.

[2019-12-13 15:06] aleene commented on #509
It is also repaired on the server side. Did that help?

[2019-12-13 15:08] teolemon commented on #509
Clicking on each item of my history refreshes it and solves the issue.
Do we have a method to force the refresh of the whole history ?
Otherwise, we can consider the case closed

[2019-12-13 15:13] aleene commented on #509
Not that I know of

[2019-12-14 16:17] aleene opened #519 "Row tapping"
**Summary:**
Tapping on a country or additive can misfire, as a tap on the row is also interpreted. I need to disable the row tapping. The link tapping works.

[2019-12-14 16:18] aleene opened #520 "NOVA logo to big"
**Summary:**
NOVA logo to big

[2019-12-15 10:10] teolemon opened #521 "hitting the "Save" button on the top right saves general characteristics, but not the nutrition table"
It seems that hitting the "Save" button on the top right saves general characteristics, but not the nutrition table. This needs to be reproduced (not a personal report, Twitter report from Tacite)

[code]

[2019-12-15 18:01] aleene commented on #519
I expected this was due to a didSelectRowAt: function. However this is not the case.

[2019-12-16 11:07] aleene commented on #519
The launching of an URL in Safari works via textView(textView:shouldInteractWithURL:incharacterRange:interaction:). If tapping outside the actual text, it uses the last text URL part. It is not possible to detect a tap outside the text as far as I can see.

[2019-12-16 20:33] teolemon opened #522 "Add an alcohol warning"
Add an alcohol warning
"Excessive consumption of alcohol is harmful to health, to be consumed with moderation."
on products with: "categories", "en:alcoholic-beverages"

[2019-12-18 15:55] aleene commented on #522
Can you create a mockup?

[2019-12-18 16:02] aleene commented on #519
If I add a space at the end, everything is OK.

[2019-12-18 16:43] aleene commented on #521
Is confirmed.

[2019-12-21 09:45] philippeauriach commented on #115
I did a quick tour of our libs, and KingFisher is not the only lib having iOS 10 min :
- XLPagerTabStrip: 9.3
- KingFisher: 10.0
- NotificationBanner: 10.0
- FloatingPanel: 10.0
- IBLocalizable: 10.0

[2019-12-21 15:52] aleene commented on #115
Will be a lot of work for a small market.

[2019-12-21 17:47] aleene opened #527 "UIResponder doesNotRecognizeSelector: crash"
**Summary:**
![Screenshot 2019-12-21 at 18 43 56](https://user-images.githubusercontent.com/1329905/71311714-1818fc00-2422-11ea-8646-52549426a425.png)

Unfortunately the crash report does not indicate where/when this happens.

**Device and iOS version:**

iPad Pro (9.7-inch) (Model A1673) - 13.2.3 (17B111) / iPhone 5s (Model A1453, A1533)

OpenFoodFacts 3.2 (33) / 12.4.3 (16G130)

[2019-12-21 17:54] aleene opened #528 "IngredientsFormTableViewController.getCell.(for:) crash"
**Summary:**
![Screenshot 2019-12-21 at 18 51 02](https://user-images.githubusercontent.com/1329905/71311757-e0f71a80-2422-11ea-92e2-49882d20d1fd.png)

In this line:
`        let cell = tableView.dequeueReusableCell(withIdentifier: formRow.cellType.identifier) as! ProductDetailBaseCell
`

Bad habit to force unwrap a conditional. I guess the crash occurs due to a timing issue. Not sure how to solve

[2019-12-22 17:11] matotim commented on #321
I already said it on Slack #api, but there's a small error on https://ssl-api.openfoodfacts.org/files/app/ingredients-analysis.json -> the vegans and vegetarians icons are switched. Also, the vegetarian-unknown has the good icon (egg), but the vegan unknown also has the egg.

[2019-12-22 19:14] matotim opened #531 "Error on Ingredient Analysis Icons API"
**Summary:**

On the route https://ssl-api.openfoodfacts.org/files/app/ingredients-analysis.json, the vegan and vegetarian icons are switch.

**Expected behavior:**

`"en:maybe-vegan": {
		"type": "vegan",
		"icon": "leaf",
		"color": "#ff6600"
	},
	"en:non-vegan": {
		"type": "vegan",
		"icon": "leaf",
		"color": "#ff0000"
	},
	"en:vegan": {
		"type": "vegan",
		"icon" : "leaf",
		"color": "#00aa

[2019-12-22 19:15] matotim commented on #531
Wrong repo

[2019-12-22 19:15] #531 closed

[2019-12-23 13:41] aleene opened #532 "Xcode 11.3 build"
**Summary:**
There is a new Xcode 11.3. Need to build with this version.

[2019-12-23 15:08] teolemon commented on #321
it should have been fixed by @stephanegigandet @matotim

[2019-12-23 15:10] teolemon opened #533 "The app crashes when clicking on "Cancel" in the edit view"
The app crashes when clicking on "Cancel" in the edit view.
Reported by Tacite. He sent a crash report.

[2019-12-23 16:22] aleene commented on #533
Have to look at the crash report. Works with me.

[2019-12-24 09:29] matotim commented on #321
Feature is now implemented. I've not implemented the view in the scanner yet, but all the informations are available in the summary view.
For the icons, all the vegans icons are now 'leaf', but the vegetarian are also 'leaf' but should be 'egg'.

[2019-12-24 10:06] aleene commented on #533
The crash is the same as #527

[2019-12-24 13:16] aleene commented on #533
I'll add a check to prevent a possible crash. Will not be a final solution.

[2019-12-28 13:19] teolemon opened #535 "Ask logged-in users to rate the app."
![image](https://user-images.githubusercontent.com/1689815/71544252-0a60fa80-297d-11ea-8e6b-edf5ecb50aa5.png)

[2019-12-28 21:16] aleene commented on #533
I had this crash as well. It happens as one edits a new product.

[2019-12-28 21:17] aleene opened #536 "Language when adding new product"
**Summary:**
When adding a new product the language dependent fields revert to english.

[2019-12-28 21:23] aleene opened #537 "Add a prompt to extract Ingredients when photo is already present"
**Summary:**
@raturina:
`Also if there’s an ingredient picture there should always be a button to trigger ingredient extraction. If there‘s a pic not added through the app, this button is not there. `

[2019-12-28 21:25] aleene opened #538 "Image cropping"
**Summary:**
@raturina:
`And last but not least, please enable image cropping for all newly taken pictures. `

[2019-12-28 21:26] aleene opened #539 "Mediatheque"
**Summary:**
@raturina: `And/or allow to use previously taken pictures from the médiathèque. `

[2019-12-28 21:28] aleene opened #540 "Image upload"
**Summary:**
@raturina: `And what happens is you upload a picture, refresh the product details and nothing happens. 😭 Because for info retrieval the system language is respected and you wont see your fresh pictures. `

[2019-12-30 14:48] aleene opened #545 "The login button is always greyed out"
**Summary:**
#508 is still not solved in build 35.

[2019-12-30 14:57] aleene commented on #545
The intention was that the button is enabled when the username AND password were set. Works on my iPad. I'll disable it for the moment.

[2019-12-30 22:12] odtvince commented on #294
I am not sure about this one either

[2019-12-31 10:33] teolemon commented on #304
(Android equivalent bug: https://github.com/openfoodfacts/openfoodfacts-androidapp/issues/2629)

[2020-01-04 18:43] teolemon opened #548 "Ingredient analysis is broken"
**Screenshots**
![image](https://user-images.githubusercontent.com/1689815/71770187-0bb89700-2f2a-11ea-93e6-51e5681cead4.png)

**Summary:**
The ingredient analysis is blank, and clicking on the icon space sends empty popups.

**Steps to reproduce:**

 - Scan a product with ingredients completed
 -  Slide up
 -  Look at the main tab

**Expected behavior:**

Red, grey and green icons should appear,

[2020-01-05 09:28] aleene commented on #548
The functionality works. However this requires the refresh of the taxonomies. Re-installing the app helps for this.

[2020-01-05 13:48] teolemon commented on #548
What's our current taxonomy refresh mechanism for iOS ? on app reinstall ? monthly ? on server file update ?

[2020-01-05 16:29] aleene commented on #548
Normal refresh is once per month. I'll see if I can make an exception if a taxonomy is missing.

[2020-01-09 10:55] teolemon commented on #537
I have made mockups in a previous bug:
https://github.com/openfoodfacts/openfoodfacts-ios/issues/171

[2020-01-09 17:15] teolemon commented on #272
The questions should also be visible to non-logged users, with a setting to hide them, if that annoys them
https://user-images.githubusercontent.com/1689815/69482793-173f7b00-0e20-11ea-864b-15f597ad56f9.png

[2020-01-11 09:08] #304 closed

[2020-01-11 12:09] #154 closed

[2020-01-11 19:53] aleene commented on #532
The latest build (37) uses the latest xcode version.

[2020-01-11 19:53] #532 closed

[2020-01-15 11:14] stephanegigandet opened #553 "Disable search as you type: it does not work and causes performance issues on the server"
The app currently sends a search query to the server for each character typed by the user in the search box:

---  1579086525      25322   h - map:  - graph:  - download:        page: 1  count:
---  1579086525      25317   ha - map:  - graph:  - download:       page: 1  count:
---  1579086525      25294   ham - map:  - graph:  - download:      page: 1  count:
---  1579086526      25322   hamb - ma

[2020-01-15 11:19] stephanegigandet commented on #553
Plus it actually prevent us from building a useful search as you type feature: if we have only whole queries in the search logs, then we can use them to build a working such as you type feature.